[2018-11-24 22:08] programarivm opened #704 "webproxy tests: api/v1/nodeinfo/foo returns an HTML doc instead of a JSON response"
I just run this test in https://github.com/ExchangeUnion/xud/pull/700:

    node node_modules/.bin/mocha -r ts-node/register test/webproxy/nodeinfo/HttpStatus404.spec.ts

Here is the output obtained:

[code]

This is because `test/webproxy/nodeinfo/HttpStatus404.spec.ts` expects a JSON object with a gRPC status code `5 NOT_FOUND`:

[code]

[2018-11-25 16:07] dopetard commented on #471
As discussed, The reason I feel GUI might not be best option at this stage of the project is because the traders using XUD would need to have some level of technical proficiency (at-least with terminal) to be able to setup LND and XUD anyway.  Sparkswap is using cctx (the pakage @kilrau mentioned). Their CLI is meant as a proof of concept and its not a legit trading interface. They have mentioned

[2018-11-25 20:05] ImmanuelSegol commented on #681
@sangaman @kilrau  How should I move forward on this?
Personally, I think we should go for `get` but @sangaman has a good point and I agree with him.

[2018-11-26 00:03] kilrau commented on #693
Revised description, was not clear

[2018-11-26 00:07] kilrau commented on #573
Agree, let's do that @ImmanuelSegol

[2018-11-26 07:57] kilrau commented on #694
I think best drop it in both places. UX first :1st_place_medal:

[2018-11-26 08:03] kilrau commented on #159
Updates here? @moshababo

[2018-11-26 10:25] kilrau opened #706 "Slate Documentation"
https://github.com/lord/slate

[2018-11-26 10:48] kilrau opened #707 "Translate gRPC calls to make them CCXT-compatible"
We aim to make `xud`'s main calls ccxt compatible, so that professional traders can easily connect their existing GUI + algorithms. As per https://github.com/ExchangeUnion/xud/issues/471#issuecomment-441451581  we will not start a GUI project on our own.

[Here](https://github.com/ccxt/ccxt/wiki/Manual#unified-api) is the full list of all unified ccxt API methods (subset of methods common among th

[2018-11-26 10:48] kilrau commented on #471
Thx, opened https://github.com/ExchangeUnion/xud/issues/707 closing here.

[2018-11-26 10:48] #471 closed

[2018-11-26 10:55] kilrau commented on #704
Great! Would you also be interested in earning XUC for fixing this? @programarivm

[2018-11-26 10:55] kilrau commented on #703
Great! Would you also be interested in earning XUC for fixing this? @programarivm

[2018-11-26 12:09] kilrau commented on #689
How about `ListOrderHistory <orderID>` ?

[2018-11-26 12:13] kilrau commented on #402
Let's do it

[2018-11-26 20:30] programarivm commented on #703
Thank you! That sounds really good, the only thing is that I have to manage my time to commit on a regular basis. Let me see if I can fix this one.

[2018-11-26 20:31] programarivm commented on #704
Thank you! That sounds really good, the only thing is that I have to manage my time to commit on a regular basis. Let me see if I can fix this one.

[2018-11-26 20:45] programarivm commented on #704
I am not too clear that the webproxy should return this:

[code]
I wonder if it makes sense that it will be transparent to users in a sense that won't inform about the gRPC service being used.

That way, the webproxy response should look like this:

[code]

[2018-11-26 21:02] programarivm commented on #703
I am not too clear about the webproxy returning this:
[code]
I think it makes sense that it'll be transparent to users in a sense that won't inform about the gRPC service being used.

That way, the webproxy response should look like this:
[code]

[2018-11-27 15:28] moshababo opened #708 "Rate limit for certain packet types"
Rate limit for certain packet types like `GET_ORDERS`, per nodePubKey.

This is an offshoot from #157.

[2018-11-27 15:34] moshababo commented on #157
Lets limit the scope of this issue solely to:

* On receiving, verify the packet data integrity via the checksum/hash field.

In regards to the others:

* Receive data structure of packet is what we expect -

#159 will make this unnecessary.

* rate limit for certain packet types like GET_ORDERS per nodePubKey -

I don't think it's related to here. I've opened #708.

[2018-11-27 15:47] moshababo commented on #159
It seems to be working fine. I still have more work to do, including to convert all the packets & testing. I won't be working on Thursday, so if I won't finish this by tomorrow, i'll finalize it on the weekend.

[2018-11-28 15:34] offerm opened #711 "max channels size vs what we need for trading using real LTC/BTC rate."
Current channel limitation for BTC is ~0.16777 BTC.
Current channel limitation for LTC is ~10.066 LTC (60*~0.16777)

The channels that we currently open on `simnet` environment have capacity of 0.1 BTC and 0.1 LTC. We push half of the capacity to the peer so the channel can be used in both directions. so the capacity of each side is 0.05 BTC

currently 1 litecoin = 0.0081 BTC.
1 BTC = 123 LTC

If

[2018-11-29 07:54] kilrau commented on #711
I don't see a problem with that

I'd go for 1 BTC = 100 LTC, rate and small quantities as default orders on xud1,2,3: <0.01 BTC and <0.1 LTC. I will also add a hint for this to the wiki once that's done, so let me know @offerm

[2018-11-29 07:56] kilrau opened #713 "Exchange Guide Wiki Additions"
* channel size/trade size and rate hint --> DONE
* supported node versions: 10 and above --> DONE
* rpc port is used by default xud in xud-simnet: 8886 --> DONE
* `grpc_status 14` - has to be SSL --> DONE
* And after restarting xud the open orders I placed is gone. Does this means I need to track all xud holding orders in 3rd party exchange and put them back to xud after every restarting of xud --

[2018-11-29 16:11] offerm commented on #699
Log file:

[code]

[2018-11-29 16:12] offerm commented on #699
@sangaman The problem is due to a stream connection which is open to the server.

You can reproduce by the following:

1. start xud
2. xucli streamorders &
<PID>
3. xucli shutdown

The process will not exit until you kill  <PID>

[2018-11-30 04:35] sangaman opened #714 "Remove part of an order"
Currently we can only remove an entire order via the rpc layer. I think it would probably be useful to be able to remove only part of an order by specifying a quantity on the `RemoveOrderRequest`.

[2018-11-30 08:06] sangaman commented on #661
I moved this to alpha.6 because it depends on #671, but this should be a priority once #671 is merged.

[2018-11-30 08:07] sangaman commented on #654
I'll open a PR for this after #710 is merged, as there is some overlap and room for potential conflicts.

[2018-11-30 08:42] offerm commented on #699
Will check thebPr later today.

Looks like this is not the only reason why shutdown may not work. I face it
on a different configuration even without the stream. Will try to
understand why and let you know.

On Fri, 30 Nov 2018 at 9:24 Daniel McNally <notifications@github.com> wrote:

[2018-11-30 09:14] kilrau commented on #552
I understand what you are saying is that the exchange could still try to invalidate/remove its `ownOrder` while it's currently being swapped with a peer BUT this is something we strictly should avoid IMO by XUD removing the order from the exchange *before* finalizing a swap with a peer. An exchange is not used to a "pending removal" or failed removal. This would be new functionality to implement w

[2018-11-30 10:43] offerm commented on #699
Yes.
If a node has an incoming connection, `shutdown` will not work.
@sangaman

[2018-11-30 13:02] moshababo commented on #157
Waiting for #159.

[2018-11-30 13:03] #666 closed

[2018-12-01 20:43] offerm commented on #711
Made the suggested change - The channels are now 1.6 BTC and 9.6 LTC. When creating a channel, half is pushed to the peer so each side has 0.8 BTC and 4.8 LTC.

Assuming the rate is 1 BTC = 100 LTC, we would need 80 LTC to trade the 0.8 BTC. We only have 4.8 LTC.

Likewise,  0.01 BTC  would trade against 1 LTC. Since we only have 4.8 LTC in the channel this will create a stress very fast.
0.1 LTC

[2018-12-01 20:58] offerm commented on #711
Here is the current order book or LTC/BTC @ bitstamp
<img width="750" alt="screen shot 2018-12-01 at 22 56 37" src="https://user-images.githubusercontent.com/9712754/49332800-6d3a6380-f5bc-11e8-8453-3a39e5b86556.png">

[2018-12-02 17:30] #699 closed

[2018-12-02 17:33] sangaman opened #719 "Inbound peers block shutdown process"
As identified in #699 by @offerm, we aren't closing pending inbound peer connections on shutdown. This can prevent `xud` from shutting down gracefully.

Edit: Per offer, it's not a pending connection that causes this issue but an established one. There must be something else coming into play because simply getting an inbound peer and shutting down doesn't reproduce the bug for me.

[2018-12-02 18:18] sangaman commented on #402
I haven't thought about it too deeply yet. But yes if `discover` is enabled, we want to set a schedule to repeat sending the `GetNodes` packet. We also want to make sure to end the timer when we disconnect from that peer.

[2018-12-02 19:35] rsercano commented on #402
Gotcha, assigning to myself, hopefully will come with a PR asap.

[2018-12-02 19:46] offerm commented on #402
Question : why do we need to ask the peer for new nodes? Why can't the peer
push it when it discover a new node?

On Sun, 2 Dec 2018 at 21:35 Sercan Özdemir <notifications@github.com> wrote:

[2018-12-03 03:08] kilrau opened #721 "[Overview] Reconnect to peer after disconnection (Improvements)"
Improvement of https://github.com/ExchangeUnion/xud/pull/695:
* #738 - Reconnect after receiving AlreadyConnected disconnecting reason
* #739 - Reconnect only for outgoing peers. No need to reconnect incoming peers.
* Bug: A will not reconnect to B when B is down with xucli shutdown
* Bug: If A and B are connected (both can initiate the connection) and you take B down (kill), start B, wait a minut

[2018-12-04 13:03] moshababo opened #722 "Revoke connection retries"
When attempting to connect to an unreachable node, connection retries procedure might trigger, which will last a long time. During that time, it's not possible to connect to a different address of the same `nodePubKey`.

We should add support for cancelling the connection retries, perhaps by re-adding the `disconnect` cmd, which was removed, and apply it on the connection retries as well.

[2018-12-04 14:40] kilrau opened #723 "[Concept] Handling of trading fees (nomatching mode)"
Based on our [technical paper](https://github.com/ExchangeUnion/Docs/blob/master/XU-TechnicalPaper.md#38-exchange-earnings), this issue defines handling trading fees for exchanges running `xud` in `nomatching` mode:
* as **taker**, exchanges subtract trading fees from the user account, not in the match itself
Approach a) let the exchange subtract the fee from the swap amount before calling `execut

[2018-12-04 15:06] kilrau opened #724 "[Concept] Handling of trading fees (matching mode)"
Based on our [technical paper](https://github.com/ExchangeUnion/Docs/blob/master/XU-TechnicalPaper.md#38-exchange-earnings), this issue implements handling trading fees for exchanges running `xud` in `matching` mode:
* `taker_fee` & `maker_fee` are defined in `xud.conf` in % (e.g. `taker_fee = 0.25` means taker fee is 0.25%), reminder to store consistent with datatype as per https://github.com/Exc

[2018-12-04 15:45] #616 closed

[2018-12-04 15:45] #698 closed

[2018-12-04 16:47] #550 closed

[2018-12-04 17:53] kilrau commented on #722
How this happened:
we setup 2 environments with 2 different xud's and 2 different `nodePubKeys` but which (for some reason) had the same IP. Connecting xud1 one to xud2 succeeded once. Then we noticed the IP issue, changed IP of xud 2 and tried connecting again. Not possible because `xud` threw an "Already exisitng connection attempt". Problem: "Already existing connection attempt checks only `nod

[2018-12-05 06:59] reliveyy opened #725 "SubscribeAddedOrders response missing `side` field for buy orders"
![image](https://user-images.githubusercontent.com/4723958/49495544-46bb4780-f89e-11e8-85cc-522217c4f5bb.png)

[2018-12-05 09:08] kilrau commented on #724
Thinking about this a bit more: Since all of this anyways requires conversions to get fees quoted in the same currency anywas, we could also merge the regular trading fees (https://github.com/ExchangeUnion/Docs/blob/xud-misc/XU-TechnicalPaper.md#38-exchange-earnings) with the XUC incentive fee (https://github.com/ExchangeUnion/Docs/blob/xud-misc/XU-TechnicalPaper.md#39-incentivisation---the-role-o

[2018-12-05 09:12] kilrau commented on #725
@rsercano ?

[2018-12-05 09:22] reliveyy opened #726 "unban doesn't work"
[code]

[2018-12-05 09:29] reliveyy opened #727 "xucli buy creates infinte order"
Somehow I got this caught in an infinte loop continuously creating orders:
[code]

[2018-12-05 09:37] reliveyy opened #728 "SubscribeAddedOrders should have `existing` true by default"

[2018-12-05 09:45] reliveyy commented on #728
I think let `existing` be true may cause unexpected overload on this RPC call and I think the existing orders push feature in `SubscribeAddedOrders` is little wired because there is another order feed call `SubscribeRemovedOrders`. Why not put existing orders push in this RPC call? Maybe another RPC call `GetOrders` should be in `nomaching` mode.

[2018-12-05 09:50] reliveyy commented on #727
[bug.txt](https://github.com/ExchangeUnion/xud/files/2648185/bug.txt)

[2018-12-05 09:51] #534 closed

[2018-12-05 09:52] kilrau commented on #728
As we discussed in https://github.com/ExchangeUnion/xud/issues/534, "existing" should be true on default @ImmanuelSegol

[2018-12-05 09:57] reliveyy commented on #727
This is not the `xud` bug. It was caused by my testing code which created the infinite loop. Close the issue.

[2018-12-05 09:57] #727 closed

[2018-12-05 11:42] reliveyy opened #729 "xud crash 01 (+order not found bug)"
[xud.log](https://github.com/ExchangeUnion/xud/files/2648655/xud.log)

[XUD]ExecuteSwap: order_id=727eb1f0-f7e4-11e8-b384-c3957b6da77d, peer_pub_key=03fd337659e99e628d0487e4f87acf93e353db06f754dccc402f2de1b857a319d0, quantity=0.001

1. From the log it told me the order with id `727eb1f0-f7e4-11e8-b384-c3957b6da77d` is not found. But the order existed in the order book. (could reliably reproduce at

[2018-12-05 11:56] reliveyy commented on #729
Tried to swap with another order and `xud` crash again

[xud2.log](https://github.com/ExchangeUnion/xud/files/2648690/xud2.log)

[2018-12-06 02:15] reliveyy commented on #729
I installed `xud-simnet` in an vagrant vm (ubuntu/bionic64)
1. Running [the xud-exchange-integration-example](https://github.com/reliveyy/xud-exchange-integration-example)
2. Type `connect <host> <port>` or just `connect` to your `localhost:8886`
3. Type `orderbook` see the full orderbook
4. Type `login alice`
5. Type `buy 0.001` or `sell 0.001` then `xud` crash down and `xucli` cannot get respons

[2018-12-06 03:46] kilrau commented on #711
done

[2018-12-06 03:46] #711 closed

[2018-12-06 03:49] kilrau commented on #706
Ok for you to take over? @ImmanuelSegol

[2018-12-06 04:43] reliveyy opened #732 "xud crash (after one successful call)"
This is related to https://github.com/ExchangeUnion/xud/issues/729. After starting the SIMNET, gRPC immediately become unresponsive after one successful call (`getinfo`).

Not sure if this matters: I noticed my local DNS didn't work in the moment of the gRPC crash. Situation might be reproduced by disabling your local DNS lookup for a while.

[code]

[2018-12-06 04:46] reliveyy commented on #732
[xud3.log](https://github.com/ExchangeUnion/xud/files/2651717/xud3.log)

[2018-12-06 04:50] kilrau commented on #729
Updated Yangyang's description above. It's the gRPC crashing/being unresponsive, not `xud` itself. The `xud` process is still running. @moshababo

[2018-12-06 05:34] rsercano commented on #725
Hopefully this Saturday I'll check both issues @kilrau sorry for the delay

[2018-12-06 05:57] kilrau opened #733 "remove local_id from `SwapResult` in nomatching mode"
Currently nomatching mode (here a `SwapResult`) still maintains a `local_id` which doesn't make sense to me. There should be only one (global) `order_id`.

[code]

[2018-12-06 06:23] kilrau opened #734 "ExecuteSwapRequest improvements"
add `result: completed` / `failed`. This won't necessarily be used programmatically in the end, but makes the situation much clearer for engineers integrating & testing `xud`. Feedback from our test integration.

[code]

[2018-12-06 06:38] kilrau commented on #609
Output today:
[code]

How it should be:
[code]

[2018-12-06 06:39] kilrau commented on #690
Moved this to https://github.com/ExchangeUnion/xud/issues/609#issuecomment-444764981, closing here.

[2018-12-06 06:39] #690 closed

[2018-12-06 06:46] kilrau commented on #688
Doesn't look like we have consensus on this one yet. Other opinions? @moshababo @erkarl @ImmanuelSegol @michael1011

[2018-12-06 07:09] kilrau commented on #676
* swap with the smallest amount per currency. 1 satoshi against 1 litoshi. Goal is to check that a route exists and resolver works. NOT channel capacity check, since this changes frequently and doesn't make sense to only check once on handshake
* done on handshake or immediately after handshake
* do we have a way to gracefully cancel the swap right before pre-image release? If so, that would be th

[2018-12-06 07:21] #638 closed

[2018-12-06 08:39] kilrau commented on #402
Latest summary of what is to be implemented in this issue:
* query GET_NODES on handshake with peer
* periodically query GET_NODES from all our peers (proposal: 1h), store & connec to new peers
* `xud.conf` option `auto_connect_peers` . `false` on default.

[2018-12-06 08:41] kilrau commented on #402
Concerns? Anything to add? @offerm @sangaman @rsercano

[2018-12-06 08:43] kilrau commented on #341
As discussed in the weekly call, our goal is full encryption. Hence signing and verifying the handshake is a first step, post-handshake encryption covers both - authenticity & encryption of each packet.

[2018-12-06 08:44] sangaman commented on #729
If an order is missing, you should get a NOT_FOUND grpc error without any crashes. You should be able to verify this by using a fake order id.

When the order is found for the `ExecuteSwap` call, it's removed up front (or only part of it if the quantity specified is less than available). I'm thinking it would be nice to log a message that we've begun the execute swap rpc call tho, I'll open a PR f

[2018-12-06 08:46] kilrau commented on #169
Related: https://github.com/ExchangeUnion/xud/issues/660

[2018-12-06 08:53] sangaman commented on #732
I can't reproduce this. DNS should not impact the rpc layer assuming you're making calls on the same machine as the server or using IP addresses. Do you have a different setup?

Does this issue persist for you? Is the xud process crashing?

[2018-12-06 08:55] sangaman commented on #729
Just to be clear, is the `xud` process itself crashing? What's the output from the `xucli` calls?

[2018-12-06 10:24] kilrau commented on #729
No. `xud` process is still up.

`Error: 14 UNAVAILABLE: Connect Failed`

[2018-12-06 10:43] reliveyy opened #735 "xucli connect to a peer which banned me shows success (but connect failed)"
vagrant@xud-simnet-1:~$ xucli connect 030b20e28e42b95677587c7b2d4a7f2aeaf886491ef70648191ce57d55012e4b58@192.168.33.11:8885
success

vagrant@xud-simnet-2:~$ xucli connect 037c514ee25ebbfc10726442325bdf3210b6ee80a9b3618aa96788a06b01696535@192.168.33.10:8885
Error: 9 FAILED_PRECONDITION: could not connect to node 037c514ee25ebbfc10726442325bdf3210b6ee80a9b3618aa96788a06b01696535 because it is banned

[2018-12-06 10:44] reliveyy commented on #735
simnet-2 banned simnet-1, but connection attempt from 1 still shows "success". It should show an error message.

[2018-12-06 11:09] kilrau commented on #729
Correct, crashes appear independent from `NOT_FOUND`. We are not seeing the `NOT_FOUND` bug today, so can't reliably tell why they appeared yesterday. Anyhow, let's ignore it for now.

gRPC consistently crashes in different situations. Swap is working. It looks like the gRPC crashes  (`Error: 14 UNAVAILABLE: Connect Failed`) happen independently from `NOT_FOUND` or swap success/failures. Our guess

[2018-12-06 11:30] kilrau commented on #728
More feedback from @reliveyy :
* he'd prefer a combined `SubscribeOrders` feed with `added` and `removed` events.
* `existing` flag easier to understand like this(rn `existing` only in `SubscribeAddedOrders`, but not in `SubscribeRemovedOrders, true on default is fine, all flag fine too
* with the `all` flag the initial push could be very large (potentially all orders within exchange union). In th

[2018-12-06 11:31] kilrau commented on #728
What do you think? @ImmanuelSegol @sangaman @moshababo

[2018-12-06 11:36] kilrau commented on #732
It shouldn't impact the RPC, but it's just a guess. Might be something totally different.

We are directly using the terminal on the machine where `xud` is running.

[2018-12-06 11:51] kilrau commented on #732
We mislead you: `xud` process is always down when `Error: 14 UNAVAILABLE: Connect Failed` is thrown. Just reproduced that several times.

[2018-12-06 11:51] kilrau commented on #729
closing this

[2018-12-06 11:51] #729 closed

[2018-12-06 12:05] kilrau commented on #732
Are you running `xud` in `nomatching` mode invoking the `ExecuteSwap` Call?

[2018-12-06 12:26] reliveyy opened #737 "Why two xud-simnets on the same host machine have different lightning channel numbers?"
xud-simnet-1 on vm-1
[code]

xud-simnet-2 on vm-2
[code]

xud-simnet-1
[code]

xud-simnet-2
[code]

vm-1 and vm-2 are on the same host machine.

[2018-12-06 19:44] offerm opened #738 "Reconnect after receiving AlreadyConnected disconnecting reason"
My node is up and running connected to test1,2,3.  My node does advertise listen address.
After some time, the node is not connected to the test servers any more.

Here is the log:

[code]

From what I see there was a  network problem, my node detected it and tried to reconnect. It got `already connected` from the test nodes since the test nodes didn't detect yet the problem.
After `already connec

[2018-12-06 19:46] offerm opened #739 "Reconnect only for outgoing peers"
Seen this on test2 server:

[code]

We should eliminate such reconnection.

[2018-12-06 21:47] ImmanuelSegol commented on #728
1) What would be the benefit of having them combined?
2) I didn't really understand what you wrote there.
3) I agree this could be an issue when dealing with massive amounts of existing orders.

I think `streamorders` command is pretty awkward why do we return streamed orders with existing order? If we separate the command to `getExistingOrders` and `streamorders` it would solve most of these prob

[2018-12-07 05:48] kilrau commented on #728
1. Seems more logical
2. `SubscribeAddedOrders` has a `existing` flag, whereas `SubscribeRemovedOrders` doesn't. Confusing in the first moment (even though it makes sense).

I like your proposal to have `GetExistingOrders` and `StreamOrders`. It would enable to
* have a very clear distinction between existing orders and an order stream and make it more flexible for the exchange to use
* no confusi

[2018-12-07 06:46] sangaman commented on #728
I'm hesitant to combine the added and removed calls - we discussed this a lot and it would be a pretty significant change. Personally it still makes more sense to me to keep them separate, and maybe a solution would be to have a separate combined call like `SubscribeOrders`. But if we want to discuss that more let's put it in a separate issue.

I see no reason to put an `existing` flag on `Subscri

[2018-12-07 06:54] sangaman commented on #706
Basically, what I started on is writing a script that will take a proto file like ours and convert it to [markdown syntax](https://github.com/lord/slate/wiki/Markdown-Syntax). Then we just have to check that in to the https://github.com/ExchangeUnion/slate fork I created and [deploy it](https://github.com/lord/slate/wiki/Deploying-Slate). I was also thinking of eventually putting code examples dir

[2018-12-07 06:55] sangaman commented on #732
I haven't been running in `nomatching` mode so I will give that a try tomorrow and see if I can figure anything out. If I'm still stuck we should maybe try to set up a time to debug this in real time together.

[2018-12-07 07:14] kilrau opened #740 "gRPC `SubscribeAddedOrders` + `SubscribeRemovedOrders` float issue"
[code]

should be `23.9781`

[2018-12-07 07:44] moshababo commented on #739
That's how it was implemented according to [this proposal](https://github.com/ExchangeUnion/xud/issues/311#issuecomment-413327480).
If you have a different idea on how to do it, let's discuss it here.

[2018-12-07 07:57] moshababo commented on #738
I'm not sure I understand how this could happen, because if you managed to reconnect then the previous socket with the peer should have already detected the disconnection.

But anyway, this is again another problem that merely applying reconnecting won't help, because it will lead to connect-disconnect loop. The only reasonable way to implement this is with delays on the initial connection attempt

[2018-12-07 08:50] kilrau commented on #732
We just found it. If no payment channel exists between two nodes and one calls `executeSwap` for a swap between the two nodes `xud` crashes.

[2018-12-07 11:51] kilrau commented on #737
https://github.com/ExchangeUnion/xud-simnet/issues/17

[2018-12-07 11:51] #737 closed

[2018-12-07 20:17] offerm commented on #738
I disagree.
Applying simple reconnect will solve the problem in 1-3 attempts in the
worst case. This will not be an endless loop.
Delay the initial connection is not a good solution since in most cases,
you will not see the problem so the delay would be for nothing.

I strongly advise to keep things simple.

On Fri, Dec 7, 2018 at 9:57 AM Moshe Shababo <notifications@github.com>
wrote:

[2018-12-07 20:20] offerm commented on #739
I'm not sure how this is related to the link.

The problem is that we try to connect to localhost:9885 but there is no XUD  listening on it.
Somehow we got wrong information, we failed to validate it and we are using it.

Let's agree that it is wrong and find a way to fix it.

[2018-12-08 20:08] rsercano commented on #725
This is strange because it seems like the side field is set everytime, even in cases that state of the order is not clear; [check here](https://github.com/ExchangeUnion/xud/blob/d5387576f5620c7bb633f04a4c6de439328678d0/lib/grpc/GrpcService.ts#L34)

Are you sure this bug still exist with the current master ?

[2018-12-09 23:41] ImmanuelSegol commented on #728
@kilrau When returning a limit of 10 buy/sell should we return the first in the list, or should we return buy/sell orders based on some sort of "relevance", such as date of creating etc.
As @sangaman stated in #730 Im returning an arbitrary set of orders which is not useful.

[2018-12-10 10:46] moshababo commented on #739
I thought you’re referring to the multiple connection attempts.

From what the logs tell, we’re reconnecting after we disconnected due to `ResponseStalling`, and we’re applying connection retries on it. If the peer was outbound, it’s the address we were connected to. If it was inbound, it’s the first address from his advertised addresses list.

What from these do you find problematic?

[2018-12-10 12:01] offerm commented on #739
XUD2 does not have and never had xud process running on port 9885.

Yet, the connection retry is done on (127.0.0.1:9885).

I'm not saying that there is a problem with the connection mechanism, but let's agree that there is a problem if the outcome is that xud2 is trying to connect to wrong host/port.

[2018-12-10 12:26] moshababo commented on #738
The reason i'm saying it will lead to a loop is because the disconnection happens immediately, unlike `ResponseStalling`, which is the only case we're applying reconnection on.

In regards to delay on the reconnection - I thought you already asked for this feature.

I opened #742 for you to test. If there won't be a loop in your case (which I couldn't reproduce), we can merge it, and check out if

[2018-12-10 12:33] moshababo commented on #739
Did XUD2 advertised `127.0.0.1:9885` address?

[2018-12-10 12:41] offerm commented on #739
Never.

On Mon, 10 Dec 2018 at 14:33 Moshe Shababo <notifications@github.com> wrote:

[2018-12-10 13:03] moshababo commented on #722
Implementing **Solution01** isn't straightforward - we structured many features on the premise having one-to-one relationship between a connection and a `nodePubKey`.
Also, it might not even solve the problem - the connection retries wouldn't trigger if "Already existing connection" error is thrown. They probably started when you weren't connected, so implementing **Solution01** might not be relev

[2018-12-10 13:16] moshababo commented on #739
Then i'll need steps to reproduce.

[2018-12-10 20:38] sangaman commented on #722
How about when we manually try to connect to a given node pub key, we cancel any pending connections for that node pub key and then start the manual attempt. That should solve the problem, right? I think it would be easier/cleaner to implement.

[2018-12-10 20:44] sangaman commented on #402
I also don't see the need for `auto_connect_peers`.

As for your second bullet point, I think that's right.

[2018-12-10 21:15] sangaman commented on #733
Sorry I'd missed this earlier, conceptually I don't follow though. Why wouldn't we want a local id for nomatching mode? What if an order has an id on the local exchange? Wouldn't we want a way to track that id in `xud` and associate it with the global order id?

[2018-12-10 21:18] sangaman commented on #725
Where is the output in the original post from? It does seem like we always set a side, for both buys and sells. I'm wondering if the issue is that since the value for `BUY` is 0, and if you do something like `if (side)` then it may treat 0 as false.

[2018-12-11 05:08] kilrau commented on #732
Did you manage to reproduce? @sangaman @moshababo

[2018-12-11 05:20] kilrau commented on #402
My bad, yep `discover` is enough.

Sounds right.

Do you mean reset the timeout once a peer *connects*? If so, yes. Once a peer disconnects, the reconnect cycle with increasing timeouts as per #311  starts

[2018-12-11 05:36] rsercano commented on #725
Great point @sangaman will investigate a bit further

[2018-12-11 05:54] sangaman commented on #732
Not yet but I'm looking at it now, do you happen to have any more logs or any of the output from the crash? I did find a bug with the `xucli executeswap` command and opened a PR to fix it but I don't think it's the cause here unless you're using the command line.

[2018-12-11 06:07] kilrau commented on #341
Yes, go ahead we definitely need to sign in addition to encrypting @moshababo

Thinking more about this, we might extend this issue (can do a separate issue) to sign *all* p2p packets to prevent man in the middle attacks which somehow manage to hijack a socket. What do you think? @moshababo @sangaman @offerm

For [encryption](https://github.com/ExchangeUnion/xud/issues/158), I vouch for signing fi

[2018-12-11 06:22] kilrau commented on #733
Yep, that's exactly what we want. BUT `local_id` is not an order id the exchange system assigned to an order; it's another uuid `xud` generated for this order. @sangaman

To visualize what we have:
`exchange_order_id` + `local_id` + (global) `order_id`

and what we want:
`exchange_order_id` <-> (global) `order_id` maintained within `xud`

[2018-12-11 06:30] offerm opened #745 "channelID received from LND gets corruptedby XUD and can't be used"
I'm connected to xud1 and try to swap with it. should send BTC to xud1 and get LTC from xud1. LTC route from xud1 to me is xud1->xud2->xud3-me. When I do queryroutes on xud1 I get:
[code]
But when XUD does it gets :
[code]
If you look carefully the channelID for the first hop that XUD prints is 139024449239580670 while queryroutes shows 139024449239580673

3 at the end is missing!

As a result the

[2018-12-11 06:31] offerm commented on #745
Reason for the problem (most probably can be found here):

https://github.com/protocolbuffers/protobuf/issues/3666
and
https://stackoverflow.com/questions/9643626/does-javascript-support-64-bit-integers

[2018-12-11 06:52] offerm commented on #739
A connects to B.
A advertise that it listens on `127.0.0.1:9885`
connection between A and B dropped

Result:
B will try to connect to A using `127.0.0.1:9885`

[2018-12-11 06:56] offerm commented on #745
May be relevant
https://github.com/agreatfool/grpc_tools_node_protoc_ts/issues/10

[2018-12-11 07:11] kilrau commented on #745
@sangaman @moshababo can you jump in here, looks indeed like `xud` has some integer problem...

[2018-12-11 07:23] kilrau commented on #732
Only https://github.com/ExchangeUnion/xud/files/2651717/xud3.log

And no we used the gRPC, so that won't fix it: https://github.com/kilrau/xud-exchange-integration-example/blob/master/engine.py#L392

You can just spin up our test exchange and connect it to xud to reproduce the behavior: https://github.com/kilrau/xud-exchange-integration-example/

[2018-12-11 08:10] sangaman commented on #745
I've been researching this issue for a while, it seems like all 64 bit integers defined in the proto file are being defaulted to numbers instead of strings in the generated javascript code. This causes us to lose precision anytime the number is greater than 2^55.

Adding `jstype=JS_STRING` to the field definition in the proto file seems to partly fix the issue for a given field - but it's not upda

[2018-12-11 08:14] sangaman commented on #732
There's really no output when the xud process stops? It just silently goes away? Very weird, maybe I'll have to try this again later with the exchange because I can't reproduce and am running out of ideas.

[2018-12-11 08:23] kilrau commented on #728
That is true I'm afraid. We should return the 10 **best** buy/sell orders. Anyhow, after some more thinking and considering @sangaman 's response, I fix the scope of this issue to:
* don't change any naming of the calls
* add buffer for `existing` flag in `SubscribeAddedOrders` to not block order updates while `existing` is still running. It always returns **all** orders from a peer, no matter how

[2018-12-11 08:34] kilrau commented on #732
Yup, it just crashes and that's it. Let me spin up a test environment with the two exchanges on GCloud for ya

[2018-12-11 08:43] sangaman commented on #745
An option is to use the [protobufjs](https://www.npmjs.com/package/protobufjs) library to generate proto code instead of `protoc`. They support the `long.js` package for 64 bit types which supports 64 bit numbers. I've played with it a bit and it seems like it should work. It would require changing around the proto scripts but it might be the cleanest approach. We can discuss tomorrow.

[2018-12-11 09:00] sangaman commented on #728
I think the max results/sorting on `getorders` should be handled separately, and let's talk about it tomorrow.

I don't think a buffer would really apply in this case. Sending all orders should happen very fast, even a large number of them. `xud` loops through everything once and then moves on, we're not blocking on or waiting for data to be transmitted. Also, we specifically want this all to happ

[2018-12-11 11:15] rsercano commented on #725
No luck ! Can you please tell us how to reproduce this ? @reliveyy

[2018-12-11 14:08] sangaman commented on #733
In that taker image on the right, the `local_id` is the randomly generate global order id - since no local id was specified the local and global ids are the same.

I can see how that may be a little confusing, but what if the exchange does want to associate a taker order with an actual order on their exchange? Imagine I'm an exchange in no matching mode, I get order 123 and match it with an order

[2018-12-11 14:38] moshababo commented on #722
@sangaman i'd say that having implicit side effects is less optimal, but since it's just about cancelling the connection retries (and not an actual connection), it should be fine.

[2018-12-12 15:49] kilrau commented on #732
Done, check Slack @sangaman

[2018-12-12 19:24] moshababo commented on #341
Signing is in the messaging protocol level, so yes it should be done before the encryption (which is part of the wire protocol).
I thought of implementing the encryption similarly to [BIP 151](https://github.com/bitcoin/bips/blob/master/bip-0151.mediawiki). Let me know what you think.

I'm not sure it's necessary if both sides are authenticated and the channel is encrypted. I'd say it's needed onl

[2018-12-12 21:59] offerm commented on #745
@sangaman can you please post a PR for this even if not final.
It is currently blocking me without an easy workaround.

[2018-12-12 21:59] sangaman commented on #745
Yes, I've been working on it. Expect a PR soon.

[2018-12-12 22:06] #552 closed

[2018-12-13 01:42] reliveyy commented on #725
@rsercano Please check [my testing code](https://github.com/reliveyy/xud-exchange-integration-example/blob/dev/xud_subscribe.py#L16) and uncomment two print lines. And this is reproduced on gcloud exchange-b.

[2018-12-13 07:16] rsercano commented on #725
@reliveyy yeah now I reproduced it, you're right this seems a bit tricky can be related with streaming **zero** will try with another value.

[2018-12-13 08:47] rsercano commented on #725
Hello again, seems like our streaming is working properly, somehow generated enum in python doesn't print properly so that's nothing to do with the core code.

I'm not really familiar with **python**, but if you make it write `response.side`  it prints properly `0` or `1` for the corresponding value.

I guess this issue can be closed.

[2018-12-13 09:05] reliveyy commented on #725
Just confirmed it's my python code printing issue. @rsercano

[2018-12-13 09:05] #725 closed

[2018-12-14 16:50] ImmanuelSegol commented on #728
@kilrau @sangaman I agree I think this isuue should only take care of **`existing` true by default**.
We should open up another issue about max results/sorting on getorders.

[2018-12-15 13:44] michael1011 commented on #561
Maybe we could use this library: https://github.com/go-macaroon/js-macaroon

[2018-12-16 10:53] kilrau commented on #733
Yes, exactly, but the taker should not generate *another* global order id  (`a4ed...`). It should just take the existing one (`8768...`) from the maker and set it as `local_id`. I can't come up with a reason why not, is there? @sangaman

They should be the same, see above.

In short, `xud` never knows about the exchange's internal order_id when acting as a taker hence the exchange needs to do the

[2018-12-16 11:10] kilrau commented on #341
Yep, that sounds good.

Correct. Let's just be alert about this if and when we allow relaying p2p packets in future.

Sounds about right.

Additionally to all the problems you listed, it's not session-specific data. I believe that's the wrong approach.

Public key is the better approach, but it's still lacking session data I believe?

[2018-12-16 11:14] kilrau commented on #725
Good job catching this one! @rsercano

[2018-12-16 11:16] kilrau commented on #728
Ok, then let's do this. Please go ahead and do an offshoot for the max results and sorting. @ImmanuelSegol

[2018-12-16 15:37] ImmanuelSegol opened #748 "ListOrders `all` flag"
If `all` is `true` we return all existing orders, else we return a select number of orders.
We should decide how to select orders to display if -`all=false`:
1) Return by date.
2) Return the 10 best (closest to mid-market price) orders.
3) Some other factor.

@kilrau @sangaman @moshababo Opinions?

[2018-12-17 11:22] kilrau commented on #748
2.

[2018-12-17 14:16] #159 closed

[2018-12-17 18:09] sangaman commented on #748
I firmly believe that this option doesn't make sense for the `SubscribeAddedOrders` call. The point of that call is to be in sync with orderbook.

What is the reason for wanting this option? I tried to explain in #628 why I don't think performance is a concern.

[2018-12-17 18:10] sangaman commented on #728
@kilrau Did you mean an issue for max results/sorting on the `GetOrders` call? That would make more sense to me.

[2018-12-18 05:58] sangaman commented on #733
Because they are separate orders. And the `8768` order is a peer's order, not a local order, so it wouldn't make sense to use it as local id. The local id is used to track the exchange's internal id for an order, and if the taker order has one then we'd want to preserve that data.

Why? You can set a local id via `PlaceOrder` while acting as a taker order. I'm actually thinking we might want to ad

[2018-12-18 14:55] moshababo commented on #158
As discussed in #341,

1: there’s no need to sign all p2p messages while we’re in fully-connected network mode. Signing is necessary only for the communication session authentication.

2: we will encrypt all communication via shared secret key (ECDH/ECDHE) per session. This will make encrypting on white-list peers public key unnecessary, since only the session peer will be able to decrypt it.

[2018-12-18 16:02] moshababo commented on #341
We will make it fully session-specific by using an ephemeral key pair for the key exchange (traffic encryption) and sending it's public key in the handshake data. This needs to be done anyway.

I will work on this together with #158.

[2018-12-18 16:06] moshababo commented on #158
I'm working on this together with #341.

[2018-12-18 16:19] #745 closed

[2018-12-18 16:57] kilrau commented on #728
Yes, fixed https://github.com/ExchangeUnion/xud/issues/748

[2018-12-18 16:58] kilrau commented on #748
Sry, just noticed now that the description said 'SubscribeAddedOrders`. Fixed that. This issue is about adding an `all` flag to `GetOrders`/`ListOrders` ([new])(https://github.com/ExchangeUnion/xud/pull/709).

[2018-12-18 17:53] kilrau commented on #573
use `SubscribeInvoices` streaming call to detect if lnd is down

[2018-12-18 17:56] kilrau commented on #684
* don't block `xud` start when lnd or raiden fails to connect
* how to denounce a pair / protocol
* how to reannounce a pari / protocol

[2018-12-18 18:24] kilrau commented on #740
Can you check this one? @sangaman

[2018-12-18 18:46] sangaman commented on #719
No, this one is still a mystery to me. I haven't been able to reproduce or deduce why it would happen.

[2018-12-18 19:38] sangaman commented on #740
Sorry this slipped by me.

I think this is a shortcoming of using `double` for the proto field definition. There's definitely sufficient precision to round correctly, but the true value will always be something that's off by some tiny amount.

This is also partly a shortcoming of whatever tool was used to create that output, but if we're seeing it there it will probably pop up elsewhere too. It's

[2018-12-18 23:57] sangaman commented on #684
I verified that we actually do connect to peers on startup even without a connection to lnd, however we are advertising the trading pair that we don't have an lnd connection for and that needs to change.

[2018-12-18 23:59] sangaman commented on #684
We already have the ability to add and remove trading pairs (see `addPair` and `removePair` in OrderBook.ts`) so we just need to call these methods, this part should be simple actually.

[2018-12-19 11:49] ImmanuelSegol opened #755 "Test failing: should buffer a max buffer length"
This [test](https://github.com/ExchangeUnion/xud/blob/25f66fe6e7b65e27ea9d477cc57fc6c4d8426182/test/unit/Parser.spec.ts#L282) fails spontaneously(on Travis local test work consistently), its a bit annoying because it can force you to rerun the test multiple times.

[2018-12-20 16:13] offerm opened #758 "Peers disconnect"
@Moshe @sangaman Looks like the latest master is faulty. After connecting nodes, they are disconnected very fast (15 seconds) while claiming for  `stalling`. This is urgent as xud-simnet is basically not working now

Can be seen between xud1 and xud3.   or any other peer running the latest master and connected to these two. Note that xud2 is using an old master and has no issue.

[2018-12-21 00:12] sangaman commented on #758
I've been digging at this for a while and I've narrowed down the issue to the `OrdersPacket` which is always coming up with an incorrect hash. I'm working on a solution now.

[2018-12-24 06:15] sangaman commented on #726
@ImmanuelSegol I think we can leave this closed even pending the new test case. Or open a new issue, but I don't think it's necessary.

[2018-12-24 06:38] #726 closed

[2018-12-24 06:39] ImmanuelSegol opened #764 "Write test for ban\unban functionality"

[2018-12-24 07:14] #671 closed

[2018-12-24 07:31] #758 closed

[2018-12-24 15:39] kilrau opened #765 "`xud-simulation` on build"
https://github.com/ExchangeUnion/xud-simulation/pulls didn't get merged in yet. This issue is about testing the simulation and making it work on travis build (other suggestions?)

[2018-12-24 16:42] #694 closed

[2018-12-24 16:42] #599 closed

[2018-12-24 21:17] offerm opened #766 "xud-restart causes peers to fail"
I have a remote node running connected to xud1,2,3.
restarting xud3 with `xud-restart` yields this to my node:

[code]

[2018-12-24 21:26] offerm opened #767 "remove order is not being send to peers"
My node (A) is connected to xud1,2,3.

listorders shows 2 x sell 2.5@0.0079 (one order from xud1 and one order with xud2).

Using CLI:
[code]
I swap with one of the nodes (xud1 in this case):
[code]
Post swap the sell order is replaced by the bot on xud1 and my node shows again 2 sell orders.

checking `xucli getorders` on xud3 shows 3 x  sell 2.5@0.0079 (one from xud3 and TWO from xud1).

The log

[2018-12-25 03:15] sangaman commented on #766
@offerm Can you see if #768 fixes the issue for you? I wasn't able to reproduce using the latest from xud-simnet, starting and stopping works fine. I can't see why this error would come up, arrays have the `values()` function and `pairIds` should always be an array, but when looking at this I realized that I was converting an iterable to an array back to an iterable. It's unnecessary, but it shoul

[2018-12-25 03:42] sangaman commented on #767
Looks like this is a similar bug/cause as #758, where superfluous fields are being hashed by the sender for the Order Invalidation packet and then failing validation on the receiver's end, thus the orders are not being invalidated by the receiver.

[2018-12-25 13:19] moshababo opened #771 "`xud-simulation` repo v1"
Fix current issues, add more tests.

[2018-12-25 16:14] kilrau commented on #684
Great, anything that still needs to be defined?

[2018-12-25 16:15] kilrau commented on #755
Any approach what to do against it? @moshababo

[2018-12-25 20:47] #766 closed

[2018-12-25 20:51] #764 closed

[2018-12-25 23:04] #728 closed

[2018-12-25 23:05] #681 closed

[2018-12-26 06:15] offerm commented on #767
Not solved.
Now, not only that the executed order is not being removed from peers the counter order is also added with a price of zero.

<img width="898" alt="screen shot 2018-12-26 at 8 14 40" src="https://user-images.githubusercontent.com/9712754/50434568-5ac6f780-08e6-11e9-9d88-b2b0ed590c7c.png">

[2018-12-26 11:02] rsercano commented on #686
This issue seems pretty easy, so I can take over if you're okay with it ? For the miliseconds if we want to print miliseconds then we need to **specify format** instead of printing **current javascript runtime format**. I can take this format in config file and provide a default one if not provided.

[2018-12-26 13:50] sangaman commented on #686
Oh yes it had just slipped my mind, go for it if you have time @rsercano. I agree it would be a nice feature.

[2018-12-26 13:54] sangaman commented on #767
Looks like this is the key change that needed to happen in addition to my fix above, OrderInvalidationPackets were being converted into the wrong type of packet. https://github.com/ExchangeUnion/xud/pull/774/commits/27e289bff72ca0c137430e843d01082bfa7ebd3d

Thanks offer for finding this.

[2018-12-26 19:55] #767 closed

[2018-12-27 05:38] rsercano commented on #686
Now we pick date format from configuration, so everyone can change as how they wish, but I can set the default format as LND if you wish @offerm ?

[2018-12-29 20:50] ImmanuelSegol commented on #163
@moshababo @kilrau Can I take this one?

[2018-12-29 21:00] ImmanuelSegol commented on #707
@kilrau Is anyone planning to work on this? if not I will take it.

[2019-01-02 15:34] kilrau commented on #163
You got it @ImmanuelSegol

[2019-01-02 15:36] kilrau commented on #707
Please, but let's discuss on the way how to do this - if via ccxt wrapper around our current gRPC or change the gRPC

[2019-01-02 16:11] kilrau commented on #771
add to travis build

[2019-01-02 16:36] kilrau commented on #719
Could you help reproduce? Moving to next milestone since not critical.

[2019-01-02 16:41] kilrau commented on #689
@sangaman @offerm

[2019-01-02 16:42] kilrau commented on #688
@sangaman

[2019-01-02 16:45] kilrau commented on #686
default format as LND sounds good! @rsercano

[2019-01-02 16:47] kilrau commented on #684
Good to go? @sangaman

[2019-01-02 16:48] kilrau commented on #684
Dependency: https://github.com/ExchangeUnion/xud/pull/762

[2019-01-02 16:51] kilrau commented on #680
Could you help me think this through? @offerm @sangaman

[2019-01-02 16:53] kilrau commented on #677
Related: ListOrderHistory (https://github.com/ExchangeUnion/xud/issues/689)

[2019-01-02 17:06] #157 closed

[2019-01-03 09:43] kilrau commented on #740
Here it is: https://github.com/ExchangeUnion/xud-exchange-integration-example @sangaman

[2019-01-03 16:22] kilrau commented on #676
That should be possible, right? @sangaman Anything else still open to be discussed?

[2019-01-03 16:45] #453 closed

[2019-01-03 17:21] kilrau opened #778 "[Overview] Raiden Swap Development"
This is a preparation for https://github.com/ExchangeUnion/xud/issues/106:
- setup ropsten/rinkeby and play around, check wallet methods
- control mining (SimNet-style) - prep to add to XUD SimNet setup
- check [v0.3](https://github.com/raiden-network/raiden/releases/tag/v0.3.0) htlc swap code and compare with current code structure
- conceptualize how this could be made compatible with lightning

[2019-01-03 17:23] kilrau opened #779 "[Concept] Automate the w-eth wrapping"
No smart idea on this one yet. Apart from https://0x.org/portal/

[2019-01-04 10:00] rsercano commented on #735
This seems to be relevant with ignoring promise rejection here: https://github.com/ExchangeUnion/xud/blob/57c48de3fbbacc564186e132afe05d4f333c43fc/lib/p2p/Peer.ts#L179

During startup it's okay to ignore rejection but I guess if `connect` comes from **cli** we need to throw error.

@moshababo Could you please confirm that ?

[2019-01-05 19:02] moshababo commented on #735
@rsercano it looks to me that if this line will throw, we're not ignoring it but failing `Peer.open` altogether, and that should propagate to `Service.connect`.

The case here is probably that the closing of connection happens after `Peer.open` finished successfully, because it isn't synchronous from simnet-1 perspective. A way to fix this is to terminate the connection in the handshake phase, whi

[2019-01-06 13:23] #686 closed, assigned to rsercano

[2019-01-06 13:32] #154 closed

[2019-01-07 12:36] rsercano commented on #685
This seems easy to implement, so in short you actually want to see `createdAt` field of `Order` per row as `formatted` with same way of log's timestamp; implemented in #775 ? @offerm

[2019-01-07 15:08] moshababo opened #781 "Support different xud networks"
At the moment `network` config property is default to `testnet`, and its only usage is to derive the `lnd` macaroon file path.

This property usage need to be extended to support different `xud` networks (`mainnet`/`testnet`/`simnet`/`regnet`), where peers from different networks shouldn't be connected.

`mainnet` and `testnet` can refer to the underlying blockchains public networks, while `simnet

[2019-01-07 16:30] kilrau commented on #781
And i believe we need to additionally separate per coin. bitcoin testnet, litecoin testnet, different eth testnets

[2019-01-08 12:48] sangaman commented on #685
We'd also need to add a timestamp field to the swap result and internal match. I'm not sure if that would necessarily match the log timestamp precisely but we can probably get pretty close.

[2019-01-08 13:03] sangaman commented on #735
Yeah that line doesn't ignore rejection, `await` will reject on any exceptions/failures.

We return a successful response to the `connect` rpc call as soon as we get a valid Hello packet from the peer, but if the peer closes the connection right after that (maybe they don't like the Hello packet that we send them) then the connection will be closed immediately after. I believe this would happen, f

[2019-01-08 13:36] sangaman commented on #740
Lnd is using satoshis everywhere amounts are concerned, sub-satoshis are mostly used internally. Let's discuss this on the call today since I don't think there's an obvious solution here.

[2019-01-08 13:56] rsercano commented on #685
Oh I see, I thought @offerm wanted to match only with the log time which is equal to `createdAt` property, will think about it once more

[2019-01-13 13:19] ImmanuelSegol commented on #734
@kilrau Did you mean I should add this to the `SwapResult` to indicate if the swap was successful  ?

[2019-01-13 13:20] ImmanuelSegol commented on #707
@kilrau @sangaman We should discus this on the weekly meeting.

[2019-01-13 13:21] kilrau commented on #734
yep

[2019-01-14 05:02] kilrau commented on #707
Sure ([weekly call]( https://hangouts.google.com/call/8zf_-6lNnn_G8wwbAwv2AEEI) on Wednesday ([16:00 UTC+1](https://www.timeanddate.com/worldclock/converter.html?iso=20190116T150000&p1=237&p2=83&p3=263&p4=242&p5=107&p6=110)

[2019-01-16 04:37] sangaman commented on #733
We may need to discuss this again real quick. Not including the local id for swap results when we are the taker still makes sense. However, I think we would still want it for swap results of our maker orders, no? #741 is currently removing it altogether.

[2019-01-16 10:36] moshababo opened #788 "Verify response packet type"
Currently we're not verifying the response packet type for each request - only that its `reqId` is matching the request packet `Id`. This can lead to runtime exceptions and node crash.

[2019-01-17 03:48] kilrau opened #789 "[Concept] Testnet/Mainnet features"
Here an early list of features which will be required once we enable testnet/mainnet usage
* deposit/withdrawal: generate addresses, show balance (https://github.com/ExchangeUnion/xud/issues/40)
* set channel volume -> `xud` automatically opens channels
* request to open channel back (peer `xud` should have a limit for that)
* funding alerts for exchange (https://github.com/ExchangeUnion/xud/issue

[2019-01-18 11:56] kilrau commented on #789
Thx @offerm

From a product perspective I strongly vouch for exposing these features (generate address, withdrawal, set channel features) through xud. Same as we include manipulating an internal db and so on. Everything should be usable through our gRPC. Other opinions? @sangaman @moshababo ?

Same opinion here.

Yep, good idea.

Agree. Offer and I were discussing about "Continue with SimNet (e.g.

[2019-01-18 11:57] kilrau commented on #733
Yes

[2019-01-22 14:31] sangaman commented on #734
I think that this will be effectively resolved by #787, which distinguishes between swap successes and failures by naming the fields `SwapSuccess` or `SwapSuccesses` and `SwapFailure`.

[2019-01-22 14:44] #653 closed

[2019-01-22 14:58] kilrau commented on #734
Ok, good to close this one then. Naturally you'll get rewarded for your work nevertheless @ImmanuelSegol

[2019-01-22 17:35] kilrau opened #792 "gRPC enhancement for Raiden"
This is a placeholder

[2019-01-23 02:54] #609 closed

[2019-01-23 02:54] #734 closed

[2019-01-23 12:33] #158 closed

[2019-01-23 12:34] #341 closed

[2019-01-23 13:36] kilrau commented on #735
Any approach which way to go? @rsercano

[2019-01-23 13:40] kilrau commented on #732
Added @reliveyy , he can help to reproduce

[2019-01-23 13:42] #722 closed

[2019-01-23 13:46] kilrau commented on #714
This would be quite nice to get in soon - do you think you'll have the bandwidth to work on it til January 31st? @rsercano

[2019-01-23 13:49] kilrau commented on #707
Any questions left? @ImmanuelSegol

[2019-01-23 14:00] kilrau commented on #706
If you feel you won't have time for this til 31st, you can talk to @reliveyy

[2019-01-23 14:52] kilrau commented on #778
As discussed, please update us on feasibility and estimation of bullet point 2 @offerm , others are done

[2019-01-23 15:03] kilrau commented on #174
As discussed, XUC will be taken out of the protocol itself. We'll use the native BTC/LTC/ERC20 of the underlying pair as liquidity incentive. No 3-way swap necessary.

[2019-01-23 15:03] #174 closed

[2019-01-23 15:08] kilrau commented on #246
@reliveyy

[2019-01-23 18:22] kilrau opened #793 "[Concept] "XUD Testnet" comprised by exchanges"
* exchange integrates XUD into staging environment
* XUD with bitcoind/litecoind on testnet
* exchange funds and maintains funding
* creates bridge to production environment, to replicate real-world user orders into staging environment (one-way)

[2019-01-23 18:30] kilrau opened #794 "[Concept] Threshold funding alerts for exchange"

[2019-01-23 18:34] kilrau opened #795 "Search for software audit firm"

[2019-01-25 10:03] moshababo commented on #735
@sangaman
`Peer.ackSession` is called when performing handshake, and that's where we set `Peer.nodeState`, which has the information we need for knowing whether the peer is valid or not.

At the moment `Peer.ackSession` is just doing authentication validation and ECDH before sending `SessionAck`, but we can move all the peer validations into there (currently they are in `Peer.open` after handshake

[2019-01-28 09:31] offerm opened #797 "[Overview] Prepare XUD for ERC20<>Lightning swap"
In parallel to extending Raiden with swap support we can enhance XUD to make sure we are ready.

Need to take care for the following:
- Make gRPC work for Raiden (https://github.com/ExchangeUnion/xud/issues/792)
- Staring Raiden - need to have account with tokens and ETH,  keystore file , EndpointRegistry address, SecretRegistry address, TokenNetworkRegistry address, and eth-rpc-endpoint. I can sh

[2019-01-29 15:16] kilrau commented on #719
@moshababo experienced this one again with xud-simulation

[2019-01-30 05:19] sangaman commented on #735
Yes that makes sense, we should make all checks about the validity of the peer (including whether it's banned) before responding with `SessionAck`. @rsercano - does that make sense to you?

[2019-01-31 15:48] kilrau opened #798 "Switch to "hodl invoice""
https://github.com/lightningnetwork/lnd/pull/2022/ will be the new standard and our https://github.com/lightningnetwork/lnd/pull/1820 won't get merged. Hence we should switch at some point. We'll definitely wait for 2022 to be in master tho.

[2019-02-02 18:36] moshababo commented on #719
@sangaman the issue is reproduced on `xud-simulation`. It still not ready to be run by others though, due to minor pending fix on `ltcd`. Will update here when it's ready.

[2019-02-04 06:52] #437 closed

[2019-02-04 20:42] #654 closed

[2019-02-05 11:54] kilrau commented on #792
Let's start filling in things here @sangaman @offerm

[2019-02-05 11:55] kilrau commented on #765
Let us know once you figured out how to do this @reliveyy

[2019-02-05 13:45] kilrau commented on #106
duplicate, closing

[2019-02-05 13:45] #106 closed

[2019-02-05 13:46] kilrau commented on #778
Current status:
raiden-network/raiden#3317 (done, testing tbd)
raiden-network/raiden#3318 (in the works)
raiden-network/raiden#3319

[2019-02-05 21:39] #714 closed

[2019-02-08 08:35] moshababo opened #804 "RemoveOrder doesn't find the order"
From `xud-simulation`:

[code]
The issue was introduced by this commit: https://github.com/ExchangeUnion/xud/commit/e46d55d8528ba311a5fb8719dfe1c32e574efa03

In addition, the response to `RemoveOrder` doesn't return an error, and so the error was silent. This problem existed before - `removeOwnOrderByLocalId` doesn't throw an error when `removeOwnOrder` fails and returns false. The later can be ch

[2019-02-13 10:16] moshababo opened #807 "Improve swaps error handling"
* Add `SwapFailures` to `PlaceOrderResult`. Otherwise we're just getting the final results, but have no idea about swap attempts which failed. (@sangaman @kilrau please verify that we want this)

* Propagate meaningful errors from `Swaps.executeSwap` (taker side), and log them once in the higher layer (`OrderBook.PlaceOrder`). Same for the maker side.

* Calling `Swaps.getRoutes` and it's underlyi

[2019-02-13 14:39] moshababo commented on #755
Problem was solved in previous handshake refactoring.

[2019-02-13 14:39] #755 closed

[2019-02-13 16:36] #713 closed

[2019-02-15 14:30] kilrau commented on #807
Not sure. Is it inconsistent to have swap failures in the async call, but not in the sync version? I'd rather just write these in the db (please confirm that we already do this @moshababo ). Waiting for @sangaman opinion

[2019-02-15 19:51] #656 closed

[2019-02-18 03:30] reliveyy commented on #246
I think xud dockerfile should only cares about xud itself. And we provide a docker-compose file or a k8s yaml file to describe the setup process of the whole system instead.

[2019-02-18 11:40] kilrau commented on #246
That sounds about right! @reliveyy

We can expect to use official [docker lnd](https://github.com/lightningnetwork/lnd/tree/master/docker) and [raiden](https://github.com/raiden-network/raiden/tree/master/docker) in future.

[2019-02-18 11:45] kilrau commented on #804
Since it was your commit - are you taking care? @sangaman

[2019-02-18 17:01] reliveyy commented on #732
Cannot reproduce the crash on the new xud version. So close it.

[2019-02-18 17:01] #732 closed

[2019-02-19 05:09] #573 closed

[2019-02-19 07:21] reliveyy commented on #246
https://github.com/reliveyy/xud-docker A quick PoC here (some services may not running properly and  I will fix theme later). If you have any suggestions please fire an issue in this PoC project and If the dockerization enhancement to xud is acceptable I will issue a PR to `xud` project

[2019-02-19 20:22] sangaman commented on #804
This is fixed by #809. I'll see about preventing any silent errors in a separate PR, for now though if the order actually doesn't exist you'll get a `Error: 5 NOT_FOUND: order with local id 33da05f0-3482-11e9-97b6-e35671d0c612 does not exist`.

[2019-02-20 17:41] kilrau opened #811 "Upgrade vulnerable dependencies"
https://github.com/ExchangeUnion/xud/network/alerts

[2019-02-20 17:45] kilrau commented on #811
The moment I opened this I just saw your https://github.com/ExchangeUnion/xud/tree/resolve-alerts branch @sangaman  👍

Close this when merging.

[2019-02-20 18:35] kilrau commented on #778
Updated above. Can you add some details on the status of https://github.com/raiden-network/raiden/pull/3492 @offerm ?

[2019-02-20 18:37] kilrau commented on #771
I'm closing this one since I consider v1 done, next step: testing and https://github.com/ExchangeUnion/xud/issues/765

[2019-02-20 18:37] #771 closed

[2019-02-20 19:18] kilrau commented on #664
The status quo on "batching swaps": 2 things were supposed to be done
1. Execute swaps for matches with multiple orders in parallel: https://github.com/ExchangeUnion/xud/issues/654 - merged (https://github.com/ExchangeUnion/xud/pull/800)
2. Combining packets from xud, lnd, raiden for multiple swaps (multiple order matches) with the **same peer** (this issue)

Something for you? @erkarl

[2019-02-20 19:19] kilrau commented on #676
For planning: PR for this one is more or less ready, right? @sangaman

[2019-02-20 19:44] kilrau commented on #148
Thought about this some more and don't think we should have a timeout on peer connections based on if they trade or not. Every responsive (`ping`/`pong`) node is a potential trading partner at some point.

Closing. Please reopen and elaborate if you think otherwise @moshababo

[2019-02-20 19:44] #148 closed

[2019-02-21 05:20] sangaman commented on #811
Thanks, I finally got all the new dependencies straightened out (also had to update https://github.com/ExchangeUnion/grpc-dynamic-gateway) by identifying a bug in the `grpc-tools` code, but fortunately the maintainer of that project was responsive and the fix was merged and published same day.

[2019-02-21 06:04] sangaman commented on #807
For the first bullet point, I'm not really sure whether it's needed. Originally we were OK with the current behavior of only returning the failures for the asynchronous call, is there a new reason why we would change this? I personally don't have much of a preference but I wouldn't want to change something unless there's a reason.

For the other two bullet points I think is improved slightly by #8

[2019-02-21 11:33] kilrau commented on #807
Thx Daniel! Swap failures are already recorded in the db, correct?

[2019-02-21 21:33] sangaman commented on #807
Yes correct, the only ones we don't record are the ones proposed to us but which be reject (like if the order is no longer available). We save all requested swaps and all accepted swaps whether the fail or succed.

[2019-02-22 05:11] #804 closed

[2019-02-22 05:21] #661 closed

[2019-02-22 08:48] kilrau commented on #807
Can you take out the first bullet point then if you agree? @moshababo

[2019-02-23 22:29] ImmanuelSegol commented on #40
@kilrau  @sangaman Which methods should I implement?

[2019-02-25 06:13] moshababo commented on #807
I thought it would be good to have it for the sake of UX and consistency with the async version. If i'm using `PlaceOrderSync`, I don't get this info, and having it saved in the DB doesn't help me to understand from the response why my order didn't trigger a swap.

[2019-02-25 09:03] moshababo commented on #781
Suggestions:

* Associate each node in the database with a specific xud network.
* Associate our current seed nodes with `simnet` xud network, instead of `testnet`, although it’s a public network, because the coins are not testnet coins.
* Start xud `mainnet` & `testnet` networks with empty list of configurable seed nodes.
* Keep `regnet` xud network for a private network usage that will have no s

[2019-02-25 20:04] kilrau commented on #781
Actually a global `xud` network config makes a lot of sense. Otherwise, we might end up with some real coins being swapped for testnet coins. `xud` in testnet mode should be 100% sure to only connect to and swap with other testnet `xud`.

Sounds good to me! Maybe ropsten for eth testnet since this seems to be preferred by the raiden team. What do you think? @sangaman

Others:

Why do we need that?

[2019-02-26 10:19] moshababo commented on #781
Yes, or use different tables. Main point is to have a separated p2p discovery for each network.

Yes we can make it similar to that.
___

For `mainnet`, do you want to have our nodes publicly available, but without any coin balance / open orders?
___

Sounds fine.

[2019-02-26 12:25] kilrau commented on #781
Definitely publicly available and used to p2p bootstrap other nodes. We might even have some bots maintaining (real orders) on there.

Ok, both fine!

[2019-02-26 13:01] reliveyy commented on #685
`cli/commands/streamorders.ts` subscribes to `Order`, `OrderRemoval` and `SwapSuccess` messages. `Order` have field `created_at`. `OrderRemoval` and `SwapSuccess` don't have any temporal fields. IMO this three messages act like an event and a base event should have a timestamp. I see the `Order` is the main domain object in xud and when `Order` changes its status xud will emit some events. These e

[2019-02-26 13:34] #811 closed

[2019-02-26 15:39] kilrau commented on #735
Do you also need help here? @reliveyy

[2019-02-26 15:39] kilrau commented on #685
Each event has a timestamp (milliseconds). @sangaman will help you out.

[2019-02-27 07:48] sangaman commented on #685
@reliveyy I think we are interested in the `completeTime` which will be available on all internal `SwapSuccess` objects. It's currently not on the `SwapSuccess` rpc message, so we should add it there, and then update the cli output to output the time in the same format as we use for internal logging like `27/02/2019 02:28:50.059`.

We don't currently track exact timestamps for when swaps fail or f

[2019-02-27 15:13] moshababo commented on #807
Another thing: we provide `subscribeSwaps` RPC endpoint, which is used mainly to stream maker swaps (swaps which were initiated by a peer). It doesn't stream swap failures - so there's no way to know about them, besides looking in the logs. I think it beneficial to support it, to allow clients to easily monitor issues, and to react to them. It's basically the other side of adding the swap failures

[2019-02-27 15:34] moshababo commented on #807
Another thing: we provide `subscribeSwaps` RPC endpoint, which is used mainly to stream maker swaps (swaps which were initiated by a peer). It doesn't stream swap failures - so there's no way to know about them, besides looking in the logs. I think it beneficial to support it, to allow clients to easily monitor issues, and to react to them. It's basically the other side of adding the swap failures

[2019-02-28 05:16] sangaman commented on #807
We should know about failures in swaps that we initiate in the response to the `PlaceOrder` or `ExecuteSwap` calls. I see what you're saying, though, about wanting to know if swaps that we don't initiate are failing, right now the only way to know is to look at the logs like you said.

I'd be OK with addressing this in a separate issue. Do you want to open it? And do you think it might make sense

[2019-02-28 10:05] kilrau opened #817 "Add SwapFailures to `subscribeSwaps` RPC"
As discussed in [#807](https://github.com/ExchangeUnion/xud/issues/807#issuecomment-467909052) the `subscribeSwaps` RPC endpoint (used to stream swaps which were initiated by a peer) doesn't stream swap failures - so there's no way to know about them, besides looking in the logs. We should add the same `SwapFailure` events here too. It's basically the other side of adding the swap failures support

[2019-02-28 10:21] kilrau commented on #807
I also believe that would be more than great to have and should actually have come from me. Thanks for this @moshababo ! From a product point of view, I don't see a great benefit from having a separate `SubscribeSwapFailures` call, also we don't have this concept of having failures/errors in a separate call so far as far as I'm aware. But there might be a technical reason to keep swap failures sep

[2019-02-28 15:35] sangaman commented on #817
My thinking in separating this into a separate call is its a different message type and the action one would take in case of a successful swap and a failed swap are very different. Also I can see cases where one isn't interested in the failed swaps, or might *only* be interested in failed swaps (for example, an admin monitoring tool). Thoughts @moshababo?

[2019-03-01 14:19] moshababo commented on #817
@sangaman sounds fine to me. We should include support for the `include_taker` option, same as for the current `subscribeSwaps`.

[2019-03-04 16:06] erkarl commented on #675
Good point.

Agreed.

I'll make the time configurable.

[2019-03-05 14:51] sangaman commented on #675
Are you thinking of putting this scheduled capacity check on each lnd client instance? Eventually we'll want similar logic for Raiden so try to make the approach generic enough that it can be reused easily.

[2019-03-05 15:38] kilrau opened #823 "Simnet: mempool based mining & (one-time) reset"

[2019-03-05 16:14] erkarl commented on #664
@sangaman
Just to clarify...

Taker order is 15000 SAT for X exchange rate. There are maker orders of 5000 + 5000 + 5000 SAT with **the same exchange rate** AND **by the same peer.** Before the swap executes xud will detect that batching these 3 orders is an option. As a result there will only be 1 swap instead of 3, reducing the amount of packets from 57 to 19.

[2019-03-05 16:18] erkarl commented on #675
Thanks for pointing this out - definitely want to easily support Raiden sanity checks as well.

[2019-03-05 18:45] erkarl commented on #721
Looks like this is currently an intentional feature in the code:
https://github.com/ExchangeUnion/xud/blob/master/lib/p2p/Peer.ts#L430

Do we want to remove it?

[2019-03-05 20:27] sangaman commented on #721
I think it makes sense to keep it or, at most, extend it. We don't want to keep retrying connections forever. I thought a week was enough time to decide that further attempts to reconnect aren't worth the trouble. Is there any particular reason to lift this limit?

[2019-03-06 01:00] sangaman commented on #664
I'm thinking about this and I think that's the right idea, but I'm still questioning whether this is a worthwhile effort. I'm thinking the complexity would be significant - it would change the flow for how swaps are handled and we'd have to deal with combining multiple orders in a single swap.

The benefits seem slim to me, these packets are small and they're already being sent in parallel. As for

[2019-03-06 07:01] reliveyy commented on #735
I fount when peer1 banned peer2 then peer2 tring to connect to peer1 `xucli connect` will show success because responseObj is empty. But on peer2's logs there is one log

[code]

And the reason 7 is DisconnectReason (enums.ts) `Banned`. But this response is asynchronous.

[2019-03-06 08:12] kilrau commented on #721
No need to change from my side. Stopping after 168h is exactly how we [defined it before](https://github.com/ExchangeUnion/xud/issues/311#issuecomment-413327480) (604800s = 168h = 7d).

Not sure how this ended up on this list. Feel free to remove @erkarl . Also pls add issue/pr links for everthing you are working on so that we keep an overview here.

[2019-03-06 08:31] kilrau commented on #735
That sounds like the problem. IMO peer 1 should show `Connection status: unknown` if response object is empty.

Peer 2 response object should never be empty so that peer 1 can display the connection status accordingly:
`Success` -> Peer 1: `Connection status: success`
`Banned` -> Peer 1: `Connection status: banned`
``             -> Peer 1: `Connection status: unknown`
etc.

What do you think @rel

[2019-03-06 08:41] kilrau commented on #664
Correct, apart from exchange rate of these 3 orders can be different.

[2019-03-06 08:42] kilrau commented on #664
Very valid concerns. Your take? @erkarl @offerm @moshababo

[2019-03-06 10:04] kilrau commented on #823
More details needed? @offerm

[2019-03-06 10:05] kilrau commented on #798
Still not merged, moving to next milestone.

[2019-03-06 10:06] kilrau commented on #765
In the call you mentioned you are still struggling with this one. Could you provide some details on where you are stuck? Maybe others can help @moshababo

[2019-03-06 10:12] erkarl commented on #664
That was my rough conclusion when looking into the code as well.

Don't think the liquidity of the routes will be a problem as the early adopters/exchanges will have solid direct channels.

Good point. It's definitely something that could mitigate the issue.

@kilrau I'm going to remove the top priority label as we discuss this further (feel free to add it back if you think otherwise).

[2019-03-06 10:13] kilrau commented on #574
something for @erkarl or @moshababo ?

[2019-03-06 11:35] kilrau commented on #788
Who's interested in this one? @erkarl @sangaman @reliveyy

[2019-03-06 11:35] kilrau commented on #693
Who's interested in this one? @erkarl @sangaman @reliveyy

[2019-03-06 11:57] kilrau commented on #778
I'm closing this one since it's an ongoing task - updates in https://gitter.im/exchangeunion/raiden-swaps

[2019-03-06 11:57] #778 closed

[2019-03-06 12:03] kilrau commented on #528
Moved down (after raiden integration)

[2019-03-06 13:03] kilrau commented on #797
Alright, I think we all agree that this is our overall top prio at the moment (by far). So my idea would be that we double check again that the list above. Make sure it is complete - definitely needs your input @offerm . And then the 3 of you divide (open & assign issues for each point) and conquer (start working on these while leaving everything else aside, with @offerm offer until feedback from

[2019-03-06 16:29] offerm commented on #797
Lets break this to internal and external tasks (from XUD POV):

External:
- Create an Ethereum chain
- Have a miner
- Block reward to go to the system accounts
- Create raiden smart contracts
- Create a token (start with one, multiple later)
- register the token with the raiden contracts
- start raiden server (need one for each xud - so each xud will have lnd-btc, lnd-ltc, raiden). Use a remote ET

[2019-03-06 16:30] offerm commented on #792
Don't remember saying that we need gRPC to connect to Raiden. Raiden is [now] using gRPC to connect to the resolver.

XUD should connect to raiden via HTTP. Easy API.

[2019-03-06 16:32] offerm commented on #823
How often should we mine when there is nothing on the mem-pool?

This is important as new blocks are used to manage the lifetime of pending HTLCs and channels.

[2019-03-06 17:48] erkarl commented on #797
Good news is that the external and internal steps that @offerm mentioned are completely independent of each other and can be done in isolation.

Via REST API - https://raiden-network.readthedocs.io/en/stable/rest_api.html

Breaking it down into smaller steps for implementation:
- init/start
- getInfo
- verifyConnection
- sendPayment `POST /api/(version)/payments/(token_address)/(target_address)`
-

[2019-03-06 19:02] offerm commented on #797
currently there is no good way to deal with unknown rHash. Basically the
caller would need to block until timeout. We will need to do something
about it but it is less urgent.

About the API, better to check what we need. For example, connectPeer,
closeChannel,  deploy/registerToken we don't need. QueryRoutes we do.

On Wed, Mar 6, 2019 at 7:48 PM Karl Ranna <notifications@github.com> wrote:

[2019-03-07 05:59] sangaman commented on #792
Yes Raiden uses a REST HTTP API. We already have a decent amount of code for communicating with Raiden in RaidenClient.ts. I think we can probably close this as there are other issues tracking Raiden progress.

[2019-03-07 06:21] sangaman commented on #735
I think the `Connect` RPC call should not return a response until either the connection & handshake is successful or the connection fails, such that "unknown" is not necessary. This is actually already how it behaves, but we don't make the check if a node is banned until *after* the handshake is complete and the peer is "opened." That's why connecting to a banned node is treated as a success.

Thi

[2019-03-07 07:04] #792 closed

[2019-03-07 07:10] kilrau commented on #792
If I recall correctly, by this we meant to enhance `xud`'s gRPC to support everything we need for raiden. Anyhow, `xud`'s gRPC should be generic enough to support raiden, goes without saying, so closing.

[2019-03-07 07:28] kilrau commented on #797
All one-time actions like deploy/registerToken definitely not, but `closeChannel` we'll need in production I believe (don't think SimNet!).

[2019-03-07 08:25] kilrau commented on #797
I think you are pretty clear about the external (SimNet) tasks, so full-steam ahead @offerm  ! Your concern about the timeline is definitely valid, let's try tho!

Let's try to compile an exhaustive list for the internal tasks below and divide (just pick what you'd like to do) @erkarl @sangaman

[2019-03-07 08:46] kilrau commented on #823
A recommendation would be good :)

Since HTLC's expire usually in a matter of days even for multiple hops on lightning, maybe:
* 1/4h for BTC
* 1/h for LTC
* Not sure about raiden

[2019-03-07 10:02] kilrau commented on #735
Thanks for the detailed help @sangaman !!! Let @reliveyy have another shot, he's still getting familiar with the code base and this is not particularly urgent 👍

[2019-03-07 21:36] erkarl opened #826 "Add minimum viable RaidenClient REST API integration"
Offshoot from https://github.com/ExchangeUnion/xud/issues/797

## Base Client requirements
- [x] getInfo (for general sanity checks before attempting the swap)
  - [x] isConnected
  - [x] getAddress
- [x] sendPayment (for swaps)
- [x] getChannels (for xucli channelbalance)

### Everything else
- open channel
- close channel
- depositing to channel
- join token network
- bootstrap token network
- r

[2019-03-07 21:38] erkarl commented on #797
caller would need to block until timeout. We will need to do something
about it but it is less urgent.

I understand you have done the heavy lifting in terms of adding Raiden support. Thanks to that Raiden now has support to include secret and secret hash as part of payment [request](https://github.com/raiden-network/raiden/pull/3447) and [response](https://github.com/raiden-network/raiden/pull/33

[2019-03-08 14:45] kilrau commented on #826
Added feedback directly above.

[2019-03-14 08:48] kilrau opened #830 "Raiden HTTP endpoint"
+ new PR

[2019-03-14 11:01] sangaman opened #831 "Specify Currency/Chain on ResolveRequest"
When validating the resolve request for swaps we check that the amount matches the expected deal amount, we check cltvdelta, but we don't actually check whether it's the right currency. Theoretically a dishonest peer could attempt to pay us litecoin using the same rHash as for a deal where we expect to receive bitcoin, and xud wouldn't notice the difference because all it sees is the resolve reque

[2019-03-14 11:31] #554 closed

[2019-03-14 16:36] kilrau opened #832 "Switch slack bots to discord"

[2019-03-14 16:37] michael1011 commented on #832
https://github.com/ExchangeUnion/xud-tests/issues/5

[2019-03-14 16:57] #832 closed

[2019-03-14 18:43] michael1011 commented on #740
Just to be sure: this issue is about switching all internal quantities to satoshis and not just converting to and from satoshis in the `GrpcService` and `Service` classes? And do we have a decision on whether to denominate the `price` in satoshis? @sangaman @kilrau

[2019-03-15 10:33] reliveyy commented on #685
@sangaman

Message | Temporal Field
---------|----------------
Order | executed_at
OrderRemoval | removed_at
SwapSuccess | success_time
SwapFailure | fail_time

[2019-03-15 10:45] reliveyy commented on #458
I think if we want to integrate fail2ban into xud we should refine xud log first. Let P2P peer connection/authentication failure exposed as a log line. And we should be able to configure the loggers level in a separated configuration file (I think winston should support). And we could create a project wiki page to describe the fail2ban integration method.

And I saw the other app filters in fail2b

[2019-03-15 11:10] reliveyy commented on #405
I think we could leave this order splitting logic implementation to the API user. And I suggest we should not use market order in this case to make the market order conceptually the same as [the original definition](https://www.investopedia.com/terms/m/marketorder.asp).

And for some market order variants we should use other order types to distinguish with the original market like the stop order,

[2019-03-15 20:06] kilrau commented on #740
I'd say hold off on this. Price in Satohis is weird. Price in BTC and quantity in Satohis is weird too. We might just go for the decimal precision in the documentation and that's it. Any better ideas?

[2019-03-15 21:07] offerm opened #834 "xud-simnet instability"
@sangaman

the test1,2,3 servers are now running fine. Had to deal with the bot to make it working.

One thing that I noticed is that [lndltc] and [lndBTC] should change to [lnd.LTC] and  [lnd.BTC] and that if you use [lnd.ltc] or [lnd.btc] the system will not error but will not work properly.

While the test servers looks "fine" there are some issues:

On a remote machine (my laptop), after fetch

[2019-03-16 11:57] sangaman commented on #834
I'm looking into it now.

[2019-03-16 12:22] sangaman commented on #458
I wasn't thinking of actually using fail2ban, although that's probably an option. I was thinking more along the lines of banning IP addresses and immediately terminating connections with them from within xud.

[2019-03-16 12:28] sangaman commented on #685
I think that looks good but we can use `complete_time` instead of `success_time` since we already track a field with that name.

[2019-03-16 13:23] sangaman opened #835 "Set log level via API"
It would be helpful for debugging purposes to be able to change the logging level within xud without having to restart it. We should be able to create an API call that does this, with a call that uses an enum parameter for the available log levels.

[2019-03-17 06:25] offerm commented on #834
Not only on my machine. Also see this on a cloud machine.
Moreover, this problem may lead to an xud crash.
@moshababo

[2019-03-17 06:35] sangaman commented on #834
@offerm Do you want to see if #836 helps with the connection issues you're seeing? I came across it while trying to figure this issue out, although I'm not sure if it's related. It may at least prevent the crashes.

[2019-03-17 11:00] erkarl commented on #835
This would be an useful feature for debugging production environments. If I'm not mistaken the current solution would be to stop the server -> adjust the log verbosity level -> start the server?

[2019-03-17 11:14] offerm commented on #834
So, I managed to improved the situation by upgrading node to version 10.15.3.

Now, I manage to connect to test1 and test2 but test3 does not complete the handshake and disconnect after 15 seconds.
I see the same problem also with my cloud xud

If you think #836 can help here - please merge it and we will see

[2019-03-17 13:43] sangaman commented on #834
Gotcha, do you happen to know which version of node you were on before?

I merged the PR and things are looking stable on my end with regard to the seed nodes, if you can confirm on your end I think we can close this.

[2019-03-17 15:13] kilrau commented on #834
Gave this a quick test:
* `xud-simnet-stop`
* `xud-simnet-start` (successfully updated to latest master & synced to chain)
* ends up in

[code]

I guess I need to start from scratch?

[2019-03-17 15:30] #807 closed

[2019-03-17 15:38] sangaman commented on #834
Did you do `git pull` in the `xud-simnet` directory first? If you're still getting that error I'd try dropping your `xud-wd` directory and trying again.

[2019-03-17 15:40] sangaman commented on #835
Currently yes that's what's needed to change the log level, which can be inconvenient/time-consuming.

[2019-03-17 16:58] offerm commented on #834
Run bash -x xud-sumnet-start and see where it fails

On Sun, 17 Mar 2019 at 17:38 Daniel McNally <notifications@github.com>
wrote:

[2019-03-17 21:04] kilrau commented on #834
Did the manual `git pull` before `xud-simnet-start` , that updated the scripts
[code]
and fixed it. Connection working now. Swaps not working due to `getRoutes` error:
[code]

[2019-03-18 03:31] offerm opened #839 "seed nodes keep disconnecting"
the connection to the seed nodes is not stable.

log attached

[xud.log](https://github.com/ExchangeUnion/xud/files/2976279/xud.log)

[2019-03-18 06:46] sangaman commented on #834
I think we can close this issue then?

[2019-03-18 06:54] sangaman commented on #839
It looks like your node is sending `GetNodes` requests but not getting any responses. I don't know why yet but I'll look into it further.

[2019-03-18 08:26] offerm commented on #834
Once swap is back, yes

On Mon, 18 Mar 2019 at 7:46 Daniel McNally <notifications@github.com> wrote:

[2019-03-18 22:22] offerm commented on #839
@sangaman you are right. My node is sending getNodes request which is not being responded.

The getNodes packet is ignored due to a check in lib/p2p/Peer.ts:619 - isPacketSolicited(packet)

If this returns false the packet will be ignored and will lead to connection failure.

Now, isPacketSolicited(packet) returns false if the connection is not market `open`.  Marking the connection as `open` is d

[2019-03-18 22:24] sangaman commented on #839
Awesome, thanks for this analysis that makes a lot of sense. I should be able to come up with a fix tonight.

[2019-03-19 09:43] sangaman commented on #740
Let's discuss this on the call again since it's been a little while, although now I'm again questioning whether this is an issue worth dealing with at the moment. Changing all the internal types is a pretty big change, and it may make more sense to have clients round for display purposes. Rounding/formatting the number will have likely need to happen anyway, especially for prices. Python uses the

[2019-03-19 15:20] sangaman commented on #834
Closing this as swaps are working for me currently on master and I think the original issues are addressed as well.

[2019-03-19 15:20] #834 closed

[2019-03-19 16:36] kilrau commented on #740
@michael1011 as discussed in the call we stick with what we have, just add a line about this in the wiki.

[2019-03-19 18:50] kilrau commented on #798
Merged.

[2019-03-19 19:27] kilrau commented on #458
Very good points @reliveyy . I'm supportive in using fail2ban if there are no other (better) alternatives. We would probably end-up with a log-based analysis anyways because storing all sorts of failed connection attempts elsewhere just for banning purposes seems overkill. Please move ahead @reliveyy

[2019-03-19 19:30] kilrau commented on #405
Alright. Everybody ok to close this?

[2019-03-20 09:34] #826 closed

[2019-03-20 09:37] erkarl opened #846 "Enable support for WETH"
In order to support `WETH` and other tokens/currencies the system needs slight modifications in various places. Below is a nondefinitive list of TODOs:

- refactor `Swaps.calculateSwapAmounts` to use configurable amount of subunits per token for each currency - https://github.com/ExchangeUnion/xud/blob/master/lib/swaps/Swaps.ts#L82 - PR: https://github.com/ExchangeUnion/xud/pull/860
- require `Ord

[2019-03-20 12:00] kilrau commented on #846
As far as I understand we can wait for [raiden or someone else to officially deploy](https://raiden-network.readthedocs.io/en/stable/onboarding.html?highlight=tokennetwork) the `TokenNetwork` contracts for all these ERC20s. Us doing all this work is not the way to go I believe. I'm fine with with 1.0 having `WETH` only if this didn't happen by then.

But `xud`-internals should be prepared to handl

[2019-03-20 14:47] erkarl commented on #846
Just to clarify - this issue is about having the internals of xud ready to support additional tokens/currencies.

Example TODO: https://github.com/ExchangeUnion/xud/blob/master/lib/service/Service.ts#L126

[2019-03-20 14:50] kilrau commented on #846
Ok great! Maybe collect these TODO's here?

[2019-03-20 20:01] #839 closed

[2019-03-21 11:59] erkarl commented on #846
Updated the original post and title. Still wip, but it's a good starting point.

[2019-03-22 11:18] kilrau commented on #740
I'm very sorry to reopen this after we switched back and forth twice already, but I got a db-experienced friend over and the first thing he screamed when I showed him the `xud` order book: "OMG, are you using floats to store this?" "Never use floats with money."

And it seems he is right, floats are only a approximation of a decimal number but never precise because it's stored as binary. Currently

[2019-03-23 07:36] sangaman commented on #740
Wei won't work I'm pretty sure because it's too small a unit to represent with 64 bit numbers. I'd say if we go this route we should stick to using 10^-8 (satoshi size) for all base units internally. It's standard for exchanges to have minimum order size increments and I think similar logic applies.

Currently we track amounts of coins by integer satoshis, and order quantity/prices with floating p

[2019-03-23 18:14] moshababo commented on #765
As discussed recently, `xud-simulation` repo should be moved under `xud` repo, to avoid unnecessary complications when testing different branches.

[2019-03-24 19:37] kilrau commented on #740
Quickly checked that, you are right, even `bigint` is not enough. Agree on 10^-8 precision for all. Should have check that before.

Not intuitive, maybe. Doesn't eliminate the need for rounding: definitely not.

What it DOES though is forcing everyone to perform & think about rounding when storing a result of an arithmetic operation. With float numbers one might forget that *very easily*. And the

[2019-03-26 09:50] sangaman commented on #740
There is no native JS big integer/big decimal. We could use something like https://www.npmjs.com/package/big-js, but I believe this just does the rounding for us and I'm not familiar with this package and not sure it'd help enough to warrant another dependency. But gRPC does not have anything like big decimal, if we want a precise decimal number we'd have to use a string I'm pretty sure.

We alrea

[2019-03-26 11:44] kilrau commented on #797
What else needs to be done here? @erkarl Checking [your list](https://github.com/ExchangeUnion/xud/issues/797#issuecomment-470206607) from above..

[2019-03-26 13:51] kilrau commented on #724
Reviving this. Feedback pls @erkarl @sangaman

[2019-03-26 14:00] kilrau commented on #740
Ok. Please check if you agree with Daniel and if so go ahead with his approach. @michael1011

[2019-03-26 14:01] kilrau commented on #723
Reviving this too. Feedback pls @erkarl @sangaman

[2019-03-26 14:03] kilrau commented on #179
Would you be ok taking this? @reliveyy

[2019-03-26 14:16] kilrau commented on #680
Assigned to you since you were dealing with similar checks @erkarl

[2019-03-26 14:30] sangaman commented on #680
Oh I think this would actually be closed by #850, can you confirm @erkarl ?

[2019-03-26 14:39] sangaman commented on #740
Thanks. I think another key point here is that the price, once set, does not change. I suspect that the quantity may have been going off by microscopic amounts when we updated it.

I created a jsfiddle to recreate a similar error: https://jsfiddle.net/sangaman/rce4kx30/

[code]

It simulates an order with a quantity of `1.3498`. It gets matched with an order with `1.1111` quantity, and then anothe

[2019-03-26 14:45] sangaman commented on #797
We do need the raiden address of our peers to be shared in the handshake and to be returned in the `ListPeers` response. I was mistaken earlier in thinking we already shared the raiden address in the handshake, but I've started working on this piece and will have a PR soon. It's not a major change.

[2019-03-26 14:58] sangaman commented on #723
I am a little fuzzy on this. I think I would want exchanges to only send to xud the amounts and prices they actually want for swaps, and then subtract fees from the user balances in their own accounting system. What's the shortcoming there?

[2019-03-26 15:32] kilrau opened #853 "basic webproxy tests"

[2019-03-26 15:39] kilrau opened #854 "xud simulation tests for raiden team"
As discussed on call, this issue is about providing the raiden team with tests to ensure private networks and xud integration in general are still working.

The idea I had is to enhance xud-simulation with private network tests and integrate it into the raiden repo. Point to our latest release and their latest master. This enables them to immediately see if a change causes something to break on ou

[2019-03-27 08:14] erkarl commented on #680
@sangaman Yes, it feels pretty related.

@kilrau as of now we're caching the maximum outbound channel balance values (per currency) every 60 seconds. I'm not completely clear on the X% max in/out rule.

[2019-03-27 08:38] erkarl commented on #797
There's also: https://github.com/ExchangeUnion/xud/issues/846
and https://github.com/ExchangeUnion/xud/issues/853 for the raiden swap-resolver http endpoint.

[2019-03-27 15:01] erkarl commented on #853
Did some testing on this one. Looks like the gRPC proxy server starts up nicely when `disable = false` is set in `xud.conf`.

I wasn't, however, able to access the endpoint due to SSL issues. Should we add documentation to master branch on how to use these proxy endpoints via curl (while SSL enabled)?

[2019-03-27 23:39] sangaman commented on #680
Oh actually I think I overlooked that this is supposed to be dealing with rebalancing. That's a complicated issue as far as I know, could you provide more details of what you have in mind @kilrau ?

[2019-04-02 09:10] kilrau commented on #740
LGTM @michael1011

[2019-04-02 11:15] kilrau opened #864 "[Concept] Channel unbalanced alerts"
Continuation of #680:
This issue is about using #680's cached values to send alert events via the gRPC to inform the exchange that a channel is unbalanced. Details TBD.

[2019-04-02 11:59] kilrau opened #865 "[Discussion] Direct Channels"
1. After some more real world experience with routing in lightning, I strongly believe we should have a "direct channel with every peer" approach for the foreseeable future (at least until AMP made it into lnd). I also put that in a recent [tech paper update](https://github.com/ExchangeUnion/Docs/blob/master/XU-TechnicalPaper.md) (CTRL+F "direct channel"). This will not only eliminate routing fail

[2019-04-02 12:04] kilrau commented on #680
Sry for the super-late reply.

Great - I see #850 via [channelBalance](https://github.com/ExchangeUnion/xud/blob/master/lib/service/Service.ts#L120) is already aggregating outbound (local) balances of all channels for one currency! Now we'd need the same for the inbound (remote) balances, to do a sanity check there too - added a [comment](https://github.com/ExchangeUnion/xud/pull/863#issuecomment-

[2019-04-02 12:22] kilrau commented on #723
It needs to be implemented by the exchange.

[2019-04-02 12:24] kilrau commented on #797
Is this merged? @sangaman I could only find.

[2019-04-02 12:33] kilrau commented on #853
Feel free, but not important. raiden should be the only client using web proxy endpoints for now and that setup has to work without config. @offerm

[2019-04-02 14:20] kilrau commented on #853
Closed by @erkarl

[2019-04-02 14:20] #853 closed

[2019-04-02 14:43] kilrau commented on #830
Here is the PR: https://github.com/raiden-network/raiden/pull/3713

[2019-04-02 15:40] kilrau opened #866 "Integrate Raiden into Simnet"

[2019-04-03 05:36] reliveyy commented on #179
@kilrau OK

[2019-04-03 06:35] #817 closed

[2019-04-03 06:42] #735 closed

[2019-04-03 08:43] sangaman commented on #797
Yes, it's handled in #857 which is now merged.

[2019-04-03 08:56] sangaman commented on #723
I'm thinking that either way the exchange would need to take some steps to configure xud to use their preferred fee policy, and in that case they'd be limited by the fee policies that xud offers. I'm still thinking it makes more sense to leave it up to the exchange to pass the exact amounts it wants swapped to xud and figure out their fees on their own. At the least we can wait to see if configuri

[2019-04-03 13:05] kilrau opened #870 "sha256 <-> keccak256 problem"
Terms:
- `p_i = MVHz...`
- `hash_lnd = sha256(p_i)`
- `hash_raiden = keccak(p_i)`
- Swap: Taker -> lightning -> Maker, Maker -> Raiden -> Taker

The problem can be described using two scenarios:
1. According to todays swap protocol (taker creating preimage `p_i`, sending `hash_lnd` to maker): maker creates raiden-payment back with `hash_lnd`: taker obviously can't unlock raiden-payment  because it

[2019-04-03 13:53] michael1011 commented on #870
My two cents: I would go for option 2 and try to cooperate with the Raiden team as much as possible. If they decide that they want to support SHA256 we could support them actively with that because we really need it for our swaps.

Option 1) doesn't sound like a good idea since it requires a certain degree of trust and introduces a single point of failure to the system.

[2019-04-03 14:03] kilrau opened #871 "More Simulation Tests"
As per https://github.com/ExchangeUnion/xud/blob/simulation-readme/test/simulation/README.md

Decentralized Order Book:
* Placed order should get internal matches, and trigger order invalidation over the network.
* Peer disconnection should trigger orders removal to all his orders.

[2019-04-03 18:58] sangaman commented on #870
Good point on why using two hashes won't work. And I also feel that option 1 would be quite challenging to implement and not trustless (although a creative solution).

Making Raiden SHA256 compatible seems like the easiest and most sustainable path for sure. I figure it can be added as an "alternative" rhash value or an as an option to use SHA256 for the hash function.

[2019-04-03 19:18] sangaman commented on #865
I agree that automatic channel opening is susceptible to spam as described by michael.

If I were to automate anything, it might be opening reciprocal channels with peers who have connected to us. This is - at least until jointly funded channels are stable and supported - necessary to ensure payments can go both ways, and it makes spam attacks costly by requiring spammers to waste their own funds

[2019-04-03 19:42] erkarl commented on #870
Thanks for bringing this up as I didn't fully grasp after yesterday's call how we're going to solve this. Do we have an idea how much effort 2.A) would be?

[2019-04-04 11:56] kilrau commented on #870
@offerm How could this look like & what's your effort estimation on this?

[2019-04-04 13:29] kilrau commented on #723
Ok, agree. Approach a) then - exchange's are responsible to add/subtract fees. This should definitely find it's way into the documentation though. Could you add it in-code now so that Slate will pick this up later? @sangaman

[2019-04-04 14:43] kilrau commented on #865
Thanks for your feedback regarding automatically open channels! Indeed needs some more thinking and research on progress of dual-funded channels.

Yes. Because if we go for a direct channel approach, which strictly speaken means it's a requirement to have a direct channel in order to exchange orders with a peer, that check is not strict enough. Route exists - of course, we have a direct channel wi

[2019-04-04 16:40] erkarl opened #872 "Enable WETH currency and trading pair by default"
Offshoot from: https://github.com/ExchangeUnion/xud/pull/856
Depending on: https://github.com/ExchangeUnion/xud/pull/827

Enable the following trading pars when bootstrapping a new xud database (initial start):
- If lnd is enabled = LTC/BTC
- If lnd+raiden is enabled = LTC/BTC, WETH/BTC, LTC/WETH

**Raiden specific currencies are dependent on the contract address.**

[2019-04-04 17:03] offerm commented on #865
These exchanges may open direct channels to have better visibility and control. But, I don't this that the network topology is a concern of XUD and certainly we should not force the exchanges to use direct channels.

Not to mention that channel has an amount which is locked in the channel and if you have N nodes you need N-1 channels, you would need to divide your amount by N-1 to set the channels

[2019-04-05 11:27] kilrau opened #873 "Demo Exchange"
[Demo Exchange](http://exchange.oplogo.me/)

Target users: developers which want to integrate xud (usually developers from exchange)
Goal: give a visual look and feel what `xud`, integrated in an exchange, will be like

### Features
- [ ] Anonymous + automatic login. For now: unique ID and access token and store it locally in browser. Signature(browser user agent+IP) as fallback for ID (prio). Don

[2019-04-05 11:44] kilrau commented on #873
### Bugs

- [ ] Remove Stop Limit order, this is not supported by `xud`
- [ ] Change pair to LTC/BTC
- [ ] Remove News section
- [ ] Take currency out of input box, causes problems to enter amount
![image](https://user-images.githubusercontent.com/19181985/55625349-c7d10f80-57a8-11e9-8371-d82c348b336a.png)
- [ ] Remove deposit, preallocate SimNet amount

[2019-04-05 15:05] sangaman commented on #706
I'm putting the results of my work in progress here: https://exchangeunion.github.io/slate

[2019-04-06 16:42] #765 closed

[2019-04-06 17:46] #788 closed

[2019-04-09 11:11] kilrau commented on #706
Looks really nice! So what is missing imo to finalize this
* examples
* search function
* logo
* link it in xud readme, wiki, exchangeunion.com

Anything else I'm missing?

PS: I assume you still generate the slate doc manually (which is fine for now) ? Any not-crazy-complicated way to automate this via travis on merge into master?

Also, I assume it's common practice to have the slate doc based o

[2019-04-09 14:22] kilrau commented on #680
Does it make sense to you to cache these two values as preparation for #864 ? Or would you prefer to do it all at once - also fine! @erkarl

[2019-04-09 15:43] kilrau commented on #706
Didn't think about that option, but yes sounds like a good idea! Also basically answers my question about versioning - always be the latest release. If lnd does it that way - let's go for it.

[2019-04-09 15:48] #781 closed

[2019-04-09 16:30] #740 closed

[2019-04-10 06:44] erkarl commented on #680
Let's keep this issue for caching these values and deal with the alerts separately.

[2019-04-10 16:09] kilrau commented on #246
I learned quite a bit from the sprkswap's docker flow today. This is the level of experience we want. Added more details to the description above. Please check and let me know what you think @reliveyy @sangaman @erkarl

[2019-04-10 16:25] kilrau commented on #865
Agree.

As described [here](https://github.com/ExchangeUnion/xud/pull/863#issuecomment-481747466), these two checks cover all, also for direct channels. No changes needed.

It is. Let me share my vision again: everything is managed through xud gRPC/CLI calls. No need for an exchange or a trader to ever touch the clients below. For that we need to know how the user wants to setup her channels. See

[2019-04-10 17:14] kilrau commented on #40
Hold-off on this. I would like to finalize testing bitcoind and litecoind first and then list calls here.

[2019-04-10 17:21] kilrau opened #877 "Switch to bitcoind and litecoind"
- [ ] change current simnet setup to use bitcoind and litecoind. That might be a bigger change in conjunction with lnd.
- [ ] adjust xud-simulation tests & other tests to use bitcoind and litecoind. Also quite some changes.
- [ ] adjust in-code documentation to reference bitcoind and litecoind
- [ ] adjust simnet wiki & other external documentation to reference bitcoind and litecoind

[2019-04-11 05:19] ImmanuelSegol commented on #40
@kilrau Could I get a better description of which methods exactly I should implement?

[2019-04-11 09:09] kilrau commented on #706
Great work! @sangaman

Quick feedback to the slate doc:
* Can we capitalize "XUD" in page title and in-text mentions? When it's a reference to an xud instance, as xud. Just like on https://api.lightning.community/. I know, gotta correct that in a lot of other places too.
* Intro: "Welcome to the gRPC API documentation for XUD, the Exchange Union Daemon. XUD is the client to access the Exchange Uni

[2019-04-11 10:06] kilrau commented on #40
Yes, of course. Relevant for the wallet usage are [LND](https://api.lightning.community)'s:

https://api.lightning.community/#genseed
https://api.lightning.community/#initwallet
https://api.lightning.community/#unlockwallet
https://api.lightning.community/#changepassword
https://api.lightning.community/#walletbalance
https://api.lightning.community/#gettransactions
https://api.lightning.community/

[2019-04-11 10:06] kilrau commented on #40
@erkarl @sangaman @offerm

[2019-04-11 12:10] #846 closed

[2019-04-11 12:13] erkarl opened #879 "Show channelbalance for all the registered currencies"
It currently only works for BTC, LTC and WETH - https://github.com/ExchangeUnion/xud/blob/master/lib/service/Service.ts#L126

[2019-04-11 12:48] kilrau commented on #137
Since the main usage of the [webproxy](https://github.com/ExchangeUnion/xud/issues/853) will be raiden and raiden doesn't seem to have streams, I am closing this. We can open a new issue once we have a concrete need for streaming on the webproxy.

[2019-04-11 12:48] #137 closed

[2019-04-11 13:20] erkarl commented on #40
I'm not completely sold on the idea of exposing all the layer2 client calls via our gRPC. The benefit vs accessing the layer2 client directly would be that it's transport happens gRPC instead of a mix of REST/gRPC etc. The user would still need to familiarize themselves with the underlying layer2 client API. I'm also wondering how much maintenance overhead it would cause.

Wouldn't it be more conv

[2019-04-11 13:37] kilrau commented on #40
Hmm ok, good point. So what's your verdict? Don't go for it all or only integrate the layer2 client calls we actually need?

[2019-04-11 14:27] kilrau opened #881 "[Open Research Question] Free Options Problem"
Closed the [previous issue](https://github.com/ExchangeUnion/xud/issues/660) since at that time our understanding of the Free Option Problem (FOP) was rather limited.

Motivation/Problem description: Read [this](https://coinjournal.net/flaw-discovered-in-lightning-networks-cross-chain-functionality/) or watch [this](https://youtu.be/AmFC9dhtemo?t=3093), [this](https://lists.linuxfoundation.org/pip

[2019-04-11 14:27] #660 closed

[2019-04-11 14:40] kilrau commented on #163
Adjusted Moshe's original description: removed p2p punishment. I think we shouldn't advertise thresholds and punish if a peer violates them. This would require a peer to maintain potentially thousands of different thresholds for all peers. Just filtering locally by dropping orders is the better way I believe.

[2019-04-11 14:53] kilrau commented on #865
Suma sumarum final proposal is to let have `xud` two "modes":

* direct channel
* multi-hop-channel

The [setup](https://github.com/ExchangeUnion/xud/issues/246) will help choose such based on usage (exchange vs individual trader etc). Is everybody onboard with this? I'd go ahead then and create an issue to define implemention details for the two modes. @erkarl @sangaman @offerm

[2019-04-11 14:54] kilrau commented on #169
My thoughts on reputation event "penalizing" are:
* a bad local reputation event event is not _penalizing_, it will just lead me to banning this peer after reaching a certain negative score. Perfectly detectable and doable in a direct-channel scenario. And that's the only scenario that really matters for now and where we would want to use it in. Any opposing thoughts on implementing this? Dependen

[2019-04-11 15:25] #184 closed

[2019-04-11 15:33] #340 closed

[2019-04-11 15:33] #345 closed

[2019-04-11 15:43] #405 closed

[2019-04-11 16:14] kilrau commented on #486
Some more thoughts on option b:
* we can use a list of funny animal names and assign it to it
* drawback: when debugging/communicating with others one and the same peer will have different names so one had to fall back to the pubKey again.

Thoughts from a fresh set of eyes? @erkarl

[2019-04-11 18:14] erkarl commented on #40
I'd go for the latter - only implement calls that xud needs to provide its features. Exposing those calls could be done via xud's unified interface. The value proposition would be that the developer integrating/using xud wouldn't have to learn all layer2 clients' APIs - only xud's API.

[2019-04-11 19:13] kilrau commented on #643
The more I think about this one, the more it looks like a "debug" feature. Anyhow, I'd be fine with adding it if:
* we make the [market depth](https://github.com/ExchangeUnion/xud/issues/648) version the new default for `listorders` since this is how all exchanges display the order book and the only thing that makes sense in real-life usage.
* Keep the existing `listorders` as e.g. `listorderssing

[2019-04-11 20:00] kilrau commented on #798
I think we can tackle this one
* once 0.6 released
* if we are done with the [raiden simnet setup](https://github.com/ExchangeUnion/xud/issues/866)
* if we are blocked by [raiden team decision on SHA256](https://github.com/ExchangeUnion/xud/issues/870)

[2019-04-11 20:08] kilrau commented on #866
@erkarl preferred to help out if you are busy with your other issues

[2019-04-11 20:11] kilrau commented on #831
do you prefer @sangaman to take this over?

[2019-04-11 20:21] kilrau commented on #864
Since you are also on #680, I think it makes sense to also take this one @erkarl . I think we need a new `SubscribeAlerts` or more specific `SubscribeChannelAlerts`.

[2019-04-11 20:34] kilrau commented on #870
Update: we are waiting for a decision on implementation details from the raiden team

[2019-04-11 20:39] kilrau opened #882 "Add SHA256 to raiden (in addition to keccak256)"
If received payment hash can't be resolved with current hash function:
* loop through other available hash functions
* if it can be resolved with another hash function - use this one - and mark sender with this new hash function as default
* opens raiden generically to support many more hash functions
* avoids p2p message overhead
* doesn't require any changes on API (e.g. hash function field in p

[2019-04-12 11:26] offerm opened #884 "xud crash on raiden start"
xud is configured to use raiden

Starting xud when raiden is down.

xucli getinfo:
[code]

starting raiden causes xud to crash

[code]
log shows nothing
If you start raiden befor xud there is no problem.

Also if raiden stops - xud don't detect it. Not sure if this is a problem or not.

[2019-04-12 12:18] kilrau commented on #884
It is. Connection to the raiden client should have a pulled heartbeat, [just like lnd](https://github.com/ExchangeUnion/xud/pull/762).

[2019-04-12 12:44] kilrau commented on #684
Depends on https://github.com/ExchangeUnion/xud/issues/884#issuecomment-482553162

[2019-04-12 12:50] erkarl commented on #884
I believe this is fixed in: https://github.com/ExchangeUnion/xud/pull/876 - could you confirm you still have the bug with that patch applied?

[2019-04-12 13:06] erkarl commented on #884
Testing this without connected peers I get the following output (working as intended):
[code]

[2019-04-12 15:43] sangaman commented on #884
Yes this definitely looks like the same issue as #876.

[2019-04-13 04:47] sangaman commented on #884
Should be fixed in the latest master, we can close this if we get confirmation that the crash doesn't happen any more.

[2019-04-13 08:50] kilrau commented on #884
@offerm

[2019-04-13 09:44] offerm commented on #884
Yes, looks OK now. Thanks.

[2019-04-13 09:44] #884 closed

[2019-04-15 05:16] sangaman commented on #684
We have logic that more or less covers b) I think. What did you have in mind for a gRPC error?

Right now when we encounter any lnd error (including an unexpected end to our invoice subscription) we will mark that lnd as disconnected and reject any swaps involving that currency as well as stop ourselves from requesting any swaps involving that currency. That logic hasn't been tested very much I do

[2019-04-15 05:33] sangaman commented on #864
We ought to discuss this on the call this week to settle on a good approach.

[2019-04-15 05:39] sangaman commented on #831
Handling it on the xud side is easy and I can certainly do that, but we'll also need a change to raiden to pass the currency/chain value in the request (which also shouldn't be too hard, but I'd need to familiarize myself with the code). lnd I figure we shouldn't bother with since we're going to switch to the hold invoices anyhow.

Having Raiden provide the currency ticker in the request would be

[2019-04-15 05:42] sangaman commented on #798
I will take a look at this before our call to get an idea of how big a lift this change will be for us.

[2019-04-15 06:58] erkarl commented on #684
Think this approach seems reasonable.

[2019-04-15 07:46] offerm commented on #831
This is, more or less,  the request from raiden to XUD:

[code]

[2019-04-15 07:52] erkarl commented on #719
It's possible that this issue is fixed in: https://github.com/ExchangeUnion/xud/pull/886 because it changes the shutdown logic a little to avoid incomplete shutdowns while connected to peers.

[2019-04-15 10:06] erkarl commented on #486
I'd also go for the option B because I saw how much unnecessary confusion it first created with lightning clients.

[2019-04-15 10:10] erkarl commented on #643
I agree on showing the market depth for `listorders` so it will be easier to onboard new users with a familiar experience.

`listorderssingle` could also be `listorders --debug` or `listorders --single` or `listorders --all`.

[2019-04-15 11:11] kilrau commented on #684
Great that we have most of it! As far as I understand we still have to handle:

1. Invalidation of *affected* `OwnOrders` with peers, triggered by an disconnected swap client (lnd/raiden).

I would use the regular `OrderInvalidation` package to invalidate all open `OwnOrders` of an affected pair, nothing new to tell peers to disable `per swap client`. When the swap client is available again, we si

[2019-04-15 11:41] kilrau commented on #458
As discussed in https://github.com/ExchangeUnion/xud/pull/883#issuecomment-483217186, this needs a separate PR.

[2019-04-15 11:45] kilrau commented on #831
The token symbol / token address unless it's somehow encoded in `secret_request_event.payment_identifier`

[2019-04-15 11:48] offerm commented on #831
Will see if this is available

On Mon, 15 Apr 2019 at 14:45 Kilian Rausch ⚡️ <notifications@github.com>
wrote:

[2019-04-15 11:53] kilrau commented on #643
I like `listorders --debug` since we can apply the `--debug` flag to any "more detailed" version of a call.

[2019-04-15 11:54] kilrau commented on #643
Ok with you? @sangaman

[2019-04-15 15:09] sangaman commented on #684
I was thinking 30s or a minute, either is fine with me. We already have the logic in place to invalidate all own orders for an affected pair, so that's no big deal.

Broadcasting all orders again is a new feature though. This would require us to track invalidated own orders separately within xud (currently we just get rid of them).  It also means that we could have a lot of re-validated orders mat

[2019-04-15 17:06] kilrau commented on #684
Yes, I believe we need to take the orders out of the order book and store them somewhere else.

Exchanges in no-matching mode track orders on their own. Any other node in matching mode would permanently loose all these orders - not good. Also, how would the exchange re-sending orders to xud and xud in turn immediately sending it to the order book be any different from xud doing that directly? Exch

[2019-04-16 04:26] sangaman commented on #684
OK, I think that can be done. But the way you described it there could be orders that overlap in price but don't "match" because they are both treated as makers, but I guess that's the desired outcome in this case?

[2019-04-16 04:30] sangaman commented on #643
I think it would make sense for market depth output to be in a separate call like `marketdepth`, and keep `listorders` in line with the actual `ListOrders` rpc call by having it list out individual orders, where I still think some sort of peer identifier makes sense.

[2019-04-16 07:36] #721 closed

[2019-04-16 07:36] #719 closed

[2019-04-16 07:36] #738 closed

[2019-04-16 07:36] #739 closed

[2019-04-16 07:47] kilrau commented on #684
All own orders in the order book were maker orders before, that's why they are in there (adjusted my description on this).

don't see how this can happen, then they should have matched before already. Note: as I described it, we don't allow any old or new peer orders or new own orders (place orders) while swap client is disconnected.

Anyways, yes that's the desired outcome. Still would be interes

[2019-04-16 07:50] #797 closed

[2019-04-16 07:53] kilrau commented on #707
https://sparkswap.com/docs/integration/ccxt

[2019-04-16 08:14] kilrau commented on #643
Keeping it in line with the actual rpc calls - that makes sense. But I also would want the default order book view to be in line with how exchanges currently present their order books; and that's a market depth view of orders.

Maybe the better alternative: we leave the `listorders` call as is, but change the [description to: a list of all single orders in the order book for a given pair_id, along

[2019-04-16 10:26] kilrau opened #890 "[Concept] Torrent blockchain for full nodes"
Includes:
* bitcoin testnet3+mainnet (Work with @rootzoll: https://github.com/rootzoll/raspiblitz/tree/v1.2/home.admin/assets)
* litecoin testnet+mainnet (Work with @rootzoll: https://github.com/rootzoll/raspiblitz/tree/v1.2/home.admin/assets)
* eth geth ropsten/rinkeby+mainnet (research needed)

Find a way to automatically update torrents on a regular base and distribute new torrent file to seede

[2019-04-16 10:34] kilrau opened #891 "[Concept] Config of pre-existing full node for testnet/mainnet"
https://sparkswap.com/docs/advanced-usage/using-your-preexisting-blockchain-node

[2019-04-16 10:55] kilrau opened #892 "Fix geth private chain block lookup bug"
This issue is to track progress on fixing raiden to not lookup old blocks to hit a snag with geth: https://github.com/raiden-network/raiden/issues/3673#issuecomment-482952562

Fixing geth is the long term solution (issue opened, see in raiden issue above), but this could take some time.

[2019-04-16 11:41] kilrau commented on #870
Closing this issue since we decided for option 2. Implementation details can be tracked here: https://github.com/ExchangeUnion/xud/issues/882

[2019-04-16 11:41] #870 closed

[2019-04-16 11:50] kilrau commented on #831
I moved this up one sprint so that https://github.com/ExchangeUnion/xud/issues/798 can be done first potentially closing this one too.

[2019-04-16 11:56] kilrau commented on #866
Offer made some progress on this in the past days. Almost working, main blocker: https://github.com/ExchangeUnion/xud/issues/892

[2019-04-16 12:16] kilrau commented on #486
Actually I'd like to hold off on this feature. Reasons:
* manually assigning an alias won't be a crucial feature
* an automated assigned alias is complicated
* both approaches have the drawback of being a "local point of view" - the assigned alias for a given peer will be different on other nodes
========================
it's a debug feature and not reason enough to do the effort imo

[2019-04-16 12:44] sangaman commented on #486
Should we leave it open tho even if having it low priority? I don't think of it as a debug feature necessarily (for debugging purposes, I have no problem using hex pub keys), but as a way to make it more easily to identify peers at a glance. It's certainly superficial and not urgent in the least, but still something that seems like it's worth tracking.

[2019-04-16 12:45] kilrau opened #893 "Allow different trading pair direction on external layer pointing to the same internal pair"
EDITED Proposal: Fixed base/quote currency direction xud internal, external can be any direction -> still maps to the same pair. This lets parties trade with each other no matter in which direction they added the trading pair. Improves UX and avoids splitting liquidity into two.

Needs to
* separate internal pair representation from external
* hardcoded internal representation for popular pairs
*

[2019-04-16 13:13] offerm commented on #866
This is almost done.
Not usable due to #892  - my feeling is that I will need to rebuild the chain.

[2019-04-16 13:16] offerm commented on #823
Suggest to close the for now. We mine a new BTC, LTC, raiden every 2 minutes now.
Don't think we should complucate it.

Raiden and LND are using blocks as a timer so we can't do based on transactions in mempool only

[2019-04-16 13:23] sangaman commented on #893
This seems backwards to me. Virtually all exchanges and trading pairs I'm aware of use BTC as the quote currency. I don't think I've ever seen the price of BTC quoted in terms of how many LTC it can buy, for example.

Ultimately though I don't think we need to restrict the available trading pairs within xud, so users can have whatever they want for quote or base currencies. But for the defaults, k

[2019-04-16 13:33] offerm commented on #892
Also relevant https://github.com/ethereum/go-ethereum/issues/19146

[2019-04-16 13:47] offerm commented on #893
Agree.

I think we should restrict (at least for now)  BTC and WETH to be quote currencies and  allow everything else to be base currencies.

the pair WETH and BTC should only be WETH/BTC

Alternativly we can allow all currencies to be bases and quote but when we present data we do based on the the above logic.

Or we allow the exchange to define it's pairs and present the book using whatever he d

[2019-04-16 14:15] sangaman commented on #798
Here's a quick overview of what needs to happen for xud to support hold invoices:

- We need to start using invoices which we're not currently. We'd still generate the hash and preimage and call `AddHoldInvoice` with the has. I'm thinking we can actually send the swap request packet and call `AddHoldInvoice` in parallel to eliminate an extra step of waiting.
- After the invoice is created call `Su

[2019-04-16 14:18] offerm commented on #892
I created a patch for raiden (as part of the xud-raiden) PR that ignores the missing logs.

With this patch raiden can start but it can't really be used.

[2019-04-16 15:31] erkarl commented on #643
Recap from call: @sangaman's concern was to not have this on xud level.

[2019-04-16 15:33] erkarl commented on #648
Recap from call: @sangaman's concern was to not have this on xud level.

[2019-04-16 16:28] kilrau commented on #893
You are right of course, I got tricked by FIAT, including stable coins being quote currency on almost all exchanges and BTC/ETH the base. Crypto to Crypto the quote currency it's always the more valuable one - BTC or ETH. So agree on leaving the current pair as is.

After the call I agree we want a "internal representation" of one pair in one particular direction but let the user/platform add pair

[2019-04-16 16:39] kilrau opened #895 "Simnet: switch btc/ltc to neutrino"

[2019-04-16 16:39] kilrau commented on #823
Closing in favor of https://github.com/ExchangeUnion/xud/issues/895

[2019-04-16 16:45] kilrau commented on #892
Ok. Do we know WHY raiden needs these events?

[2019-04-16 16:55] LefterisJP commented on #892
Yes, raiden needs blockchain events because this is how it learns about what has happened in the blockchain. This is the "typical ethereum" way of dealing with blockchain. You query old events to learn what happened, and you poll an event to reach to things happening now.

[2019-04-16 16:56] kilrau commented on #864
Recap from the call: check other projects for how they transport non-call specific alerts. Apart from that no show-stoppers so far @sangaman @erkarl

[2019-04-16 16:59] kilrau commented on #892
That makes sense. We'll go an figure out how to fix this problem with missing historic events in geth. Thanks @LefterisJP

[2019-04-16 17:00] kilrau commented on #648
Recap v2: order book (market depth) compilation could be on a separate layer  /  helper repo

[2019-04-17 09:36] kilrau commented on #458
As just discussed with @reliveyy , this needs some further research on how fail2ban can properly read our logs. Since this an advanced ddos/spam prevention, not crucial and moved to post-1.0.0.

[2019-04-17 09:40] kilrau commented on #246
Btw: That's taken care of by a) user choosing supported coins/tokens and also b) #891 @sangaman .

[2019-04-17 10:15] kilrau commented on #893
Edited issue description.

[2019-04-17 10:18] kilrau commented on #891
As discussed with @reliveyy plan is to ask this in the [docker setup script](https://github.com/ExchangeUnion/xud/issues/246) and persisted in the xud.conf where it also can be manually edited/added. What do you think? @erkarl

[2019-04-17 10:29] kilrau commented on #890
@reliveyy will do some research on which torrent clients to use with the alpine linux image. I could find two options:

deluge:
* https://pkgs.alpinelinux.org/package/edge/testing/x86_64/deluge
* https://deluge-torrent.org/

rTorrent
* https://pkgs.alpinelinux.org/package/edge/community/x86_64/rtorrent
* https://github.com/rakshasa/rtorrent/wiki
* https://github.com/StayPirate/alpine-rtorrent

I w

[2019-04-17 10:30] kilrau commented on #892
geth `eth_getLogs` fixed on latest master

[2019-04-17 10:30] #892 closed

[2019-04-17 10:32] kilrau commented on #798
You can work with an official release now: https://github.com/lightningnetwork/lnd/releases/tag/v0.6-beta @sangaman ⚡️

[2019-04-17 10:54] kilrau opened #896 "[Discussion] Remove `xucli addcurrency <currency>` + `removecurrency`"
Abstract: How about we get rid of `xucli addcurrency <currency>` and just add a currency automatically when `xucli addpair  <base_currency> <quote_currency>` contains a new currency? The same way `xucli removepair <pair_id>` would remove the currency if it's not used anywhere else.

Motivation: As @offerm just discovered, it's not too user-friendly to think of the step of adding a currency first b

[2019-04-17 11:07] offerm commented on #896
Agree to the concept.
For ERC20 we need to provide also the token address so we need to see how to provide this extra info.

[2019-04-17 11:24] kilrau commented on #896
Good point. Maybe:

`xucli addpair <pair_id> [tokenaddress]`
Description: `add a trading pair in the format <base_currency>/<quote_currency> with additional [base_currency_token_address]/[quote_currency_token_address] for tokens.`

Other calls can remain the same.

[2019-04-17 11:33] erkarl commented on #896
I agree that skipping `addcurrency` would be a better UX for the end user, but we also need to provide the `decimal_places` and `contract_address` for ERC20 tokens. It feels like including those in the `addpair` call would make things even more complicated. Another option is to fetch this information from a local database/mapping (not sure about this either).

[2019-04-17 11:38] erkarl opened #897 "Verify ERC20 contract address"
@offerm brought up a good point that we don't verify the contract address:
"if A has WETH/BTC and B has WETH/BTC it can be that they don't have the same WETH"

@kilrau:
I would want to verify the token address in two places:
- receiving order from peer, check that same ticker symbol has same token address than ours before adding to order book. This should catch the vast majority and prevents swaps

[2019-04-17 11:41] erkarl commented on #897
My initial thoughts on this one are that we should handle the trading pair internally as <contract_address>/BTC or <contract_address>/<contract_address> for ERC20/ER20. Thoughts?

[2019-04-17 11:45] kilrau commented on #897
And WETH would be just an alias which we use to represent given token address on the CLI/gRPC. Sounds good, prevents all 'cheating' and is essentially what eth does.

[2019-04-17 11:59] kilrau commented on #896
Outdated stats on erc20 decimals distribution: https://github.com/ethereum/EIPs/issues/724#issuecomment-333155336, so not 9X% with 18 decimals like I thought it would be.

I'd indeed want to automate all additional info of a token address:
* How about fetching it from geth calling the `decimals` function of the given contract?
* For that we would need an additional check that geth and raiden are a

[2019-04-17 12:17] kilrau commented on #179
After discussion with @reliveyy :

EDIT of [my comment above](https://github.com/ExchangeUnion/xud/issues/179#issuecomment-410938583):
Default mode and functionality will exist as `ban` (https://github.com/ExchangeUnion/xud/issues/336) and I don't think we need a separate `blacklist` mode for that anymore.

Basics for whitelist mode:
- only allow to connect to whitelisted `nodePubKey`s
- these liv

[2019-04-17 12:36] erkarl opened #898 "Trading new ERC20 token requires restart"
Currently, when adding a new ERC20 token requires a restart because we're associating the swap client (Raiden) with currencies while starting up xud. Currencies that are added at runtime are not immediately associated with the swap client. That will result in the following error message in case of buy/sell orders:
[code]

[2019-04-17 12:53] erkarl opened #899 "Change error message when trying to trade currencies with no channels"
With the recent addition of sanity checks before placing own orders to orderbook we're verifying that we have sufficient outbound balance.

When the user has no channels for that currency we're currently showing an error:
[code]

@offerm and @kilrau pointed out that this message is misleading. This issue is about changing the error message to:
`<CURRENCY> doesn't have open channels.`
in the event

[2019-04-17 19:32] offerm commented on #896
I think it is valid to request raiden when adding an ERC20 token. Don't see a problem with that.

Also, as far as I recall, Raiden used to provide token information in their token API. This was removed in one of the latest version. We can ask them to put it in so we can query raiden and not geth/parity/infura/etc.

But I'm not sure we should touch this at all.... My question was not about the "how

[2019-04-17 19:43] sangaman commented on #896
We would also need to specify the swap client (between lnd and raiden for now). It seems more complicated and confusing to me to try to combine adding a currency and adding a trading pair into a single call. In terms of UX, this is something that has to be done rarely and only by administrators.

But I do agree that the cli command for add pair should use the `ltc/btc` format rather than `ltc btc`

[2019-04-18 07:06] offerm commented on #899
@erkarl also we better use the decimals and the  show the amount as 1.0 and not 100000000000000000

[2019-04-18 07:10] #823 closed

[2019-04-18 07:16] offerm opened #900 "Wrong verification"
From the bot log on test1:

Trying to place an order immediately after xud restart gives this error and the bot gives up on order placing.

[code]

However, if you restart the bot, everything works fine.

[2019-04-18 18:46] sangaman commented on #900
I think I see the issue and am working on a fix.

[2019-04-18 19:23] kilrau commented on #896
Not crucial at the moment, just like I said.

We can go with a manual addcurrency call specifying all these details including swap client for now. In the long run I would want to get rid of "currencies" altogether and just have pairs once we are able to fetch all info from underlying clients.

[2019-04-18 22:10] sangaman commented on #179
Is the plan to drop the configurable whitelist IP addresses?

I think those whitelist rpc calls make sense, then I imagine we'd have a configurable option as to whether to only allow node pub keys found on the whitelist.

I think we might want a different disconnection reason from "banned" for when a node is not on the white list.

[2019-04-18 23:15] sangaman commented on #897
It makes some sense I think but I'm not sure it's necessary, as long we're never using the same currency symbol twice. In terms of the original issue, sanity swaps (#822) will make sure we're using the same token address for the advertised currencies. If we're not, the pair will remain dormant for that peer.

[2019-04-19 03:32] sangaman commented on #458
Makes sense, we would just need to look into how fail2ban can be configured, and then print a distinct log message when we receive spam or invalid inconnection attempts from a certain IP address.

[2019-04-19 03:51] sangaman commented on #895
Should this be moved to https://github.com/ExchangeUnion/xud-simnet?

[2019-04-19 04:00] sangaman commented on #707
I'm not familiar with CCXT and I don't think it's been brought up on one of the calls, but we can discuss next time. I'd expect that it'd be better to have a wrapper around our existing API.

[2019-04-19 04:09] sangaman commented on #706
I actually thought we'd agreed on lower case "xud" style, which I prefer. And fwiw it actually seems like the all caps usage of "LND" in their api docs is unusual, I don't see it that way anywhere else. The current slate doc is using PascalCase a few places in the description because that's the style for `Service` definitions in protobuf. I can change that, though, just need to make sure how.

For

[2019-04-19 04:16] sangaman commented on #684
When we request the orders from peers that we missed while we weren't accepting orders, we could get orders that match the orders we put aside. But they will both be "maker" orders in this case.

[2019-04-19 04:44] sangaman commented on #648
Yeah basically I am thinking that it makes sense to take non-core functionality like this and put it in a separate layer, so as not to block the thread and not to clutter the codebase. This could cover any features designed to aid exchanges, display/manipulate data, manage channels, etc...

In this case we are talking about more of what I'd consider client/front-end functionality. The cli is a cli

[2019-04-19 08:40] erkarl commented on #648
I also thought about having this call behind something like lnd's new sub-server rpcs, but this doesn't really solve the issue of having the thread blocked. It should stay out of `xud-core` and move into `xud-ui/utils/helpers`.

[2019-04-19 09:20] offerm commented on #648
IMHO we should simply change the current list orders so that it will
aggregate the volume in each price point.

On Fri, 19 Apr 2019 at 11:40 Karl Ranna <notifications@github.com> wrote:

[2019-04-19 15:05] ImmanuelSegol commented on #689
@kilrau @offerm @sangaman  Should this command listen to all events from the order book and swap and every time an event that has the same ID as the user passed in occurs we report it to the user?

And if the order completes or fails we close the stream?

[2019-04-19 15:20] kilrau commented on #689
I would describe it as: get all relevant log entries for Order ID X along with deals, trades from the db, if available. First line should state the orders' status.

Sth like:
[code]

Please jump in if I missed sth or if you had sth else in mind @offerm

[2019-04-19 15:23] offerm commented on #689
I prefer the output shows the chronological order of things

On Fri, 19 Apr 2019 at 18:20 Kilian Rausch ⚡️ <notifications@github.com>
wrote:

[2019-04-19 15:32] ImmanuelSegol commented on #689
@offerm Is it really a good idea to parse the log file for events?
Maybe if the events are important for users of XUD we should persist them in the DB in a chronological way?
What will happen if the log file is thousands of lines long?

[2019-04-19 21:00] kilrau commented on #179
IP addresses are not too permanent and were never planned to be whitelisted. `xud` `NodePubKey`s are.

Exactly.

Ok. Proposal? @sangaman

[2019-04-19 21:05] kilrau commented on #897
Wouldn't this require us to hardcode all ERC20 ticker symbol <-> contract addresses and hope that users don't change to cheat on these? Also wouldn't that eliminate the option to manually add ERC20 tokens (I picture two users manually adding the ticker symbol XUC, but with different contract addresses - how would the protocol handle this?). In the end ERC20 tokens are uniquely identified by their

[2019-04-19 21:07] kilrau commented on #895
Yes it should! https://github.com/ExchangeUnion/xud-simnet/issues/26

[2019-04-19 21:07] #895 closed

[2019-04-19 21:09] kilrau commented on #707
That's what I thought too!

Please bring this up on our next call on Wednesday and definitely don't accept that we skip you again! ;)

[2019-04-19 21:11] kilrau commented on #706
Alright, not important anyways.

Interesting. No idea where it comes from then. But also not important.

That would be important ;)

[2019-04-19 21:14] kilrau commented on #684
Now I understand what you mean. Yes there can be a price match but there won't be a match/swap triggered, because `OwnOrder` maker orders are already in the order book before we start accept peer orders again. So all good I guess?

[2019-04-19 21:27] kilrau commented on #648
I think we can have the sub-server discussion in SH. It's important, but not for this issue.

I sincerely believe the "marketdepth" oder book view will be very much important for a CLI-trader too, so I would want to integrate it into `xud` directly. Lack of this call will make trading via CLI close to impossible once there is a bit of liquidity in the system. I also strongly vouch for a new `order

[2019-04-19 22:00] sangaman commented on #648
We can have the cli organize the orders however we want without touching the API. I'd say let's just start with that, if that's what the immediate use case is. I'm fine with the name `orderbook` for this command.

[2019-04-20 03:00] sangaman commented on #897
I meant more that a particular node isn't using the same currency symbol twice, which is actually impossible currently. If we want to support the ability to trade multiple contract addresses for the same token/currency then that's a different story, but as far as I know that's not something we'd want to do (it'd certainly be horribly inefficient from a network perspective).

As is pending the sani

[2019-04-20 03:01] sangaman commented on #684
Yup I think so.

[2019-04-20 03:03] sangaman commented on #179
Something like `WHITELIST_RESTRICTED` I guess - exactly what we call it isn't too important as long as there's a separate reason for it.

[2019-04-20 03:05] sangaman commented on #689
I don't think we need to go digging through log files. The order object itself contains information on when it was created. Then we are already storing all swaps and trades to the database, so we can retrieve those, and those have relevant timestamps as well for when they occurred. That should be it as far as "events" go.

[2019-04-20 03:28] #748 closed

[2019-04-20 07:54] kilrau commented on #648
Ok. `orderbook [pair_id]` has two immediate use cases:

* trade via CLI call
* bind in API call in demo exchange

So IMO the only proper way to do it would be a separate `orderbook` API call. @erkarl ?

[2019-04-20 08:30] kilrau commented on #897
Gotcha.

Indeed that would be wrong. Different contract address = different token.

But isn't that precisely the justification why we should only care about contract addresses for ERC20s as unique id? No agreement between nodes needed. A user can call the ticker symbol differently on her node, but the network only needs to care about the contract address. Sry, but I'm just really convinced that th

[2019-04-20 08:32] kilrau commented on #179
`WHITELIST_RESTRICTED` sounds good to me. All clear? @reliveyy

[2019-04-20 08:34] kilrau commented on #689
Agree. Let's go with:

[code]

[2019-04-20 12:26] kilrau commented on #898
Is that why @offerm put a restart into the simnet script?

[code]

If so, let's fix both!

[2019-04-20 14:49] kilrau commented on #865
If no opposing opinions on this I take this as consensus? @sangaman @offerm

[2019-04-21 13:52] sangaman commented on #865
I am still unsure about automatically opening channels, including the concerns over how much to open the channels for. Even in whitelist mode, we may have peers that we expect to trade a lot with and would want large channels with, and others that we don't expect to trade much with and would want small or no channels with, and I don't see how xud can know about these things in advance.

Also I don

[2019-04-21 14:17] kilrau commented on #865
Good points! @sangaman

You are right, there is no way of knowing. We need user input. See [Point 3.](https://github.com/ExchangeUnion/xud/issues/865#issue-428185743) in what I wrote above. So let's call it "support" to setup channels, it's not automated. We need to ask "how much?" and "with whom?".

Right, but the probability that a random route is able to support a regular trade size is very low

[2019-04-24 06:39] erkarl commented on #897
What about currencies that don't have a token address? Think the primary key could be <TICKER_NAME>+<OPTIONAL_CONTRACT_ADDRESS>.

[2019-04-24 07:05] erkarl commented on #891
We could make it so that the docker setup script points to pre-existing nodes, but that user input should be persisted in layer2 swap client configuration (lnd, raiden). `xud.conf` only needs to store configuration on how to connect to the swap clients.

[2019-04-24 07:32] #900 closed

[2019-04-24 10:19] kilrau commented on #891
`xud-lnd.conf`? Or put whatever possible directly in `lnd.conf`?

[2019-04-24 10:28] erkarl commented on #891
The latter. It's lnd's responsibility to know how to connect to it's underlying layer.

[2019-04-24 12:18] erkarl commented on #648
# API orderbook.snapshot
{
  version: XYZ,
  orderbook: [
    { price: 0.1, depth: 4.5 },
    { price: '0.2', depth: 19.99999999999996 },
    { price: '0.3', depth: 36.900000000000006 },
    { price: '0.4', depth: 43.19999999999991 },
    { price: '0.5', depth: 49 },
    { price: '0.6', depth: 66.00000000000009 },
    { price: '0.7', depth: 88.9000000000002 },
    { price: '0.8...', depth: 254.000

[2019-04-24 12:27] erkarl commented on #890
Conclusion from the call: don't do it since we're switching to Neutrino.

[2019-04-24 12:27] #890 closed

[2019-04-24 12:32] erkarl commented on #864
Conclusion from the call: 1 call for generic events. Just type and description.

[2019-04-24 12:37] erkarl commented on #561
Conclusion from the call. For mainnet:
- readonly
- everything

[2019-04-24 12:38] sangaman commented on #561
As discussed, it would make sense to have separate macaroons with access to different sets of rpc calls. A simple breakdown would be one macaroon with access to all calls and another with access to strictly read-only calls (GetInfo, ListOrders, etc...).

[2019-04-24 13:23] erkarl commented on #865
Considering the limitations of the current Raiden implementation I agree with temporarily hardening/restricting the trading to direct channels only.

[2019-04-24 14:37] offerm commented on #865
I don't like it.

On Wed, Apr 24, 2019 at 4:23 PM Karl Ranna <notifications@github.com> wrote:

[2019-04-25 02:07] erkarl commented on #865
I agree it's not ideal, but I'm suggesting it as a **temporarily** measure in order to ensure smoother trading experience for the initial mainnet.

[2019-04-25 02:31] kilrau commented on #706
Slate: api.exchangeunion.com
Typedoc: typedoc.exchangeunion.com
Old website archive: exchangeunion.github.io

[2019-04-25 02:31] #706 closed

[2019-04-25 03:57] kilrau commented on #561
Yup, I think that's what @erkarl meant. Sounds good!

[2019-04-25 04:55] kilrau opened #903 "Combine `SubscribeAddedOrders` and `SubscribeRemovedOrders` to ensure correct order"

[2019-04-25 04:59] sangaman commented on #903
https://stackoverflow.com/questions/48890049/best-approach-to-stream-multiple-types-with-grpc has some good input on this sort of issue from a google engineer. The recommended approach is to have separate calls for separate message types where ordering is not a concern, but a combined call where ordering is a concern. After combining the two calls described here, we'll be consistent with that appr

[2019-04-25 05:06] kilrau commented on #648
We agreed on the call to not do `API.orderbookUpdateSubscribe();`, `ListOrders` covers the exchange use case to display a live order book in the UI.

CLI:
v1: sync call, computing orderbook depth in CLI layer. We can go with 5 decimals default. Change decimals with commandline arg

[2019-04-25 09:24] #903 closed

[2019-04-25 10:23] #676 closed

[2019-04-26 02:25] #675 closed

[2019-04-26 04:07] kilrau commented on #680
Agree to skip inbound balance, because no direct lnd api call available, plus dependent on other nodes to open channels to my node anyways. So this issue is about implementing a configurable threshold on aggregated channel outbound balance. @erkarl

[2019-04-26 04:29] kilrau opened #909 "Channel management"
### Motivation:
Our [new docker setup](https://github.com/ExchangeUnion/xud/issues/246) will ask for a "channel strategy" - direct or multi-hop. Due to a serious raiden routing issue (raiden uses a new secret for every new route it tries) we probably have to make direct channels the default for now and only allow multi-hop for btc and ltc.

### Specification:
This issue is about creating a new con

[2019-04-26 04:30] kilrau commented on #865
Also agree it's not how we want it to be in the long term, but it's especially useful now and there will be parties with a "always" direct channels" need. Closing the discussion, and moving to implementation: https://github.com/ExchangeUnion/xud/issues/909

[2019-04-26 04:30] #865 closed

[2019-04-26 08:47] kilrau opened #910 "Currency primary key"
How to generically set a unique primary key for coins & ERC20 tokens to prevent intentionally or unintentionally tricking a trading partner into thinking my contract is WETH on xud p2p message layer, even though it's not. Swaps will fail in the end, but that would be annoying.

Short-term:
Use token contract address as unique identifier for ERC20.

Long-term:
A way might be to call getinfo from ln

[2019-04-26 09:06] kilrau commented on #831
@offerm is the contract/token address finally available? If not what exactly can you provide to `xud`?

[2019-04-26 10:40] kilrau opened #911 "xucli: generic amount represenation"
This is a first step to separate `xud` internal representation of amounts from external representation, in this case `xucli`.

I believe we could use a generic module to take care that whatever amount hits the CLI, gets converted into full units with decimals. [Example.](https://github.com/ExchangeUnion/xud/issues/899#issuecomment-484382315)

[2019-04-26 10:52] sangaman commented on #909
I don't see why we would need a config option for direct channel mode. Even given the raiden bug, if we can't swap (whether due to lack of a direct channel or for any other reason) we will fail the sanity swaps and therefore not send or accept any orders with peers for the trading pairs that can't be swapped.

[2019-04-26 11:01] kilrau opened #912 "`xud` master password"
Needs some research if this could work like this @sangaman :

* let's btclnd create memonic, use it for xud and inject it in all other non-preexisting nodes
* encrypts xud's private key and all other nodes non-preexisting nodes private key with `xud` master password
* lnd macaroons, full-node rpc passwords
* pre-existing LND/raiden/fullnode's: user has to enter passwords and xud stores and encrypt

[2019-04-26 14:51] offerm commented on #831
Yes, Available now as part of the request.

On Fri, Apr 26, 2019 at 12:06 PM Kilian Rausch ⚡️ <notifications@github.com>
wrote:

[2019-04-27 03:02] kilrau commented on #909
Ok, where else would you persist this?

[2019-04-27 03:35] kilrau commented on #912
Need your feedback on the concept in general and also if you see any reason why this shouldn't be part of xud core @sangaman @erkarl

[2019-04-27 04:28] kilrau commented on #169
Since we agreed to leave the "free option problem" open for mainnet release, I moved this to `post-1.0.0`. Any input on details like weight of events is appreciated though @erkarl

[2019-04-27 04:37] kilrau commented on #528
Also moved to `post-1.0.0`, wouldn't want to touch the swap protocol from here

[2019-04-27 05:06] kilrau commented on #866
I believe this is done, if so pls close @offerm

[2019-04-27 05:10] kilrau commented on #684
Dependent on @erkarl 's `SubscribeAlerts` call to be available: https://github.com/ExchangeUnion/xud/issues/864#issuecomment-482296578

[2019-04-27 05:12] kilrau commented on #574
Did you look into details here already? An overview what needs to be done and how long it might take? @moshababo

[2019-04-27 07:57] reliveyy opened #914 "Xud crash on "TypeError: Incorrectly typed arguments to startBatch""
### Xud version

1.0.0-alpha.11

### Logs

[code]

[xud.log](https://github.com/ExchangeUnion/xud/files/3123648/xud.log) xud configuration is in this log file

[2019-04-27 07:57] kilrau opened #915 "Limit routing fees, avoid routing fees for sanity swaps"
EDIT:
* Sanity swaps: shouldn't consume any routing fees, e.g. by cancelling the swap before releasing the preimage. Should be limited to e.g. 1 sat and one sanity swap per pubkey to avoid an exploit using this to lock up funds of other peers.
* Swap deals: dynamic 3% max of send amount. Make it configurable, [currently 3% are already hardcoded](https://github.com/ExchangeUnion/xud/pull/1086/).

[2019-04-27 09:27] kilrau opened #917 "Backup"
* Channel State backups: [SCB](https://github.com/lightningnetwork/lnd/blob/master/docs/recovery.md). LND fires an event whenever there is an update to the SCB file. Call: https://api.lightning.community/#subscribechannelbackups
xud should then copy it to [location set by user](https://github.com/ExchangeUnion/xud/issues/246). Raiden: the channel state db should bin `~/.raiden` and be backed up th

[2019-04-27 09:57] kilrau commented on #877
will be taken care of by https://github.com/ExchangeUnion/xud/issues/246

[2019-04-27 09:57] #877 closed

[2019-04-27 10:22] kilrau opened #919 "[xud simulation] Implement more tests (p2p)"
P2P:

- [ ] Wrong identity: Alice connects to Bob expecting a random public key. Bob should reject the connection due to auth invalid target.

- [ ] Banning: If Alice bans Bob, connection attempts from both directions should fail.

- [ ] Unbanning: If Alice unbanned Bob, connection attempts from both directions should succeed.

- [ ] Duplicate connection: If Alice and Bob are already connected, co

[2019-04-27 11:36] offerm commented on #866
@kilrau still missing - Raiden channel opening and order placement (bot)  for WETH/BTC

[2019-04-27 15:07] ImmanuelSegol commented on #879
@erkarl Is this my issue or yours? don't want to do double work.

[2019-04-27 15:42] moshababo commented on #919
Already implemented by #916. Feel free to add more scenarios or to close this.

[2019-04-28 00:59] erkarl commented on #879
@ImmanuelSegol sorry - I fixed this issue as a side effect of doing https://github.com/ExchangeUnion/xud/pull/918

[2019-04-28 01:54] kilrau commented on #866
Ok, let's do that

[2019-04-28 02:37] kilrau commented on #919
Telepathy, I didn't see the PR. Added closing statement to the PR description. Good stuff!

[2019-04-29 04:02] sangaman opened #922 "Performance: Convert hash & preimage from strings to bytes internally"
Currently, we track `rHash` and `rPreimage` internally and on the p2p layer as hex strings. It would be slightly more performant in terms of bandwidth and memory efficiency to track these as raw bytes.

[2019-04-29 04:48] kilrau commented on #558
This issue is about going through all CLI outputs and format them properly to be more friendly and readable. Mostly creating tables for `list` and `getinfo`.

[2019-04-29 05:06] kilrau commented on #912
Divide & conquer for @sangaman @erkarl

[2019-04-29 07:30] kilrau opened #924 "[Discussion] API in layers"
This issue is to track discussion about dividing the `xud` code base into a "core" and use-case specific functionality into separate modules.

In particular use cases are different for:
* individual traders
* exchanges

Current ideas:
* Sub-Servers (compare [lnd](https://github.com/lightningnetwork/lnd/releases/tag/v0.6-beta))
* Separate clients connecting to `xud core` via API

It would be great

[2019-04-29 10:19] ImmanuelSegol commented on #924
@kilrau  I was wondering should we perhaps think of splitting `xud` into individual components?
For example, the `logger` and `cli` I think would we a good idea.

What do you guys think?

[2019-04-29 11:55] sangaman commented on #924
After researching the Sub-Servers approach lnd uses (and working with it for their invoicesrpc subserver), it seems more like a way of expanding/re-working their rpc API in a more modular and backwards compatible way. I don't think that's exactly what we're going for here, although we may want to do something like that down the road anyway. Right now all our calls are bundled into a single service

[2019-04-29 15:02] sangaman commented on #163
I still think doing this would be a good idea, although not a priority. I don't think it's a whole lot of data to track, and I think part of the goal here is to prevent spam. A peer that floods us with tons of tiny orders is potentially hurting us, but it's conceivable that they don't realize it's spam. Or maybe it's not conceivable really, and we don't advertise our thresholds but we do punish pe

[2019-04-29 19:14] ImmanuelSegol opened #930 "Deprecated dependencies"
`(node:8800) [DEP0091] DeprecationWarning: crypto.DEFAULT_ENCODING is deprecated.
(node:8800) [DEP0010] DeprecationWarning: crypto.createCredentials is deprecated. Use tls.createSecureContext instead.
(node:8800) [DEP0011] DeprecationWarning: crypto.Credentials is deprecated. Use tls.SecureContext instead.`

See [link](https://nodejs.org/api/deprecations.html)

[2019-04-30 15:46] erkarl opened #931 "Rest endpoint for Raiden resolve request"
In order for Raiden to query for external hash from xud we need a rest endpoint.

@sangaman proposed to not go through the gRPC API since once we move to hold invoices we can deprecate that call.

[2019-04-30 16:21] erkarl commented on #931
Need expected JSON input for the POST request @offerm

[2019-04-30 16:22] sangaman commented on #931
Yes, currently we do have an http endpoint for resolve requests via the web proxy, however it's outdated as it doesn't include the token address field that Raiden is specifying. We either need to:

1) Update the resolver proto definition to include the token address/identifier field, which will in turn update the http web proxy.

2) Create a separate HTTP service that will listen on a single endpo

[2019-04-30 18:26] #919 closed

[2019-04-30 20:34] offerm commented on #931
Here is the code:
[code]

[2019-04-30 20:41] sangaman commented on #931
Thanks. That's pretty different from our current resolver message format, so all the more reason to go with option 2 above.

I'm thinking the only fields we really need to concern ourselves with for now are `token`, `secrethash`, and `amount` right? If you think one of the other fields is needed for xud purposes currently, let me know how they should be used.

[2019-04-30 21:13] sangaman commented on #831
This can be considered closed once #931 is closed, as it specifies currency requests for raiden, and #923 is merged, as we only create an invoice for the specific currency we are interested in receiving with the new hold invoice approach.

[2019-05-01 08:05] kilrau commented on #924
Gotcha on lnd's subserver approach. Any other ideas? @erkarl @moshababo

[2019-05-01 08:14] offerm opened #932 "Order placement verification"
I'm trying to place a buy and sell order for WETH/BTC. I see at least two issues here:
[code]
- Since this is a BUY order, I would like to get WETH and pay with BTC. For that I don't need to have WETH outbound balance.
- This order should be prevented since I don't have any Raiden channel.

[code]
- for this order I do need WETH balance (which I don't have).
- Should not be able to open this order

[2019-05-01 08:48] kilrau commented on #40
Closing as per https://github.com/ExchangeUnion/xud/pull/889#issuecomment-488237527

[2019-05-01 08:48] #40 closed

[2019-05-01 08:58] kilrau commented on #831
Closing here, since it's already covered by the two issues you mentioned.

[2019-05-01 08:58] #831 closed

[2019-05-01 09:01] kilrau commented on #932
The same check on lightning e.g. with a LTC/BTC order works, correct? @offerm

Sounds like an issue with the sanity checks on raiden @erkarl

[2019-05-01 09:04] offerm commented on #932
I'm not sure if it is done correctly and all the BTC and LTC channels have both incoming and outgoing capacity.
Should be checked.

[2019-05-01 09:05] kilrau commented on #931
Well, the raiden format will be the only format for the resolver after https://github.com/ExchangeUnion/xud/pull/923 is merged so..

any other arguments against https://github.com/improbable-eng/grpc-web ?

[2019-05-01 09:07] kilrau commented on #932
Incoming can't be checked easily on lightning since no separate api call, only outgoing (local) and total channel balance as far as I'm aware. I'll wait for @erkarl to jump in.

[2019-05-01 09:08] kilrau opened #933 "Integrate raiden swaps into simulation tests"

[2019-05-01 09:42] offerm commented on #932
`Incoming = total - outgoing `

easy to get localbalance and remote balance.
[code]

[2019-05-01 09:46] offerm opened #934 "Sanity swap - Raiden"
The payment request to raiden should include a secrethash having length of 66 chars.

Should include 0x at the beginning.

Raiden log:
[code]

[2019-05-01 10:38] offerm opened #935 "WETH - Quantity"
Trying to place a BUY and SELL orders for `WETH/BTC` via API:

		{
			price:    0.0305,
			quantity: 3.5*1E8,
			side:     xudrpc.OrderSide_BUY,
			pairId:	  "WETH/BTC",
		},
		{
			price:    0.0315,
			quantity: 3.5*1E8,
			side:     xudrpc.OrderSide_SELL,
			pairId:	  "WETH/BTC",
		},

The result:
[code]

The BUY order fails. Finding this in the log:

[code]

the channel has 50 WETH available.

[2019-05-01 10:39] offerm commented on #934
also, The amount here is `1 WETH` ?  this is very high.

[2019-05-01 13:57] offerm commented on #933
@moshe @kilrau we may be able to use the `sanity` swap as first step.
This is mainly ready so the main task is to check where we fail.

[2019-05-01 18:37] offerm commented on #934
Another comment here:
The raiden code is not very mature with regards to error handling.  When things don't work well they just hang until expiration which can be 40-50 blocks away. This can take half an hour.

To be on the safe side, before we attempt a sanity swap we should check:
- do we have a direct channel with the peer?
- do we have outgoing capacity on the channel?
- does the peer have out

[2019-05-01 23:51] sangaman commented on #934
I take it then that we should just be preprending "0x" to all `secret_hash` values sent to Raiden?

Oh if that's the case then, I totally misunderstood the documentation then, based on the description and example here
https://raiden-network.readthedocs.io/en/stable/rest_api.html#payments. The example used an `amount` of 200, too much to be denominated in WETH I thought, and I don't see any example

[2019-05-01 23:56] sangaman commented on #931
It just means that we'd have to put in work anyway to change the format, so might as well do it the cleaner/more performant way.

I don't have any other arguments other than what I've said here, but fyi we're not actually using grpc-web. I can't remember the details exactly now but we couldn't get it to work, but maybe support has improved for Node.js since.

I'll probably take a look at implement

[2019-05-01 23:57] sangaman commented on #933
Is this issue supposed to track raiden swap testing within the simulation tests? Or should we close in favor of #934?

[2019-05-02 00:00] sangaman commented on #914
What did you use to place these calls? The web proxy? Or the cli?

[2019-05-02 02:09] sangaman commented on #932
Looks like maybe there's a mixup somewhere in the balance check logic, I'll take a look.

FWIW we can definitely check the incoming available balance as well, but it's a little bit more involved (having to get all channels and loop through them, vs a single `ChannelBalance` call for outbound balance) and for the first phase we just went with outbound balance.

[2019-05-02 04:18] sangaman commented on #932
I see the bug in the balance check logic, I'll open a PR to fix shortly.

[2019-05-02 04:32] offerm commented on #934
We can try to see how it works and decide . Direct channel however is kind
of a must, currently.

Will check the amount later to be sure what 1 means. Will let you know.

On Thu, 2 May 2019 at 2:51 Daniel McNally <notifications@github.com> wrote:

[2019-05-02 06:00] #932 closed

[2019-05-02 06:15] sangaman commented on #934
Sounds good to me.

[2019-05-02 09:26] offerm commented on #934
So I can't pay 0.1 WETH.
I can pay 1.1 WETH but it looks like that only 1.0 was really paid.

The code define the amount as int.

https://github.com/raiden-network/raiden/issues/3978

Lets use round numbers for now until this is clear.

Anyway, direct channel should be checked before doing the sanity payment and if this is done we can also check the balances.

[2019-05-02 12:01] offerm commented on #934
So the numbers are in the smallest unit.

1 is OK for Sanity swap.

[2019-05-02 13:02] offerm commented on #935
As I learned here https://github.com/raiden-network/raiden/issues/3978 the validation looks good.
I will recreate the channel with a correct amount.

@sangaman I placed the order with an amount of `3.5*1E8` and you got it as 3.5 WETH.  Is this OK?

When I open the channel with Raiden I have to use it as 3.5E18 and if I use the same notation with XUD the number will be 10^10 times larger. What do y

[2019-05-02 13:03] offerm commented on #934
@erkarl  when can we expect a fix for this (correct secrethash length and direct channel validation)?

[2019-05-02 13:46] erkarl commented on #932
@offerm should now be fixed in master. Thanks @sangaman for the fix.

[2019-05-02 18:04] erkarl commented on #934
@offerm created https://github.com/ExchangeUnion/xud/pull/938 so that you wouldn't be blocked by this issue. You're not blocked by direct channels validations, right? Nevertheless, I'm planning on getting that done this week.

[2019-05-02 18:49] sangaman commented on #931
@offerm Just to confirm, the `amount` will always be the smallest unit available for that token, correct? gwei in the case of WETH?

[2019-05-03 05:12] erkarl commented on #931
Pretty sure it's the smallest unit in integers (based on my experience with playing around with payment API).

[2019-05-03 05:24] sangaman commented on #931
Also to clarify, it looks like Raiden is currently making unencrypted http calls. I take it that will be the approach for the time being, and I'll by default only listen to localhost for now.

[2019-05-03 06:02] sangaman commented on #931
Another question @offerm, in your post here you had `'secrethash': to_hex(secret_request_event.secrethash)`, but in https://github.com/raiden-network/raiden/blob/master/raiden/network/resolver/client.py#L24 it looks like `secrethash` has an underscore like `secret_hash`. I'm guessing what's in their code with the underscore is correct, but just wanted to make sure I'm not missing anything.

[2019-05-03 08:51] kilrau commented on #933
EDIT: this issue tracks
1. manual testing of raiden swap with logging of details where it fails
2. integration of raiden swap into simulation tests

so it's in addition to #934

[2019-05-03 11:23] kilrau commented on #933
Also: let's discuss if it's possible to separate the raiden tests in the simulation framework, so that we could ask the raiden team to include these travis tests on their end.

[2019-05-03 11:34] kilrau commented on #931
Alright, since you both agree on that - vamos! @erkarl

Sounds like the right thing to do! @sangaman

[2019-05-03 11:37] kilrau commented on #931
Btw it looks like we need two more issues:
* resolver <-> hodl invoice integration
* simnet upgrade script (to avoid delete all, resync)

correct? @erkarl @sangaman

[2019-05-04 07:20] erkarl commented on #163
Agreed. I'd push this post initial mainnet launch. My thinking is that once we have actual trading happening on mainnet we'll get feedback where the actual bottlenecks are.

That sounds like a great way to reduce spam orders.

[2019-05-04 07:34] erkarl commented on #924
To start with it makes sense to separate the CLI to a standalone repository in order to provide an example project how to consume our API to build user interfaces.

Additionally, we could think about having a helper library that has common data formatting/processing functionality. The benefit would be that it decreases the development complexity for the UI layer and also handles data processing in

[2019-05-04 08:22] erkarl commented on #934
@offerm In the latest master `37f543ef69e8bdfb33c97f35e0c85ca0c0f601d5` prepending `0x` to the `secret_hash` should now be automatic within the sanity swaps.

[2019-05-04 08:28] erkarl commented on #931
If I'm not mistaken #940 will cover resolver <-> hodl invoice integration.

Simnet upgrade could probably be manual to speed up the process since we're not trying to be backwards compatible, yet.

[2019-05-04 20:42] offerm commented on #931
Yes.

Resolver request made by raiden can be http or https. up to us to decide. `localhost` is good.

Good catch - it shouldbe `secrethash` without the underscore. Looks like they merge the PR without the last commit. I recreated a new PR for this. For now, continue to use my branch (we will need it for the sha256 anyway)

Upgrade can be done manually if we have a step by step instructions. Script

[2019-05-04 20:46] offerm commented on #934
OK Thanks. Will check.

[2019-05-06 15:47] kilrau commented on #163
Agreed.

So this issue stays as is. Anything that needs clarification? @ImmanuelSegol

[2019-05-06 16:03] kilrau commented on #924
Sounds good, how about ideas on how to split of functionality specific to exchanges? Similar to the CLI which would communicate with `xud` core via the gRPC?

[2019-05-06 16:44] kilrau opened #942 "`Breaking swaps` tests"
This issue collects scenarios for tests which intend to *break* the swap protocol:

### 1. swap partners a) go offline or b) become unresponsive (socket open, but stalling) in various states of the swap:
- [x] 1.1 taker goes offline/becomes unresponsive after maker confirms quantity in `swapAccepted`
- [ ] 1.2 maker goes offline/becomes unresponsive after maker confirms quantity in `swapAccepted`

[2019-05-06 16:46] kilrau opened #943 "Test decred"
https://github.com/decred/dcrlnd

[2019-05-06 18:27] offerm commented on #934
This one can be closed.

[2019-05-06 18:27] #934 closed

[2019-05-06 18:29] offerm commented on #933
@kilrau suggest to put this on hold.

I'm working on the raiden integration into xud-simnet and there are multiple problem. Suggest you give me some time to make sure we are stable before we integrate it into the simulation tests.

Main problem now - a) retry for SanitySwap (WETH)  (@sangaman ) b) not passing secretHash for a WETH/BTC swap (@erkarl ).

[2019-05-07 10:27] kilrau opened #944 "Add `maximumInboundCapacity` check to placeorder"
https://github.com/ExchangeUnion/xud/pull/863 introduced a sanity check for `maximumOutboundCapacity` on `PlaceOrder`. Outbound capacity (local balance) can be directly queried from the underlying lnd & connext clients. Since both trading partners check `maximumOutboundCapacity`, this covers both legs of the trade in a direct channel scenario, but somewhat involves relying on the other party to do

[2019-05-07 10:53] kilrau commented on #933
Ok, moved. Goes without saying, coordinate with @moshababo when you need his help for manual tests

[2019-05-07 11:24] kilrau opened #945 "Dynamic price thresholds"
Enhancement of https://github.com/ExchangeUnion/xud/issues/163 (https://github.com/ExchangeUnion/xud/pull/921), making price thresholds dynamic (+-X% from current mid market price).

[Things to consider](https://github.com/ExchangeUnion/xud/pull/921#issuecomment-488234241).

[2019-05-07 11:36] #830 closed

[2019-05-07 11:38] kilrau commented on #866
Ongoing. Current problems:
a) retry for SanitySwap (WETH) (@sangaman )
b) not passing secretHash for a WETH/BTC swap (@erkarl ).

[2019-05-07 11:53] offerm opened #946 "Sanity Swap - duplicates"
I see a problem with Sanity Swap. When XUD starts it is doing Sanity swap for BTC, LTC, WETH. The first 2 end successful and WETH does not response. Now: a) there is a retry for WETH (which is bad at this point) b) together with WETH we also send Sanity swap for BTC.

[2019-05-07 11:54] offerm opened #947 "Disable Sanity Swap - No download of orders"
When you disable the sanity swap, peer orders will not download to the node.

EDIT:  this issue finally is an enhancement of #970, adding broadcasting orders, even though sanity swaps fail. Ergo when one of the two trading partners disables sanity swaps, it will still receive orders from trading partner.

[2019-05-07 12:01] offerm commented on #866
The Sanity swap for WETH currently fails (no resolver end point). Raiden will provide the failure to XUD after 50-60 blocks (30-60 minutes). XUD retries the WETH swap every few minutes. As a result Raiden will have a huge list of pending-failed payments.

To deal with that I'm try to provide the response back to XUD much faster. Working on a raiden PR for it (if I will make it).

Once I have this

[2019-05-07 12:01] #866 closed

[2019-05-07 12:06] kilrau commented on #947
This indeed should work when disabled via `nosanitychecks = true` in `xud.conf`

[2019-05-07 12:20] kilrau commented on #914
@reliveyy

[2019-05-07 12:53] kilrau opened #948 "Limit trade size"
Hardcoded limits based on lnd/raiden client hard-coded limits, which we maintain in xud, enforced on:
* on placeorder
* on swap

Simnet installer needs to adjust these values to allow higher limits @offerm @reliveyy

[2019-05-07 15:42] kilrau opened #951 "Deploy Raiden Contract on Ropsten"
Features:
* on-chain fallback for swap, SHA256 (Done)
* no limits (Done)
* add support for [DAI](https://ropsten.etherscan.io/token/0xa1b8a2c7a942963165fe5747d3ea960070ea4dc7) & [WETH](https://ropsten.etherscan.io/token/0xc778417e063141139fce010982780140aa0cd5ab)

[2019-05-07 16:55] kilrau commented on #911
as per call: just go over current cli and make sure it's using decimals

[2019-05-07 17:06] erkarl commented on #897
Discussion moved to: https://github.com/ExchangeUnion/xud/issues/910

[2019-05-07 17:06] #897 closed

[2019-05-07 17:07] kilrau commented on #910
Related: https://github.com/ExchangeUnion/xud/issues/893, let's discuss it after milestone 15

[2019-05-07 17:16] erkarl commented on #909
As discussed during the call this issue is now about:
* enabling/disabling autopilot for swap clients that have that functionality (currently only lnd) via our gRPC
* adding a gRPC call to open channels by providing `xudPubKey`, `currency` and `amount`

[2019-05-07 17:24] kilrau opened #952 "grpc: separate internal/external amount representation"
grpc (& CLI): decimals
internal: 1E8 integers for all coins and tokens (BTC/LTC/ERC20)

Motivation:
Currently it's 1E8 on the grpc [which is dangerous for ERC20 tokens](https://github.com/ExchangeUnion/xud/issues/935).

Notes:
* we decided to not represent ERC20 as 1E18 internally [since even bigint wouldn't be enough to store more than 1 digit amounts](https://github.com/ExchangeUnion/xud/issues/

[2019-05-08 07:04] sangaman opened #953 "advertise cltv delta to peers on handshake"
Currently we specify a cltv delta on each swap deal request each time we make a request. We don't specify a value for sanity swaps, though. In #923 we assume the default cltv value for the sanity swap, but this won't work if the default values are overridden.

This issue tracks advertising a default cltv delta value for each currency on handshake, which will be used for sanity swaps. It can also b

[2019-05-08 08:22] erkarl opened #955 "simulation tests: cannot start xud network"
I'm experiencing a possible race condition error in our simulation tests that causes the build to occasionally fail with the following output:
[code]

[2019-05-08 15:16] kilrau commented on #794
Covered by https://github.com/ExchangeUnion/xud/issues/864

[2019-05-08 15:16] #794 closed

[2019-05-08 15:18] kilrau commented on #789
1,2,3 taken care by https://github.com/ExchangeUnion/xud/issues/246.
4. will be an additional service

[2019-05-08 15:18] #789 closed

[2019-05-08 15:49] kilrau commented on #707
CLI is enough for `1.0.0`. Moving to `post-1.0.0`.

[2019-05-08 15:51] kilrau commented on #685
relevant for exchanges, moving to `post-1.0.0`

[2019-05-08 15:59] kilrau commented on #684
Ensuring lnd and raiden are up can be done by docker, above dependency `SubscribeAlerts` moved to `post-1.0.0`, this one should be one in conjunction with https://github.com/ExchangeUnion/xud/issues/891 in `post-1.0.0`.

[2019-05-08 16:19] kilrau opened #956 "Docker v2"
Continuation of https://github.com/ExchangeUnion/xud/issues/246:

- [ ] staking

[2019-05-08 16:28] kilrau commented on #955
can you reliably reproduce that? @erkarl

[2019-05-08 16:41] erkarl commented on #955
@kilrau no, that's what makes this difficult to debug and occasionally makes the simulation tests fail. I consider this a low priority, but it would be nice to have simulation tests produce consistent results.

[2019-05-08 16:49] kilrau commented on #955
Agree, that's why moved to `post-1.0.0`

[2019-05-08 17:14] kilrau commented on #935
Can this be closed? @offerm

[2019-05-08 17:18] offerm commented on #935
@kilrau I'm still not happy that we are using 1E8 when we should be using 1E18. If you don't see a need for a change here we can close.

[2019-05-08 17:35] kilrau commented on #935
Thinking about this, it's fairly important and avoids a breaking change on the grpc after 1.0.0. Closing this in favor of https://github.com/ExchangeUnion/xud/issues/952

[2019-05-08 17:35] #935 closed

[2019-05-08 17:47] kilrau commented on #915
I think a limit on routing fees is good enough for `1.0.0`. It looks like https://github.com/ExchangeUnion/xud/blob/master/proto/lndrpc.proto#L733 is setting 8 satoshis and
https://github.com/ExchangeUnion/xud/blob/master/proto/lndrpc.proto#L1355 is setting 5 satoshis as limits.

Is that correct? How about ltc? @sangaman @erkarl

[2019-05-08 17:57] kilrau commented on #871
moved to post-1.0.0

[2019-05-08 18:26] kilrau commented on #896
ERC20 and also other token standards contain a name and symbol field. We could just read this directly from the full node (e.g. geth) and use it as ticker symbol for the currency instead of asking the user to enter it manually. User can confirm or alter this. Token addresses without name or symbol require the user to enter a ticker symbol name.

[2019-05-08 18:30] kilrau commented on #910
If you are convinced by our code, that swapping the wrong token address can never happen, I suggest to move this to post-1.0.0 @erkarl

[2019-05-08 20:13] offerm commented on #896
For this xud would need direct access to geth. Something that we don't have
today. Better to ask `raiden` to add this to their token API.

On Wed, May 8, 2019 at 9:26 PM Kilian Rausch ⚡️ <notifications@github.com>
wrote:

[2019-05-08 21:08] offerm opened #957 "Raiden/SanitySwap - request is conflicting or otherwise invalid"
XUD tries to swap with a partner:
[code]

Raiden now response fast back to XUD with an error:
[code]

XUD log does not show the error but this:
[code]

- There should be no Exception
- Should show the error to make it clear what the problem is
- Should not try Sanity swap if there is no outgoing capacity.

[2019-05-14 13:23] kilrau commented on #912
As per https://github.com/ExchangeUnion/xud/pull/889#issuecomment-490765364, this includes simplifying and integrating the following LND calls:
https://api.lightning.community/#genseed
https://api.lightning.community/#initwallet
https://api.lightning.community/#unlockwallet

[2019-05-14 14:32] kilrau opened #961 "Integrate raiden into sanity swaps, other sanity tests"
* sanity swaps
* channel balance checks on `PlaceOrder`
* please add others

[2019-05-14 15:39] sangaman commented on #912
Karl is going to look into how we can generate an ethereum address based on a seed (which does not seem to be a built in feature of geth but which is done by open source projects like MetaMask and MyEtherWallet). This would require xud to communicate directly with geth most likely, *unless* Raiden exposes API calls that will do this for us (as well as allowing us to unlock encrypted ethereum keys)

[2019-05-14 16:00] erkarl commented on #961
Closing this as we're already attempting sanity swaps for raiden and doing the channel balance checks on placeorder.

Offer will be working on a successful sanity swap once the resolver PR is merged.

[2019-05-14 16:00] #961 closed

[2019-05-14 17:26] kilrau commented on #912
https://github.com/iancoleman/bip39

[2019-05-14 17:29] #798 closed

[2019-05-14 17:58] #931 closed

[2019-05-15 03:01] sangaman commented on #947
@offerm Are sanity swaps disabled on both sides? If the remote side attempts a sanity swap and fails, they won't send us any orders for that pair even if we've disabled sanity swaps locally.

[2019-05-15 09:46] offerm opened #964 "BTC - Sanity swap setup"
on test2:

[code]

What should be checked?

[2019-05-15 13:55] sangaman commented on #964
Ah this is probably because lnd was built without the invoices rpc subserver, which is required for hold invoices. When you compile lnd, use `make tags="invoicesrpc"`. Let me know if that resolves this for you.

[2019-05-16 13:37] offerm commented on #964
@sangaman
I recompiled LND. Command I used was `GO111MODULE=off GOPATH=$GOPATH make tags="invoicesrpc"` followed by make install`

restart lnd and xud

same problem.

Maybe there is a need to generate the proto files with this flag too?

[2019-05-16 13:47] sangaman commented on #964
Hm that's strange. Could you confirm that lnd is version 0.6 or higher? I don't believe you need to generate any proto files, as that has been done when the proto definitions were changed.

[2019-05-16 13:54] offerm commented on #964
[code]

Also lncli does not show `addholdinvoice` option.

[2019-05-16 14:07] offerm commented on #964
Don't we need the tags="invoicesrpc" on the make install?

[2019-05-16 17:44] sangaman commented on #964
I don't believe there's any new lncli commands for hold invoices. I also can't find a clear answer on whether the `invoicesrpc` tag should be for make or make install, does adding it to make install solve the issue?

[2019-05-16 19:39] offerm commented on #964
Yes it does

On Thu, 16 May 2019 at 20:44 Daniel McNally <notifications@github.com>
wrote:

[2019-05-17 03:30] #946 closed

[2019-05-17 11:04] offerm commented on #964
@sangaman

I now see this:
[code]

What is the reason for the last invoice? 82754a11fb2e03524ed6c5f0fde2d00669cea862bf5c5ac2c5e8128967f73122?

[2019-05-17 13:34] sangaman commented on #964
I believe that one is the sanity swap we initiated, and one is likely the swap the peer initiated. You can see that we received sanity swap packets from the peer indicating that they are initiating swaps themselves.

[2019-05-17 14:08] offerm commented on #964
Not sure I get it. When you swap, you send one sat and receive one sat,
right? You only need an Invoice for the receive side, no?

On Fri, 17 May 2019 at 16:34 Daniel McNally <notifications@github.com>
wrote:

[2019-05-17 14:46] offerm commented on #964
There is once invoice of a swap we initiated and one invoice for a swap the partner initiated.
Works OK.
Suggest to clarify, as part of the log prints, that we are adding the invoice for a wap we initiate.

[2019-05-17 14:59] offerm commented on #964
@sangaman The BTC swap, when working, is OK.

But if the swap fails (once side is not properly configured), the nodes will go on reconnect loop a a swap will be attempted every time.  The problem is that there is no cleanup in such case and the number of "open" invoices increases on LND.  I currently have 5587 invoices.....

Also, the broken side, which can't addholdinvoices, issue a message
[code

[2019-05-17 15:04] offerm opened #966 "BTC Sanity Swap - retry not working"
[code]

Should we have a retry mechanism for something like the above?
@sangaman

[2019-05-17 15:19] offerm opened #967 "xud-simnet BTC channels size"
As we installed original LND  we now have this limitation:

[code]

@kilrau let me know what you like to do about it.

Should I scale the channels management and order pacing down for the new capacity?

[2019-05-17 17:11] sangaman commented on #964
There ought to be cleanup of the open invoices when the swaps fail via the `CancelInvoice` call, I'll investigate to see why it might not be happening. I'll also see why it might send a swap request even if the add invoice call fails. Thanks for testing this out.

[2019-05-17 17:12] sangaman commented on #966
Could you be more specific? The sanity swaps should already be retried automatically if they fail.

[2019-05-18 04:51] sangaman commented on #964
I found one place where we're not canceling hold invoices after a failed sanity swap, which is when we accept a sanity swap but it's never actually initiated by the peer. I'll open a PR to fix that.

And in regards to sending the sanity swap packet even when the `AddHoldInvoice` call fails, in reviewing I actually did that deliberately. The `AddHoldInvoice` call and the sanity swap request happen

[2019-05-19 13:15] moshababo commented on #574
Closed by #950.

[2019-05-19 13:15] #574 closed

[2019-05-20 08:23] kilrau commented on #966
Also not clear what you mean - are you saying retries are not working? @offerm

[2019-05-20 08:28] kilrau commented on #967
Scale down for the new capacity, will partly close https://github.com/ExchangeUnion/xud/issues/948

[2019-05-20 08:31] offerm commented on #966
I haven't seen a retry when I got this error.

[2019-05-20 08:40] offerm commented on #967
So we have a channel of 0.16 BTC, we split capacity 0.08 and 0.08 between the parties.  Please also check the limitation on LTC channels.

What should be the order size?

Today, with a channel capacity of 2500000000 sat  we have these orders:
[code]

for LTC we currently have 225000000000 capacity.

[2019-05-20 09:04] kilrau commented on #967
Yep.

As per https://github.com/lightningnetwork/lnd/pull/1246 : `maxLtcFundingAmount = maxBtcFundingAmount * btcToLtcConversionRate` whereas is hardcoded as `btcToLtcConversionRate = 60` which leaves us with a max channel size of 9.6 LTC.

BTC Old: 2500000000 New: 16000000 - divide order sizes by 156
LTC Old: 225000000000 New: 960000000 - divide order sizes by 234

Please check if that makes sens

[2019-05-20 09:13] offerm commented on #967
Math wize yes.

Business wize - not really.

[2019-05-20 10:43] kilrau commented on #967
Meaning you would rather maintain a fork to lift these limits from the get go? I wouldn't feel comfortable with that (https://github.com/lightningnetwork/lnd/pull/1246).

[2019-05-20 15:00] offerm commented on #967
Yes. At least for simnet.
We can take the same LND branch and patch it before we build.

[2019-05-21 08:39] kilrau commented on #966
That's a bug then, correct? @sangaman

[2019-05-21 08:46] kilrau commented on #967
Patch lnd latest release with increased limits for Simnet: fine with me. If the overhead is acceptable, go ahead and do it @offerm

[2019-05-21 08:59] kilrau opened #970 "switch off sanity swaps (as default)"
Description below: https://github.com/ExchangeUnion/xud/issues/970#issuecomment-500808616

[2019-05-21 12:51] sangaman commented on #970
Thinking about the best approach here, we'll need to track the unbroadcasted orders somehow. I'm thinking we could use another fast priority queue, same as the order book, except ordered by quantity smallest on top. When the capacity increases, we start checking the top item if it's less than the capacity. If so, we broadcast it, remove it from the queue, and repeat for the next item in the list.

[2019-05-21 12:56] sangaman commented on #947
Can we close this issue? Peers who have sanity swaps enabled won't send us orders if the sanity swaps fail, that is by design and the only explanation I have for this. The workaround would be to disable sanity checks on both sides.

[2019-05-21 12:58] sangaman commented on #914
This looks like an error when connecting to a peer that accepts the socket but doesn't respond to packets. I'll see if I can reproduce but more details would be helpful if you have any @reliveyy .

[2019-05-21 13:19] kilrau commented on #966
as per call retry, but backoff @sangaman

[2019-05-21 13:50] kilrau commented on #882
Raiden PR this week

[2019-05-21 13:55] erkarl commented on #872
Conclusion from the call - we'll do it in the setup script (docker) and not on the xud level.

[2019-05-21 13:57] erkarl commented on #872
Current simnet implementation: https://github.com/ExchangeUnion/xud-simnet/blob/master/scripts/xud-simnet-set-WETH

[2019-05-21 14:14] kilrau commented on #910
As per call @sangaman , define details today

[2019-05-21 14:53] kilrau commented on #942
@moshababo as per call the idea is to integrate this into the simulation tests. Thinks to consider:
* bloat the repo with many files for each xud version, so we might want to keep it in a separate place
* We should also focus on load/stress scenarios as well, with a legit xud client (in addition to adversary lnd/raiden level behavior)
* Keep in mind that integrating raiden into the tests is a big

[2019-05-21 14:58] kilrau opened #971 "Blocking `sanity swaps` and `placeOrder` checks"
Continuation of https://github.com/ExchangeUnion/xud/issues/970, which made `sanity swaps` and `placeOrder` checks non-blocking and just printed / saved warning because checks are too strict for certain scenarios. This issue is about refining the checks with the ultimate goal to make them blocking again by handling things better:

PlaceOrder:
* add logic to allow `placeorder`, hold it in local ord

[2019-05-21 15:01] kilrau commented on #970
As agreed on the call, we go for temporarily making the checks non-blocking with warnings as log entries and CLI outputs first. Opened https://github.com/ExchangeUnion/xud/issues/971 for better handling and making them blocking again.

[2019-05-21 15:02] kilrau commented on #947
@offerm

[2019-05-21 18:43] erkarl opened #972 "refactor: make swapClientManager.swapClients private"
This is a follow up task from #918 to make sure that `swapClients` becomes a private property of `SwapClientManager` in order to ensure swap client logic goes through the manager.

[2019-05-21 21:06] #879 closed

[2019-05-21 21:06] #898 closed

[2019-05-21 22:11] #964 closed

[2019-05-22 11:28] kilrau commented on #972
important for launch = milestone `1.0.0`, if not `post-1.0.0`

[2019-05-23 14:32] kilrau commented on #951
As discussed in our call, we plan to base the contract off the [current mainnet contract](https://github.com/raiden-network/raiden-contracts/tree/fac73623d5b92b7c070fdde2b446648ec9117474/raiden_contracts/contracts).

[2019-05-23 15:10] kilrau commented on #163
Taking `minPrice` & `maxPrice` out of this, moving to https://github.com/ExchangeUnion/xud/issues/945

[2019-05-23 15:38] kilrau commented on #179
Did you already start with this? If not please move to `post-1.0.0` @sangaman

It's not important enough to loose focus of the more pressing raiden and swap issues.

[2019-05-23 16:14] kilrau commented on #947
In light of [relaxing sanity check](https://github.com/ExchangeUnion/xud/issues/970, @offerm is right, I should receive orders no matter what. So this issue finally is an enhancement of https://github.com/ExchangeUnion/xud/issues/970, adding broadcasting orders, even though sanity swaps fail.

[2019-05-24 03:35] sangaman commented on #947
I don't think it should be up to the local node to decide whether the remote node should send its orders. In other words, if I only want to share orders with peers that I know I can swap with, I should be able to do that.

Furthermore, currently nodes aren't aware whether their peers are enforcing sanity swaps or not.

If we still want to change this, it'll require changes to the existing logic. I

[2019-05-24 05:33] sangaman commented on #179
I haven't, moving the milestone.

[2019-05-24 07:34] kilrau commented on #915
New insight: in a multi-hop scenario routing fees for our sanity swaps become problematic.

We have to
a) set a max threshold for sanity swaps
a) avoid an attacker to trigger sanity swaps at will and drain funds from victim via routing fees

[2019-05-24 11:20] erkarl opened #977 "Simnet sanity swap fails due to FinalExpiryTooSoon (cltv calc wrong!?)"
Reported by Offer for simnet BTC:

[code]

Also, Offerm:

[2019-05-24 11:34] offerm opened #978 "simnet - can't take order"
Can't take existing order.

[code]

log has this:

[code]

[2019-05-24 11:36] offerm commented on #967
done. Will share "how to do it" once simnet is stable again.

[2019-05-24 12:06] kilrau commented on #970
And more:
* actual sanity swaps with preimage release should only happen with direct channel peers
* for multi-hop peers: setup htlcs, but don't release preimage. Swap partner has to be aware that this is the sanity swap test to not punish us in future for this behavior. Reason: routing fees

[2019-05-25 10:31] erkarl opened #981 "bug: http-resolver doesn't account for 0x at the beginning of secret_hash"
The `secret_hash` value we receive from Raiden to http resolver always starts with `0x`. As a result the http resolver never matches the internal hash.

[2019-05-25 10:41] erkarl commented on #981
Just to clarify - @offerm is aware of the issue and currently using a workaround from raiden side.

[2019-05-25 20:24] offerm opened #983 "Can add order for WETH/BTC while raiden is disabled"
Disabling raiden in xud.conf still allows WETH/BTC order.

[2019-05-25 20:42] offerm opened #984 "LTC/BTC swap failure - Taker's xud crashed"
Failure to take an order.
Notes:
1.  no problem with sanity swaps.
2. LTC and BTC have direct channels
2. Error on make side atter receiving the first leg.
3. XUD crashed on the taker side.

Taker issues a buy order:
[code]

Response:
[code]

Taker log:
[code]

Maker log:
[code]

[2019-05-25 21:02] offerm commented on #984
Reason might be that the LTC channels has 709 pending HTLCs.

[code]

[2019-05-25 21:26] offerm commented on #984
lndltc log shows this:

[code]

Links
[code]

xud-log:
[code]

[2019-05-25 21:36] offerm commented on #984
Interesting finding:

[code]

looks like that if the first leg is LTC, it works well.

[2019-05-26 19:52] offerm opened #986 "Swap confirmed to the user but actually failed (and xud crash)"
The user did this:
[code]

He got confirmation that the swap was OK. But the log is telling a different story.
[code]

[2019-05-26 20:07] offerm opened #987 "rhash vs rpreimage"
Daniel,

Need your help to understand the blow:
[code]

The preimage is `a8024292e007b82485f0b6783016fffae49dc8c941a7c55a611db6488f6f2a07`

If I use sha256 (https://emn178.github.io/online-tools/sha256.html) on this string I get:
`319050e7e40697f451d4386c6ccc361b6e10c0817f9d6e369fa00f1d9f25ea02`

Which is different from the `rhash` listed above.  What am I missing?

Here is a secret and a secretha

[2019-05-27 05:27] offerm commented on #987
FWIW - This produces a correct hash:
[code]

[2019-05-27 09:47] kilrau commented on #986
That swaps are failing is correct, this is about fixing the discrepancy between log and cli output.

The cli can't say `swapped 0.0001 WETH with peer order 36a0c280-7fee-11e9-9d3e-99dc63a12b46` when actually `sendPaymentSync failed`. Please add if there's anything else to fix @offerm

[2019-05-27 09:50] kilrau commented on #986
`xud` crashed after `26/05/2019 19:41:30.587 [GLOBAL] info: config loaded` ? If so, please bump up priority to P1 @offerm

[2019-05-27 10:23] kilrau opened #988 "Sanity Swaps fixes"
The idea for sanity swaps: setup htlcs, but don't release preimage. Swap partner has to be aware that this is the sanity swap test to not punish us for this behavior. Make sure this doesn't make it into the reputation system. Reason: routing fees would make sanity swaps (e.g. 1 sat for 1 sat) cost money if preimage was released.

[2019-05-27 10:24] kilrau commented on #970
Moved sanity swap fixes to https://github.com/ExchangeUnion/xud/issues/988, this is only about making them non-blocking.

[2019-05-27 10:33] kilrau commented on #947
Of course! My node always decides what to do and whom to send orders to. We are talking about default behavior. Since we are currently [relaxing sanity checks](https://github.com/ExchangeUnion/xud/issues/970) to make them non-blocking because we are aware of [several issues](https://github.com/ExchangeUnion/xud/issues/988), I believe the default behavior should be to send out orders even though sa

[2019-05-27 10:40] kilrau commented on #977
seems cltv's are not being calculated correctly on a multi-hop route

[2019-05-27 11:03] kilrau opened #989 "Errors from raiden (HTTP 409) are not being printed into xud.log"
errors from raiden (HTTP 409) are not being printed into xud.log

Please add more details, if you can @offerm

[2019-05-27 11:20] kilrau opened #990 "`--nosanitychecks` needs restarts to exchange orders"
As reported by @offerm :

* test1 and test2 are running with `--nosanitychecks`
* on test1 I have the order bot, If I restart test2 it will not get orders from test1. But if I restart test1, it will.

[2019-05-27 12:04] erkarl commented on #989
This issue is very closely related to https://github.com/ExchangeUnion/xud/issues/957

[2019-05-27 15:57] kilrau commented on #957
addon:
* Should print error in xud.log (e.g. errors from raiden (HTTP 409) are not being printed into xud.log atm)

[2019-05-27 15:57] kilrau commented on #989
included it in #957 , clsing here

[2019-05-27 15:57] #989 closed

[2019-05-28 05:30] sangaman commented on #987
@offerm This stumped me for a bit too, but the issue here is that the online tool you linked to is hashing the string `a8024292e007b82485f0b6783016fffae49dc8c941a7c55a611db6488f6f2a07`, presumably as utf8. But we are trying to hash the raw data without concern for the encoding, so we first convert the hex string to bytes, then hash the bytes. I believe this is what lnd does as well.

You can verif

[2019-05-28 05:54] offerm commented on #987
It cant be closed as we need a solution for raiden. We need to support two
encodings or find a way to convert one to the other that can be done in the
resolver

On Tue, 28 May 2019 at 8:31 Daniel McNally <notifications@github.com> wrote:

[2019-05-28 06:53] #990 closed

[2019-05-28 06:59] sangaman commented on #984
I'm stumped as to why the taker's xud crashed. Is this reproducible for you? It would also be very helpful to have the panic stack trace when it crashed if you can access it, that won't be in the actual log files though.

[2019-05-28 07:21] sangaman commented on #957
For the first point, what do you mean exactly? Removing the `08/05/2019 20:55:55.245 [RAIDEN] error: got exception from RaidenClient.tokenPayment:: 5.4 - request is conflicting or otherwise invalid` line from the logs? The exception is just part of the flow for when a raiden payment fails.

For the last point, that's probably a good idea but I think should be handled separately from the logging en

[2019-05-28 07:50] #978 closed

[2019-05-28 15:34] sangaman commented on #947
Alright I think this makes sense do on a temporary basis as part of making sanity swaps informational-only on a temporary basis until they are reenabled as part of #971.

[2019-05-28 15:59] kilrau opened #995 "ERC20 to ERC20"
* needs a change to raiden to accept the same secret for two payments

[2019-05-28 16:06] sangaman commented on #987
The plan is to address this on the Raiden side now, this issue will be closed once that is completed but it's outside of xud.

[2019-05-28 16:21] kilrau commented on #693
@erkarl @ImmanuelSegol is the disconnect cli command working?

[2019-05-28 16:23] kilrau opened #996 "Litecoin on Simnet is breaking"

[2019-05-28 17:14] kilrau commented on #947
moved to `post-1.0.0` as agreed on the call

[2019-05-28 17:38] kilrau commented on #779
https://ddex.zendesk.com/hc/en-us/articles/115004418693-Wrapping-ETH-and-Unwrapping-WETH