[2018-08-31 11:07] offerm opened #424 "CLI enhancements"
For ease of use I suggest the following changes to the CLI:

1. cancelorder - Make pair_id optional.  Order ID is managed globally hence pair_id is not needed to find the order. If provided it should be used only for verification.
2. getorders - make pair_id optional. If not provided it should list all orders. If provided it should filter the list to include that pair_id only.

Not related to pair

[2018-08-31 11:33] kilrau opened #425 "[Concept] Thor"
We need a "thor"-like ("Flash Boys") implementation at some point where we
* measure pings to nodes
* delay orders for them to arrive simultaneously at target xud's

Reason: front running

Advanced, so clearly after `1.0.0`...

[2018-08-31 13:38] kilrau commented on #418
ok, I'll leave it open for a bit, closing is your call

[2018-08-31 14:00] sangaman commented on #422
Yes, this functionality is not implemented yet but is on my short list of things to do. #380 is a step towards having successful swaps trigger events that will remove filled maker orders from the book, my next PR after that is merged should implement the functionality that's missing here to remove maker order.

[2018-08-31 14:40] offerm commented on #417
To be checked. In case XUD fires two sendPaymentSync very fast there is an error by the LNDs which may result in the payment channel being closed.
Need to check if this is an LND bug or a result of our implementation.

LND failure multiple HTLC
[code]

*****************

Peer

[code]

[2018-08-31 14:59] kilrau commented on #290
[code]

[2018-08-31 15:01] #370 closed

[2018-08-31 18:53] kilrau commented on #417
https://github.com/lightningnetwork/lnd/pull/1820

[2018-08-31 18:53] #417 closed

[2018-08-31 19:29] #404 closed

[2018-09-01 06:07] offerm opened #430 "SWAP: Two parallel swaps cause channel to force close"
Way to reproduce:

Have swap setup properly.
create 2 limit orders (Maker)
Issue a market order that clear both limit orders.

Log:
[code]

[2018-09-01 06:15] offerm opened #431 "SWAP: Proper timelock calculation"
Swap involves two sendPayments on two different chains.

The timeLock of the first chain should include the time lock of the second chain.

[2018-09-01 09:57] sangaman commented on #424
For `getorders` that actually used to be the default behavior, and more recently we switched it to require a pair. Having orders for multiple pairs in the same collection is very messy, since the prices can vary wildly between pairs and it's not clear what you're looking at or how it should be sorted. However, it might be nice to have a "default" pair, perhaps whatever is the first row in the pair

[2018-09-01 10:06] kilrau opened #432 "Define global commit template, add it to contribution guidelines"
Define commit template, then add to contribution guidelines how to set it up:
https://github.com/CodeDoesGood/business/wiki/3.-Git-Commit-Template
https://gist.github.com/adeekshith/cd4c95a064977cdc6c50

[2018-09-01 11:03] sangaman commented on #424
@michael1011 told me that what you were thinking for getorders with optional pair_id is to return orders for all pairs separately, not all orders jumbled together in a single collection. That makes much more sense, and I'd be fine with that.

He also talked me out of having a "default" pair_id. For cancelorder, we might not need a pair_id at all, we just need to restructure our internal mapping of

[2018-09-01 11:55] kilrau opened #433 "Enable SIMNET"
"Simnet is a development/test network run locally that allows us to generate blocks at will, so we can avoid the time-consuming process of waiting for blocks to arrive for any on-chain functionality."

This task is about
* researching and testing SIMNET on litecoin lightning
* write instructions how to use it as an alternative to testnet

[2018-09-01 12:11] kilrau opened #434 "Make P2P functionality configurable"
As per consensus between @offerm @sangaman @michael1011 make this the default behavior:
* Don't initialize seed nodes db.init (enabled separately via `p2p.initializeSeeds` CLI & rpc call)
* Don't auto-detect own IP (enabled separately via `p2p.detectMyIP` CLI & rpc call)
* Don't advertise own listening address (enabled separately via `p2p.advertise` CLI & rpc call)
* Don't call `GET_NODES` (enable

[2018-09-02 11:27] moshababo commented on #434
1) We already have a `p2p` config clause, so we can have it as `discovery` below it (`p2p.discovery`, or rather `p2p.discover`). But I don't think it represent well all this behavior.
It's suitable only for the 3rd behavior (don't call `GET_NODES`).
For the 2nd (don't advertise own addresses), the user actually controls the addresses, but we auto-detect his external IP and add it for him. The user

[2018-09-02 20:11] offerm commented on #434
@moshababo agree to most of your comments.

1. p2p.discover  can controle `GET_NODES` if false, the node will not learn about additional peers and will not try to connect them.
2. Need to add another option to control auto detect of external IP. Should be `false` by default. This will cases the address list to be empty hence no advertise)
3. by default, initDB should not add the seed nodes to the

[2018-09-03 06:30] offerm commented on #424
@sangaman you look at this too technical. Consider the user that is using it and the operation that he is tring to do. Read `list` as a verb and not as the output format. use `get` for a single object and `list` for multiple.

[2018-09-03 14:29] itsbalamurali commented on #297
@kilrau
Apologies for the delays:
1. Segmentation Faults are not occurring anymore, i am assuming that this is due to latest code changes to `xud`.
2. Docker builds are already automated as you can see here: https://hub.docker.com/r/exchangeunion/xud/builds/
3. Once the docker-ltcd PR is merged and our lnd swap resolvers are setup i will be automating depolyments onto our GCP GKE AKA Kubernetes.

[2018-09-04 09:45] itsbalamurali commented on #191
@kilrau here: https://github.com/ExchangeUnion/xud-tests please review once.

[2018-09-04 12:28] moshababo opened #437 "Types refactoring"
1) We have two kind of order types: `Order` & `StampedOrder` (and their respective peer/own types). The first is used to define the fields which are needed to create an order, and the later the actual order which is being stored. The later is too verbose, and is used throughout the code base. We should change it to plain `Order`, and change the current `Order` (which is hardly being used) to somet

[2018-09-04 15:29] moshababo commented on #434
So you're suggesting to ignore advertised addresses from outbound connections? If so, then what's the point of advertising addresses to inbound connections?

We have the connection retries PR open (#392), which should handle that. Are you suggesting also to reconnect from side A after side B closed the socket? I was thinking of implementing that, but I wasn't sure it makes sense.

I assume you mea

[2018-09-04 18:36] sangaman commented on #424
For me the difference between fetching a single object and multiple objects is whether the noun is plural (e.g. `order` vs `orders`). `list` to me as a verb suggests generating a list of things, so if it's in a format other than an array or list I don't think it's the ideal word to use. I'd still prefer sticking to `getorders` but it's obviously not a deal breaker, maybe others can chime in if the

[2018-09-05 13:29] offerm commented on #434
IMHO:

Advertised addresses should be used if p2p.gossip is ON (verified or Full). It can also be used if the p2p.discovery is on (so you keep the information and use it next time when there is a disconnection).

I would say yes. If B shuts down it should close the socket first and A should try to reconnect to it.
Only exception might be on protocol violation. I wouldn't do that now but maybe in t

[2018-09-05 13:55] sangaman commented on #434
I like `p2p.discover` to control automatic `GET_NODES` requests.

We put in external ip discovery to be true by default deliberately as a convenience, I don't think we should be reverting that. I think our defaults should be geared towards actual users with the aim of a fully connected network, not for our development efforts where it's desirable to only have 1 or 2 peers at a time. I also think t

[2018-09-05 15:13] kilrau opened #440 "Fix LND PR"
- https://github.com/ExchangeUnion/xud/issues/430
- remove protobuf dependency - add to rpc.proto file in lnd
https://github.com/lightningnetwork/lnd/pull/1820#discussion_r214472772
- commit & follow-up fixes

[2018-09-05 15:14] kilrau commented on #277
Closing this, will be included in a tech paper update soon.

[2018-09-05 15:14] #277 closed

[2018-09-05 15:16] kilrau commented on #433
Check github.com/ sparkswap/ broker/

[2018-09-05 15:56] kilrau commented on #191
Did you test this with the cloud instances and recorded results as above? @itsbalamurali

[2018-09-05 16:09] itsbalamurali commented on #191
@kilrau Yes, here is the current sample log output:
[code]

[2018-09-05 16:11] kilrau commented on #123
At the moment 3 modes:
1. Synchronous `placeOrder` call, non-internal match removes order immediately (problem)
2. SubscribeSwaps - external match remove orders
3. SubscribePeerOrders - remove invalidated peer orders

[2018-09-05 16:17] kilrau commented on #123
Proposal:
Combine all order updates into `subscribeOrders`:
- invalidates (local) OrderIDs: internal match, external match (after swap succeeded), remove invalidated peer orders, add new peer orders
- Remove `SubscribePeerOrders` and `SubscribeSwaps`

[2018-09-05 16:27] kilrau commented on #123
Related: https://github.com/ExchangeUnion/xud/issues/298

[2018-09-05 16:28] itsbalamurali commented on #191
@kilrau much more detailed one with stream events (both peerOrders & Swaps):

[code]

[2018-09-05 16:29] kilrau commented on #311
add automatic test

[2018-09-05 16:56] kilrau commented on #369
waiting for @offerm to close this

[2018-09-05 17:55] kilrau commented on #191
* LND/Raiden switched off ?
* Where are these logs to be found?
* I would also print all placed orders, much clearer
* goal is to serve as a market maker for testing, so I'd say: place 10 buy and 10 sell limit orders .0001, quantity 0.01 from each other BTC & LTC. When they are filled, replace them - keep it simple for now.

[2018-09-05 17:57] kilrau opened #441 "Update xud1,2,3 to prealpha.3"
After release was tagged

[2018-09-05 17:58] kilrau commented on #290
After this is solved, update https://github.com/ExchangeUnion/xud/blob/master/instructions-for-devs.md#1-install

[2018-09-05 18:54] kilrau commented on #366
Main topic of the issue "Allow to listen to Incoming P2P connections, but NOT advertising" will be closed by https://github.com/ExchangeUnion/xud/issues/434

[2018-09-05 18:54] #366 closed

[2018-09-05 19:42] kilrau commented on #434
Fixed as per your suggestions @moshababo @offerm @sangaman . Reminder: this issue exists to switch off *all* `p2p.auto` behavior *on default*. This is *temporary*, until we we feel comfortable to make it default again. This is less for our own development purposes, but mainly for our first test-exchanges to be 'in full control' and not be scared by unexpected p2p behavior which we currently defini

[2018-09-05 23:05] kilrau commented on #403
Updated, pls check @moshababo

[2018-09-05 23:18] kilrau opened #442 "Reconnect to last successful address of a peer first"
Add "connected" or similar to db to indicate which of the listening addresses we successfully connected to last time. Try this one first on reconnect. (https://github.com/ExchangeUnion/xud/issues/403)

[2018-09-05 23:19] kilrau commented on #365
Tag last successful address of a peer in separate issue: https://github.com/ExchangeUnion/xud/issues/442

[2018-09-05 23:40] kilrau commented on #335
Since the config file changes every now and then, this issue is about automatically creating a `sample-xud.conf` and put it into the root folder. Once that's done, we link to it from the readme/other places.

[2018-09-05 23:50] kilrau commented on #421
Why moved to beta? @offerm This is a bit far away. Please consult with @sangaman and me next time.

[2018-09-05 23:56] kilrau commented on #418
@michael1011

[2018-09-06 00:00] kilrau opened #443 "SWAP: Check if rate of incoming HTLC matches DEAL rate"
And only proceed then with leg 2 of the SWAP

[2018-09-06 00:40] #202 closed

[2018-09-06 00:42] kilrau commented on #145
https://github.com/ExchangeUnion/xud/issues/215 about to be merged, let's flesh out here @moshababo

[2018-09-06 01:09] kilrau commented on #424
Summary:
1) `cancelOrder` - Remove `<pair_id>`
2) `getOrders` - make `pair_id` optional. If not provided it should return orders for all pairs listed separately, not all orders jumbled together in a single collection. If provided it should filter the list to include that pair_id only.
Not related to pair_id:
3) rename `getorders` to `listorders` (agree!)
4. rename `getpairs` to `listpairs` (agree!

[2018-09-06 01:31] kilrau commented on #443
closed in favor of https://github.com/ExchangeUnion/xud/issues/413

[2018-09-06 01:31] #443 closed

[2018-09-06 09:00] moshababo commented on #442
Already implemented in #392

[2018-09-06 13:27] moshababo commented on #123
To enable the client to sync with the order book state, we have 6 types of events:

1. ownOrder added
2. ownOrder removed (due to internal match)
3. ownOrder removed (due to a succesful swap that was instantiated remotely)
4. peerOrder added
5. peerOrder removed (due to non-internal match)
6. peerOrder removed (due to peer order invalidation)

Current API:

* `placeOrder` response:
    * if remain

[2018-09-06 17:08] kilrau commented on #442
Great

[2018-09-06 17:08] #442 closed

[2018-09-06 17:27] kilrau commented on #123
One error event missing when adding an ownOrder. Don't know what's common practice here - include a success/error code or separate event, rest looks good:
1) ownOrder added (success/error)
2) ownOrder removed (due to internal match)
3) ownOrder removed (due to a succesful swap that was instantiated remotely)
4) peerOrder added
5) peerOrder removed (due to non-internal match)
6) peerOrder removed (

[2018-09-06 17:30] kilrau commented on #191
Updates? @itsbalamurali

[2018-09-06 17:32] kilrau commented on #423
Make sure this is fixed in the redesign: https://github.com/ExchangeUnion/xud/issues/123

[2018-09-06 17:48] offerm commented on #440
Done by an update to resolver PR (LND).

OK to close? @kilrau

[2018-09-06 17:49] offerm commented on #430
Done by an update to resolver PR (LND).

Managed to run 5 parallel swaps without an isseue

OK to close? @kilrau

[2018-09-06 17:57] offerm commented on #433
The PR is very simple. I have it ready.

See LND issue #1830

[2018-09-06 18:14] sangaman commented on #416
To me, the cli command itself is not a big dea. I'd want to remove the `executeSwap` code from xud though so as not to have to maintain it and to be able to pare down the deal packets from repeating data that's specified by the order, and treating the orderId as a non-nullable field for deal requests. I'm in favor of removing the call entirely, but it's not urgen it offer or anyonen else has plans

[2018-09-06 18:37] kilrau commented on #430
Yep

[2018-09-06 18:37] #430 closed

[2018-09-06 19:07] kilrau commented on #145
I'd avoid the double negation `disableMatching = false`, also unified gRPC as per https://github.com/ExchangeUnion/xud/issues/123#issuecomment-419176541 with following events:

1) ownOrder added (`placeOrder`)
2) ownOrder removed (`cancelOrder`)
3) ownOrder removed (due to internal match)
4) ownOrder removed (due to a successful swap that was instantiated remotely)
5) peerOrder added
6) peerOrder

[2018-09-06 19:08] kilrau commented on #145
A first shot on non-matching. What do you think? @moshababo @sangaman @offerm @itsbalamurali @michael1011

[2018-09-06 19:11] kilrau commented on #440
Yep

[2018-09-06 19:11] #440 closed

[2018-09-06 19:15] kilrau commented on #433
Sweet, please submit the PR, once it's merged and working we can close this 😎

[2018-09-06 19:35] kilrau commented on #324
Any agreements? @offerm @sangaman @programarivm

[2018-09-06 19:40] kilrau commented on #298
Should be handled together with https://github.com/ExchangeUnion/xud/issues/123

[2018-09-06 19:49] #261 closed

[2018-09-06 19:52] kilrau commented on #246
Can you lead this discussion @itsbalamurali

[2018-09-06 20:07] kilrau commented on #185
this issue is fairly outdated, can you help me to rephrase what we need to restructure to support
- pubkey based on blocking #162
- reputation #151

? @moshababo @sangaman

[2018-09-06 20:51] kilrau commented on #161
Dependency: https://github.com/ExchangeUnion/xud/issues/413

[2018-09-06 20:54] kilrau commented on #156
Continuation of https://github.com/ExchangeUnion/xud/pull/243

Flow:
1. Discover LND + Raiden address on startup
2. Exchange LND + Raiden address on handshake with peers
3. Don't store persistently, it should be on every handshake (enables updates)

[2018-09-06 20:55] kilrau commented on #409
Closed in favor of https://github.com/ExchangeUnion/xud/issues/156

[2018-09-06 20:55] #409 closed

[2018-09-06 20:59] kilrau commented on #413
this needs to be completed for https://github.com/ExchangeUnion/xud/issues/161

[2018-09-06 21:14] #297 closed

[2018-09-06 23:36] sangaman commented on #324
#426 closes this issue, it just needs to be reviewed. After that I think we'll be in a better place to go forward with @programarivm PR and tests.

[2018-09-07 02:37] sangaman commented on #123
I've been thinking about this as I'm working on swaps clearing orders from the orderbook, so this is a good discussion to have.

There's another use case to cover, which is a peer order being removed because we tried to swap but the swap failed or was otherwise rejected, I'll call this `swapFailed`. Here they are numbered again for clarity:

I'm thinking that for `placeOrder`, we'd want to inform

[2018-09-07 02:49] sangaman commented on #123
I've been thinking about this as I'm working on swaps clearing orders from the orderbook, so this is a good discussion to have.

There's another use case to cover, which is a peer order being removed because we tried to swap but the swap failed or was otherwise rejected, I'll call this `swapFailed`. Here they are numbered again for clarity:

1. ownOrder added success/error (placeOrder)
2. ownOrder

[2018-09-07 06:10] offerm commented on #433
Opened PR #1865 (LND). https://github.com/lightningnetwork/lnd/pull/1865

Let's see how easy it would be to get it merged.

@kilrau How would you like me to progress with this?

We can wait to see if they accept it to LND (may take time since they classified as P4. I have good relations now with Conner and Johan so this may help).

Alternatively, we cherry pick this commit to the resolver branch,

[2018-09-07 08:00] moshababo commented on #123
@kilrau yes, the sync responses will have error codes, and I missed `cancelOrder`.

@sangaman I've considered non-internal match removal of peerOrder to cover the cases of swap failure/success, since the peerOrder is being removed before the swap, and never go back.
That's obviously changes if you want to change `placeOrder` to return the swap resolution.

It currently announce the client about ma

[2018-09-07 08:05] moshababo commented on #123
@kilrau yes, the sync responses will have error codes, and I missed `cancelOrder`.

@sangaman I've considered non-internal match removal of peerOrder to cover the cases of swap failure/success, since the peerOrder is being removed before the swap, and never go back.
That's obviously changes if you want to change `placeOrder` to return the swap resolution.

It currently announce the client about ma

[2018-09-07 08:36] offerm commented on #441
@kilrau What is the plan with regards to swap support?

Need to take latest LND@resolver and XUD after 446 is merged.

[2018-09-07 08:36] offerm commented on #369
I confirm working!

[2018-09-07 08:36] #369 closed

[2018-09-07 10:40] michael1011 commented on #424
Although I would prefer `getOrders` I am fine with `listOrders`  too. Should I rename just the CLI commands or also the gRPC methods?

[2018-09-07 11:41] moshababo opened #448 "Pre-handshake packet handling"
At the moment all peer packets are being handled, regardless to whether handshake was completed or not. It means, for example, that we can potentially attempt to execute a swap with a peer before verifying his identity, his xud version compatibility, etc.

To fix this, some logic need to be added to `Peer.handlePacket`, defining which packets are not allowed before handshake, and which are not all

[2018-09-07 14:02] sangaman commented on #123
I definitely feel it makes sense to have `placeOrder` return the actual resolution of the matches/swaps. This is also consistent with how making lightning payments via the lnd cli or wallets work, you don't get a response until the payment succeeds or fails even though that occasionally can take a while. Another consideration is that the value we return for `remainingOrder` may not be accurate if

[2018-09-07 14:26] sangaman commented on #424
I think renaming the gRPC calls as well would be good, eventually we'll need to be prudent about making breaking changes to our proto definition but we're not there yet. I still think it's not a good idea to rename `getorders` to `listorders` though on account of the fact that it's not returning an actual list, and I don't think `getorders` is ambiguous to the fact that it returns multiple orders

[2018-09-07 14:36] michael1011 commented on #424
It is already done and I used a Map (`pairId` to `peerOrders` and `ownOrders`) but I wanted to wait for a decision on the `listOrder` and `getOrder` renaming before opening the PR. @sangaman

[2018-09-07 14:40] sangaman commented on #424
Oh, awesome, I'll take a look when you open the PR. You can always open it as is and the naming issue can be decided during review.

[2018-09-07 16:12] kilrau commented on #290
`sudo npm i -g xud --unsafe-perm`

[2018-09-07 16:12] kilrau commented on #290
Update readme once published in npm repo

[2018-09-07 16:25] #418 closed, assigned to michael1011

[2018-09-07 16:43] kilrau opened #450 "Documentation Wiki"

[2018-09-07 16:44] kilrau commented on #123
Agreement: support synchronous & asynchronous mode. Could you list calls & events each? @michael1011

If one is used, the other one is not active, to avoid double info. Make sure to document properly.

[2018-09-07 16:45] kilrau commented on #416
@offerm you are the decision maker here, please let us know if you'll use it, then we'll keep it

[2018-09-07 17:50] kilrau commented on #441
Since it's merged, `preAlpha.3` will include this.

[2018-09-07 17:55] kilrau commented on #433
I will play around with docker later, seems simnet on litecoin is working there already. If that's the case we can wait for the merge into lnd master.

[2018-09-07 20:53] programarivm commented on #324
Thanks for pinging. I'll try to look at the tests at this stage.

[2018-09-08 04:44] #422 closed

[2018-09-08 16:07] sangaman commented on #324
@programarivm Great, I'll definitely take a look at your PR after you get a chance to revisit it, thank you.

[2018-09-08 16:17] sangaman commented on #290
I think the solution for now is the `--unsafe-perm` flag as you've pointed out. I believe this is needed due to the secp256k1 package dependency. It would be nice to figure out a way to install without needing a special flag, but perhaps good enough for now?

[2018-09-09 07:54] moshababo commented on #123
Is it not accurate because that on failed swap we'll try to re-match the taker order, or because of a different reason?

Are you talking about cutting failed-swap/re-matching iterations, or also actual swap executions?

So you're suggesting is that on `placeOrder` the client won't get any response info, requiring him to subscribe to the streaming calls to get it, while `placeOrderSync` we'll wrap

[2018-09-09 07:56] moshababo commented on #123
Is it not accurate because that on failed swap we'll try to re-match the taker order, or because of a different reason?

Are you talking about cutting failed-swap/re-matching iterations, or also actual swap executions?

So you're suggesting that on `placeOrder` the client won't get any response info, requiring him to subscribe to the streaming calls to get it, while `placeOrderSync` we'll wrap the

[2018-09-09 12:51] offerm commented on #416
@sangaman @kilrau the only reason to keep this has to do with our planned swap protocol change. My concern is that during the change I would need to wait for XUD related changes in order to check the new protocol.
As such I suggest to leave the executeSwap as is for now and remove it once we implement the next version of the swap Protocol. (https://hackmd.io/s/SJ2qZUzdX)

@Daniel, I suggest we acc

[2018-09-09 12:55] offerm commented on #421
@kilrau see https://hackmd.io/s/SJ2qZUzdX

This is also relevant to
#161 - when should we consider the swap as done
#413
#407
#421

Waiting for a green light to move.

[2018-09-09 12:58] offerm commented on #161
All, please note that swap should be considered successful once we released the preImage. It should be considered final once we get the preImage from our LND but once we released the preImage we should avoid trading the order again.

[2018-09-09 14:37] sangaman commented on #161
The maker order is being removed after the swap is complete (and therefore can't be swapped again) with #447.

[2018-09-10 13:10] sangaman commented on #416
@offerm What about removing `executeSwap` from master and leaving it in a branch if you need it for testing purposes?

[2018-09-10 13:19] sangaman commented on #156
This functionality actually already exists, implemented in #362 and #243.

[code]

[2018-09-10 13:19] #156 closed

[2018-09-10 13:29] sangaman commented on #185
Yes. Perhaps we should close this issue though and create separate issues for reputation, banning/ban scores, etc... I can do this if you agree.

[2018-09-10 16:56] itsbalamurali commented on #191
@kilrau on it working on Logging Part.

[2018-09-10 18:06] #107 closed

[2018-09-10 18:34] sangaman commented on #123
Yes exactly.

I was thinking cutting the actual swap executions, but in thinking about this a bit more I believe that can only be done by the maker - since once the taker sends their side of the swap, they can't do anything about the pending HTLC. The maker can always call off the whole thing by failing the attempted payment to them, since only they know the preimage. Might be worth discussing sep

[2018-09-10 18:34] sangaman commented on #421
I shared some questions/concerns on gitter, we can move the discussion to here if you'd rather and I'll copy over my comments.

[2018-09-10 20:37] #313 closed

[2018-09-10 23:03] kilrau commented on #421
Messages: `SwapRequest`, `SwapResponse`, `SwapError`, and `SwapComplete`

[2018-09-10 23:07] kilrau commented on #421
For now I'd say once `swapConmpleted`, but we definitely need to get rid of it. Maker could just not send it and then it will mess up our status'. How much adjustment to LND needed to push a preimage to an external source? @offerm

[2018-09-10 23:08] kilrau opened #453 "Get LND PR (1820) merged"

[2018-09-10 23:10] kilrau commented on #407
New idea tbd: https://hackmd.io/s/SJ2qZUzdX#Swap-protocol-V3

[2018-09-10 23:31] sangaman opened #454 "Querying peers for orders of specific pairs"
We want to be able to specify a pair id in the `GET_ORDERS` packet to query only orders for that specific pair. This will be useful if, for instance, we add a new trading pair while xud is running.

Edit: A followup issue, although one that could possibly be addressed at the same time as this one, is sending this specified `GET_ORDERS` packet to peers that support the pair when a new pair is added

[2018-09-10 23:36] kilrau commented on #416
Leaving it in a `swap_v2` branch sounds like a good idea to me

[2018-09-10 23:44] kilrau commented on #123
Yep, let's please discuss this here: https://github.com/ExchangeUnion/xud/issues/413, not part of this issue.

Correct.

[2018-09-10 23:45] kilrau commented on #123
Could you update https://github.com/ExchangeUnion/xud/issues/123#issuecomment-419304684 with `placeOrderSync` put it as main description of the issue? @sangaman

[2018-09-10 23:47] kilrau commented on #185
Agree! @sangaman

[2018-09-10 23:55] kilrau opened #455 "[Ongoing] Release Checklist"
- [ ] Make sure to have GPG keys configured in github and `npm config set sign-git-tag true`
- [ ] Upgrade version  via npm (`git checkout master`, `git pull`, `npm install`, `git reset --hard origin/master`, `npm version 1.0.0-X` (substitute X with the version), `git push --tags`
- [ ] Publish on npm (`npm publish`)
- [ ] Tag release (go to github, releases, draft a new release, leave title empty

[2018-09-11 01:01] kilrau commented on #421
Basic question to make sure my understanding is right: at the moment there is no way for `XUD_B` to get the preimage from `LND_B` once it was revealed by `LND_A`, correct? @offerm @sangaman

[2018-09-11 02:02] sangaman commented on #421
There is, it's in the `sendPaymentSync` response. It's just not currently configured to save that value (it only logs it), but it should be pretty easy to have the `swap.completed` event fire when `sendPaymentSync` succeeds for XUD_B, or when XUD_A reveals the preimage on the other side of things.

[2018-09-11 04:50] sangaman opened #457 "Track node reputation events & score"
Offshoot of #185. We want to track node behavior scores for reputation and banning purposes.

- Track reputation events and record each instance of a negative event, including the type of event and time of occurrence.
- Track positive reputation events as well - at this point I'm thinking this would consist of successfully completed swaps/trades, maybe we could also award points for sustained upti

[2018-09-11 04:51] sangaman opened #458 "Ban by IP address"
Offshoot of #185. We want to be able to ban by IP address when a certain IP address spams us with invalid messages or repeatedly fails to complete the handshake. Since IP addresses change, we need not persist this ban permanently. Rather, we can ban for the duration of an xud session or perhaps set a timer to lift the ban after several days.

[2018-09-11 08:55] offerm commented on #416
@sangaman I'm OK with removing it from master together with related code.

No need to keep it as a branch. I will pull it from history if needed.

go for it.

Offer

[2018-09-11 16:11] kilrau opened #460 "Move to SQLite"

[2018-09-11 16:37] michael1011 commented on #336
Depends on #457

[2018-09-11 16:41] kilrau commented on #457
Dependency: https://github.com/ExchangeUnion/xud/issues/336

[2018-09-11 16:45] kilrau commented on #458
More efficient in DDOS protection, because destroys socket at very first packet: https://www.indusface.com/blog/7-best-practices-ddos-protection/

[2018-09-11 16:54] itsbalamurali commented on #191
@kilrau @sangaman the grpc issue i was talking about:

![image](https://user-images.githubusercontent.com/1926303/45374935-2d915a80-b611-11e8-8bd8-7a9cd2b81207.png)

P.S Not to be mistaken with the nodes being down.

[2018-09-11 17:15] #448 closed

[2018-09-11 17:41] kilrau commented on #460
@sangaman @rsercano would like to take over

[2018-09-11 18:12] sangaman commented on #191
Never seen this before, but I notice you're using an external IP for communicating with the rpc. Are you sure you're able to connect on that address and port? No firewall issues or port forwarding or anything?

https://groups.google.com/forum/#!topic/grpc-io/yCUwuHycNWk This suggests it's a connection/networking issue.

[2018-09-11 20:57] sangaman commented on #460
Oh I already have this basically completed, hold off on this @rsercano. Will be opening a PR shortly.

[2018-09-12 05:47] offerm opened #462 "Startup error"
Getting this error after startup without a database.
[code]

[2018-09-12 05:53] offerm opened #463 "connection error in log"
My node just started and learn about a peer node at 84.111.139.147:8885 from all there test nodes.
84.111.139.147:8885 is not reachable. I'm getting 3 errors on these instead of one (or zero actually).

Note that 84.11.1139.147 is my external IP address and I do run another XUD on 8885.

I know why this is happaning. just think it is wrong. In any event, decide if this is a warning (like the log l

[2018-09-12 12:40] offerm commented on #416
PR #465

@sangaman  please review/accept

[2018-09-12 14:19] rsercano commented on #335
Hello, I see that issue has no assignee, have you guys concluded anything on this, is what-to-do clear ? @kilrau

[2018-09-12 14:59] moshababo commented on #145
@kilrau following what you wrote for the no-matching mode:

Yes.

Yes.

We need to differentiate between a taker swap and a maker swap.
 * If maker (swap instantiated by a remote peer), then it's an event, which you referred as `8. ownOrder incomingSwap`.
It's basically equivalent to `4. ownOrder removed (due to a successful swap that was instantiated remotely)`, in the sense that order invalidati

[2018-09-12 15:31] michael1011 commented on #462
I don't have these problems neither on Node `v8.12.0` nor on `v10.10.0` on Linux. Could someone else try to reproduce this?

[2018-09-12 15:44] sangaman commented on #462
I believe this is fixed by #452. I can merge it now or if you want to try pulling the changes down and verifying yourself let me know.

[2018-09-12 16:49] #462 closed

[2018-09-12 16:55] #416 closed, assigned to sangaman, offerm

[2018-09-12 16:57] offerm commented on #421
Yep

[2018-09-12 21:39] kilrau commented on #335
@rsercano This issue is about:

I will take over adjusting existing readme & co:

[2018-09-13 04:44] sangaman commented on #335
I still think creating a sample config file for the user is not the best idea, considering it is not the behavior of bitcoind, btcd, lnd, etc...

I think it might be best to just have sample configuration on our [Configuration](https://github.com/ExchangeUnion/xud/wiki/Configuration) wiki page, or maybe a sample config file that we provide in the repo.

[2018-09-13 04:50] kilrau commented on #335
That's exactly what this task is about! Sorry if this was still not clear. In other words: This issue is about auto-generating a sample config file in the repo with all available options. This sample config file is NOT used by XUD in any way. We can link to it from the Configuration wiki and from any other place. The reason we want this is, because like this we can keep the sample config always up

[2018-09-13 04:52] sangaman commented on #335
Oh ok, I hadn't considered automatically generating the file we keep in the repo. I suppose it can be done with an npm script and converting the default `Config` object you get from calling its constructor from JSON into TOML.

[2018-09-13 04:54] kilrau commented on #335
Updated description

[2018-09-13 05:33] rsercano commented on #335
I'll check that, seems like a simple issue, will try to generate from inside of code somehow, and will put a link to the readme as sample configuration file.

[2018-09-13 12:03] offerm commented on #463
@rsercano to reproduce this you need to have 2 XUDs running on your local device. Each one of them should connect to test1,2,3 servers (seed nodes). And you should connect them over localhost.

Once you do that and restart the local nodes you should see the problem.

If you fail to see it, please share the console log that you do see

[2018-09-13 14:38] rsercano commented on #463
Could it be possible that I need an external IP address ? I see neither connection error nor timeout error if I use `localhost` or `internal ip`

[code]

[2018-09-13 14:50] offerm commented on #463
No need to define any setting. Looks to me you are using advertise addresses.

You should be behind NAT.

I will try to reproduce myself later today or tomorrow morning.

[2018-09-13 15:29] #432 closed

[2018-09-13 18:36] kilrau commented on #191
Updated description. Updates? @itsbalamurali Did you try connecting from an internal IP as Daniel suggested?

[2018-09-13 19:01] kilrau opened #471 "[Concept] XUD GUI project"
Outsourced:
- fundrequest?
- gitcoin?
- dedicated external dev for initial effort?

[2018-09-13 19:22] kilrau opened #472 "Trading Test Environment v2"
Continuation of [v1](https://github.com/ExchangeUnion/xud/issues/191):
* 3 VMs: xud1,2,3 all LND enabled (BTC/LTC), raiden disabled
* 1 separate VM: running one SIMNET BTCD and one SIMNET LTCD. BTCD serves all BTC-LNDs, LTCD serves all LTC-LNDs of xud1,2,3. There should be a script that mines a new block every 5 seconds.
* public "requestChannel(LND URI, currency, amount)" method to call at xud1,2

[2018-09-13 19:30] kilrau opened #473 "Dual funded channels"
A lot of discussion on the (ln mailing list recently)[https://lists.linuxfoundation.org/pipermail/lightning-dev/2018-September/subject.html], but no consensus. We should revisit this for beta and potentially jump in and take over. Also check status on Raiden.

[2018-09-13 20:02] #460 closed

[2018-09-13 20:14] rsercano commented on #471
I'm not a designer but, with a ready-to-use theme I could get into this

[2018-09-13 20:18] rsercano commented on #463
@offerm I still can't see the errors tried in a different environment, no luck. Probably as you said it's already solved.

[2018-09-13 20:18] offerm commented on #473
Why do we need a dual-funded channel?
Do you want to be "active" in the discussion/solution or do you think this is really important for XU?

IMHO, there is nothing wrong with two channels, each funded by each side.

[2018-09-13 20:31] offerm commented on #463
Let's close it once the test nodes work properly and we give it another validation round.

[2018-09-14 02:12] workfigure opened #474 "Can not compile the code. npm run compile"
I am not be able to compile the xud code. I am using Nodejs version: v8.10.0, npm version: 3.5.2

Error details:
ammanuel@ammanuel-VirtualBox:~/sources/xud$ npm run compile

lib/p2p/Pool.ts:501:17 - error TS2459: Type 'string | AddressInfo' has no property 'address' and no string index signature.

501         const { address, port } = this.server!.address();
[code]

[2018-09-14 06:19] offerm commented on #474
Is this directly from Master? have you made any changes?
try also `npm install` before the compile.

I just checked on latest master and I don't have such a problem.

[2018-09-14 07:29] offerm opened #475 "DeprecationWarning on startup and CLI usage"
Do we know what the reason for this is?

Complicated fix?

[2018-09-14 07:35] offerm opened #476 "npm run test - using xud1,2,3 and error"
Running `npm run test`.
All tests pass but there is an ugly error:

[code]

Not sure why these nodes are not available, why we try to connect them in test, and why failure does not fail the test.

To be checked

[2018-09-14 08:08] rsercano commented on #303
Would like to take over on this

[2018-09-14 10:13] moshababo commented on #123
@sangaman
Designing the new API should take #145 into consideration. I'd suggest to discuss it first before implementing.

In regards to having a synchronous version for `placeOrder`, i'd suggest to utilize `Peer.wait` in order to create a synchronous code flow in `Swap.beginSwap` (which could be awaited from `OrderBook.handleMatch`, and so to affect `MatchingResults`). I think this change would b

[2018-09-14 10:53] offerm opened #477 "new RPC - listSwapDeals"
Suggest creating an RPC that extract the list of SwapDeals done.

We have interesting data there list status, state, errormessae, createtime, executetime, completetime that the educate us and help to debug.

For now, we can show information from memory but in the long run, we should store/extract from the database.

[2018-09-14 11:31] sangaman commented on #477
Do we want to store all swap deals to the database, including failures? I think it would make sense (separate from this PR) to write finished deals to the database and remove them from memory.

[2018-09-14 11:34] sangaman opened #478 "Order removed twice on match"
Right now, when we match an order as the taker, we wind up trying to remove the order twice. Once on match locally, and then once again when the maker broadcasts an order invalidation packet. We should still remove orders on local match, but we need to either not send the order invalidation packet to the taker or have the taker handle it gracefully without logging an error message.

[2018-09-14 11:35] offerm opened #479 "placeOrder / placeOrderSync"
It would be nice to have a `wait` option of  buy/sell market order.
These can block until the trade is done and the result is available.
The result is not just the match(s) but also the outcome of the execution (swap for example).
If can also show the impact on balance once we have it.

[2018-09-14 11:38] offerm opened #480 "invalid orderId when invalidating an order on the taker side"
Should be check once #468 is merged

Besides the direct issue, consider also why this is a warning and not an error.

[code]

[2018-09-14 11:46] sangaman commented on #463
I see three logging enhancements mentioned here:

- Log how many nodes and how many new/valid nodes we receive from `NODES` packet.
- Reword the `warn` level messages so they don't use the word "error" in the actual message.
- Log a message on successful handshake that we got a nodepubkey from a given addresss/port so we know which nodepubkey belongs to which ip address from the logs.

I'm not exa

[2018-09-14 11:51] offerm commented on #477
Since we deal with "real" money, we need to record everything.
Minimum would be a log file which is not getting lost easily.

Better to log to database swap, orders, etc. Everything that deal with
money.

In general, we should never permanently delete these objects. It is ok to
delete from memory but only when backed to a persistent storage.

IMHO

On Fri, Sep 14, 2018 at 2:31 PM Daniel McNally <n

[2018-09-14 11:57] rsercano commented on #303
if it's still an issue though :)

[2018-09-14 11:59] offerm commented on #463
Agree with the list of enhancements.

The problem I reported here was the parallel 3 attempts to connect to
(0235584e2ac9a34a13ce6f6dc9fb8aa1e7918d7701f0b4b69dc002887e6b3fbba3):  84.111.139.147:8885

I'm not sure that the issue was resolved since the test servers are not really "working" now.

From here is just FYI:
Between the lines, I also complained about the current functionality of detecting

[2018-09-14 14:49] sangaman commented on #477
Sounds good to me. Although we are not putting orders themselves in the database, we'd have a record of any that get filled via swaps.

[2018-09-14 15:05] michael1011 commented on #479
#123 is doing that.

[2018-09-14 16:09] sangaman commented on #303
I have not worked on this yet, so please do take a look as this is definitely something that needs to fixed. I'm not sure if it's still an issue or if it was solved through other changes, but I suspect it would still crash. It's easy to test tho as all you need to do is send rpc calls to the p2p port using the command from the issue. We would just need a way to gracefully handle invalid messages s

[2018-09-14 16:11] sangaman commented on #458
[fail2ban](https://www.fail2ban.org/wiki/index.php/Main_Page) is roughly the sort of functionality I have in mind.

[2018-09-14 16:13] sangaman commented on #474
Yes, this suggests to me that the code you're compiling is inconsistent with master. Can you make sure you're on the master branch and try `git pull` then `npm run compile` again? If not, can you paste here the output of `git status`?

[2018-09-14 16:39] michael1011 commented on #474
I have seen this error before. This happened to me because I installed [`@types/node`](https://www.npmjs.com/package/@types/node) and I solved this by not adding it as a dependency (I don't remember why I wanted to do that and we don't need it anyways).

[2018-09-14 17:06] #424 closed

[2018-09-14 21:47] offerm commented on #479
Thanks. Noticed.
Not sure why we mix the discussion of Subscribe calls with placeOrder call.
I envisioned something simple. clearly not complicated as the discussion in #123.
Will take some time to go over #123 and digest it.

[2018-09-15 01:42] kilrau commented on #463
What's up with test servers? @itsbalamurali

[2018-09-15 03:18] sangaman commented on #463
I think the expected behavior you want needs #365 to be solved. I'll handle the logging enhancements and close this issue when merged.

[2018-09-15 05:10] sangaman commented on #480
Duplicate of #478. I think `warn` is appropriate given that nothing actually failed and no functionality is compromised, it's just an unexpected message from a peer.

[2018-09-15 05:10] #480 closed

[2018-09-15 05:14] sangaman commented on #479
We can maybe use this issue to track the synchronous `placeOrder` mode which waits for all swaps to complete (or fail), as an offshoot of #123. @moshababo have you worked on this any more or thought more about how that would look like? I know you'd discussed using an approach similar to the peer `ResponseEntry` model.

[2018-09-15 06:37] #335 closed

[2018-09-15 12:48] rsercano commented on #303
It's currently not throwing errors as described;
From daemon;
[code]
From client;
[code]

[2018-09-15 12:57] sangaman commented on #303
That seems good enough to me, thanks!

[2018-09-15 12:57] #303 closed

[2018-09-15 13:35] sangaman commented on #471
I haven't given much thought to theme or design, but I think the UI could have a minimalistic/clean UI  without bells and whistles since it would be targeted at administrators and power users - not mass market. Which admin themes are you referring to?

[2018-09-15 13:43] sangaman commented on #123
Moving the `placeOrder` related discussion to #479.

[2018-09-15 13:59] sangaman commented on #479
@moshababo's most recent post:

If we go forward with `placeOrder` and `pIaceOrderSync` calls, which I still think is best, we can have only `placeOrder` active for non-matching mode. It will behave the same, returning an empty response immediately as long as the order is valid, the only difference is there won't be any streaming events following it.

You should take a look at #468 if you get a ch

[2018-09-15 15:48] sangaman commented on #123
Let's move persisting orders into a separate discussion.

I'd be very hesitant to hold on to orders that have been canceled or filled because we keep them in a priority queue, and having expired orders in there would complicate the matching process I believe. I can't think of any reason why we'd want them after they're completely filled or canceled, except possibly for historical purposes, but the

[2018-09-15 16:00] offerm commented on #123
The point I'm trying to make is that this should be done with a list of a generice Event object without the discussion about how/when these Events are created.
Makes everything simple and not dependent on other components/logic.

My 2 cents.

[2018-09-16 00:42] sangaman commented on #123
I was thinking about this some more, and I can think of 3 events that a client would be interested in hearing about:

- A new peer order, for which the message will contain the order info.
- An invalidated peer order, for which the message will contain the order identifier (orderId, pairId, quantity invalidated)
- An executed own order, for which the message will contain orderId/pairId/quantity ex

[2018-09-16 04:49] offerm commented on #123
So for every event that a user may want to hear we create a subscription RPC?

Also, why do you think a client would only be interested in these 3 events?

Better to develop a generic solution and allow the RPC user to filter event using regexp or similar solution.

[2018-09-16 12:27] moshababo commented on #123
In regards to the list of events, and how they are triggered - this indeed can change tomorrow, but I thought it's a good idea to go through everything we have right now. It might affect our design decisions.

At the moment we see our order book state in terms of orders being Added and Removed (which includes Created, Cancelled & Split). What's missing is Swapped which we thought to handle separat

[2018-09-16 13:13] offerm commented on #476
not using the databases anymore. using the latest master.

[2018-09-16 13:36] rsercano commented on #365
Sure, I want to check that do I need to know anything before I start @moshababo @sangaman ?

[2018-09-16 13:46] moshababo commented on #403
We currently allow this.

What about peers whom we never had a successful outbound connection to?

[2018-09-16 13:54] moshababo commented on #365
Just take some time to go through our usage of `NodeList` / `PeerList` inside of `Pool`. If you have any questions, feel free to hassle.

[2018-09-16 13:55] sangaman commented on #123
I'd lean towards a separate subscription for each separate message type.

Those are the only three events (related to orders at least) that come to mind.

Sounds like a good approach!

[2018-09-16 13:58] moshababo commented on #154
Do we want this for alpha.1? I thought we said we want to wait with the MIN_VERSION compatibility checks.

[2018-09-16 17:36] offerm commented on #478
Agree
[code]

Disagree with the warning message

This should be handled (so info/debug message should appear) or be an error.

[2018-09-16 17:39] offerm commented on #475
@sangaman
Why close it?
Even if we don't handle now we should leave it open so we will remember it.
I also think it is a nice issue for any new team member to deal with.

Reopen.
@kilrau please decide when this should be done.  Not sure exchanges will be happy with this `security warning`....

[2018-09-16 17:49] offerm opened #486 "CLI - addAlias to peer"
When having multiple peers it is hard to know which peer object represents which real entity (exchange).

Suggest adding an optional alias to a peer that can help to identify it.

I see two options:
a. the alias is set by the peer itself and provided as part of the handshake, or
b. the alias is set by the node for a connected peer

Option a is what LND is doing. This, however, is risky since the p

[2018-09-16 17:51] sangaman commented on #478
It is handled, but it is unexpected, from what I understand that's exactly what warn messages are for.

[2018-09-16 17:54] offerm opened #487 "CLI - add LND information to listpeers output"
Today, listpeers does not show any LND data about a remote peer.

We do have some information available (like pubKeys on BTC and LTC) that we should add to the listeners output

This can help understanding swap issues.

[2018-09-16 18:01] offerm commented on #478
How can you handle something which is unexpected :-)

To me `warning` is something that should be checked. If we know that this is part of our `execution` we should handle it (maybe ignore it or avoid double invalidation) and avoid the `warn`message.
If this is truly unexpected it should be an `error` (or even panic in such early stage of the project).

[2018-09-16 20:12] offerm opened #488 "getinfo does not show lnd error any more"
@sangaman on August 18 you committed `refactor getinfo service call`

That commit made `error` not to be shown.

Was that on purpose?

I will issue a PR for getInfo and going to fix this problem. Let me know if this is a bug or you removed it intentionally

[2018-09-16 20:31] sangaman commented on #488
I don't think it was intentional, we'd want to know the error if get info fails so go ahead.

[2018-09-17 05:04] offerm commented on #421
Can this be closed?

[2018-09-17 09:55] moshababo commented on #478
It's `warning` because right now our protocol doesn't recognize the scenario which @sangaman specified. I agree that after fixing this, we shouldn't see this warning.
Otherwise (in a different scenario), I don't think it's `error`. It's a result of a remote peer behavior, so it's expected. It's maybe `error` for the remote peer, not for the local node.
The only way to handle this is to penalize th

[2018-09-17 10:31] moshababo commented on #478
It's `warning` because right now our protocol doesn't recognize the scenario which @sangaman specified. I agree that after fixing this, we shouldn't see `warning`.
Otherwise (in a different scenario), I don't think it's `error`. It's a result of a remote peer behavior, so it's expected. It's maybe `error` for the remote peer, not for the local node.
The only way to handle this is to penalize the p

[2018-09-17 17:02] michael1011 commented on #486
I would go for option `a` and do it similar to LND. Because when the alias isn't used as identifier of the node there is no risk involved imo.

[2018-09-17 17:13] michael1011 commented on #475
We should just deal with this if we want to support Node.js v10 right now or in the near future. And I think we definitively should because according to the [Node.js release schedule](https://github.com/nodejs/Release) Node.js v10 will become `Active LTS ` simultaneously to v8 in October 2018.

[2018-09-17 17:36] sangaman commented on #475
From what I understand this is still supported in v10, and will only be dropped in a future release, so it doesn't interfere with v10 support I don't think. The deprecated code is in our generated proto files, so it's an issue with the proto generation dependencies.

I think it's probably the `grpc-tools` package that we need updated, they haven't published an npm release in roughly a year, althou

[2018-09-17 22:04] kilrau commented on #154
Ehm yes, if there's a good reason to wait, we'll wait @moshababo

[2018-09-18 01:19] kilrau commented on #472
Not at all, sound great!, Updated description

[2018-09-18 01:43] kilrau commented on #477
Yes we want to save all successful and failed swaps in the db. See https://github.com/ExchangeUnion/xud/issues/161
So this issue is about implementing a RPC call to query these.

Feel free to put proposals for the datafields please into 161 :)

[2018-09-18 01:53] sangaman commented on #303
I'd guess it was fixed with the parser/packet structure changes in #330, which were merged after this issue was opened.

[2018-09-18 02:10] #463 closed

[2018-09-18 02:49] kilrau commented on #123
This issue gets a little bit out of bounds. I updated the description with what we agreed before. Could you add a summary of the agreements on events? @offerm @moshababo @sangaman

Ok!

[2018-09-18 02:53] kilrau commented on #479
I think all covered by #123 now, updated some things in there. Please check @offerm @sangaman @moshababo  If you believe we still need this please reopen and describe clearly.

[2018-09-18 02:54] kilrau commented on #123
Discussion regarding `placeOrderSync`: https://github.com/ExchangeUnion/xud/issues/479

[2018-09-18 03:05] kilrau commented on #421
How about @offerm

[2018-09-18 03:13] kilrau commented on #471
Thanks for all the comments, didn't expect this 👍 We'll outsource this, it's perfect for an external frontend engineer and designer. Issue is for me to track, I got this.

[2018-09-18 03:31] kilrau commented on #475
Not pressing, but definitely keep this open, we'll revisit this in November once v10 is LTS and plans are clearer.

[2018-09-18 03:58] kilrau commented on #486
Good idea. I would not go for self-set alias (the LND way) because of the reason you mentioned. We've all seen the "Google uses Lightning" tweets. Also don't see how the client certificate solves this?

I'd strongly vouch for B and maybe even a generated one as default (google docs "anonymous squirrel" style).

[2018-09-18 06:28] moshababo commented on #479
I think we should keep this one open. It's a subset of #123 that should be done separately. `placeOrder` / `placeOrderSync` isn't about order book state events, but about matches/swaps results.

[2018-09-18 06:52] moshababo commented on #123
I think we should do `placeOrder` / `placeOrderSync` separately, as part of #479.

This issue can be for the order book state events (Added, Removed), which we already specified. We can consider @offerm design [suggestion](https://github.com/ExchangeUnion/xud/issues/123#issuecomment-421586700), or keep our current approach.

Note on terminology: I tried to use different names for different context

[2018-09-18 14:54] sangaman commented on #154
Personally I think it can wait. At least until we feel the p2p protocol is at least close to "complete", and then mark that point as the first minimum version we enforce.

[2018-09-18 15:43] sangaman commented on #123
I've started some work on this actually, will open a PR soon and we can discuss some more there. I think it will be helpful to have some actual code as a reference.

[2018-09-18 15:51] sangaman commented on #123
@moshababo Using "Removed" implies an order is being fully removed, but we have the possibility that the order is merely having its quantity reduced, for which "Invalidated" is slightly more clear. Maybe "Canceled"? It doesn't sound quite as absolute as "Removed" and I think it makes more sense to partly cancel an order than partly remove it. Thoughts?

[2018-09-18 16:16] kilrau commented on #479
ok, just referenced it in #123

[2018-09-18 16:29] kilrau commented on #114
Includes Macaroons authentication on RPC Calls

[2018-09-18 16:35] #298 closed

[2018-09-18 16:49] kilrau commented on #434
We just discussed with @michael1011 @sangaman to NOT do this and rather focus on fixing open P2P issue. @moshababo

[2018-09-18 17:06] kilrau opened #498 "'sample-xud.conf' v2"
- auto-update `sample-xud.conf` in github repo on version bump, in root folder
- auto-update `sample-xud.conf` in npm repo

[2018-09-18 17:08] sangaman commented on #450
Wiki is live with the basics, still a lot more that's worth putting in there but it will be an iterative process.

[2018-09-18 17:08] #450 closed

[2018-09-18 18:04] sangaman commented on #354
Confirmed that this is still an issue.

[2018-09-18 18:16] sangaman commented on #434
I do think it might be worthwhile to have a `p2p.discover` option, as well as a way to turn off automatically discovering and sharing your external ip address if none is specified. Could be separate issues or could reopen this one with a narrower scope.

[2018-09-19 01:03] sangaman commented on #477
Question on this, should this query the db? If we are only keeping "active" swap deals in memory - which makes sense to me - but means that there won't be many swaps available at any given times (only ones that are in progress). If so, it would seem a precursor is actually saving completed swaps to the db. I figure we'd want to set a limit on what we query, and not return the full history of swaps

[2018-09-19 01:06] sangaman commented on #339
Closing this, I think #344 was a significant improvement. We can reopen or create a new issue if we want to pursue further refactoring.

[2018-09-19 01:06] #339 closed

[2018-09-19 01:09] sangaman commented on #242
To summarize again, I think this can be considered solved simply by checking that the `peerPubKey` on the order matches the pub key of the peer we received the invalidation packet from. Encrypting traffic and other measures should be considered separate issues.

[2018-09-19 01:11] sangaman commented on #241
Is this actually desirable? I feel like as a user I would expect xud to accept my order and fill it as best its can.

[2018-09-19 01:15] sangaman commented on #165
Seems like it would be pretty complex to implement, the client would need to provide a service that quickly confirms if an order is still valid before it being swapped? I'm also not sure how much of an improvement that would be, since it's technically possible that they confirm an order is invalid, then moments later it is canceled while the swap is in progress. If the client notifies us immediate

[2018-09-19 01:18] sangaman commented on #148
Yeah I am not sure what needs to be done for this issue, could you elaborate @moshababo ?

[2018-09-19 01:19] sangaman commented on #106
This issue is on hold until Raiden reintroduces swap functionality, which was removed after v0.3.

[2018-09-19 03:00] sangaman commented on #223
In thinking about this more, maybe rather than generating a new UUID for `localId` when none is specified by the client, we just set `localId` equal to the global order id. I'm not thinking of any reason why they can't have the same value, and it would simplify things a bit. I can handle that in a PR and close this issue if that makes sense to you.

[2018-09-19 07:09] rsercano commented on #454
I would like to check this as soon as #496 is merged, I liked the "good first issue" labels btw. :)

[2018-09-19 17:34] sangaman commented on #454
Great, feel free to start working on it whenever. And yeah, I tried to label the relatively simple issues as "good first issues" - unfortunately I didn't come with too many. We've done a good job tracking the core pieces of functionality in issues but those are also usually the most challenging ones, still a lot of small improvements to make as well I'm sure. I'll try to keep in mind making and la

[2018-09-19 17:54] robertsdotpm commented on #398
I'll take this issue

[2018-09-19 18:00] sangaman commented on #398
That would be great, I haven't started any work on it yet. Let me know if you have any questions at all.

[2018-09-20 05:37] offerm opened #506 "cancel order failure on partial taking"
See what I did and what I got.

[code]
[code]
[code]

[code]

[2018-09-20 10:42] moshababo commented on #479
@offerm @sangaman let me know if I should already start working on this.

[2018-09-20 11:36] moshababo commented on #123
I don’t think it’s any less confusing to use “Invalidated” or “Cancelled” instead for this matter, nor that they are less absolute. We settled on solving this by defining the event payload as a tuple, orderId + quantity, so we’re always invalidating / removing a quantity.

I think the current terminology works well: Cancel is for API command (the opposite to placeOrder), “Invalidation” is for the

[2018-09-20 12:38] sangaman commented on #506
I believe this is related to #478 - the order is being invalidated twice on swap. All the more reason we don't send order invalidation packets to the peer we just swapped the order with. I created a test case for the order book to try to simulate locally and it passes, I'll open a PR for that because canceling a partially filled order is a good test case to have but it's separate from this. I thin

[2018-09-20 14:30] offerm commented on #506
Not sure I understand the reason for the failure here. Can you explain this before we get for a solution?

I also not follow the terminology of `invalidated`. Does it mean `removed`?
later you mentioned `cancel`

It is also not clear to me why the order was removed at by the maker when only part of it was executed.

[2018-09-20 15:08] sangaman commented on #506
Yeah, an invalidation is the term for the packet to tell peers that one of our orders is no longer available/valid. The cause can be either due to cancellation or to the order being filled, but the peer doesn't have to know that.

I haven't dug very deeply into this yet but I believe what's happening is this:

Exchange A places 0.004 buy order
Exchange B places 0.003 matching sell order
Swap succe

[2018-09-21 11:28] offerm opened #507 "check of node key - should it be an error?"
Have 2 nodes A and B. A connected to B.

Node I recreated A and can't connect to B:
[code]

Is this normal?

How will it be fixed at the field level?
How should I fix it?

[2018-09-21 12:46] offerm opened #508 "xud1,2,3 - setup for swap to support routing"
In currently working to finalize SWAP support.
Basically, the only thing left is to properly support SWAP when the taker and maker do not have direct channels between them.

To test this we need a more complicated environment.

I suggest to setup xud1,2,3 with BTCD, LTCD support, install LNDs on each and connect them with channels. Once this is working we need latest XUD and proper setup.

It woul

[2018-09-21 13:29] sangaman commented on #507
What if you try connecting with the new pub key? Like `connect 0287b085247689e51ff6230cb3527410743e2730403c342ff46557705154ae7dc2@localhost:8885`

[2018-09-22 10:50] michael1011 commented on #475
I found a workaround in [this issue](https://github.com/grpc/grpc-node/issues/438):
[code]

It is quite hacky and `sed` doesn't exist on Windows but I wanted to let you know.

[2018-09-22 12:12] ImmanuelSegol commented on #475
@michael1011 Seems good for now, we will just change it later on.
I will try to find something for windows 👍

[2018-09-22 12:49] offerm opened #513 "Peer connection and LND info"
For executing a swap the taker and maker should be ower of the peer PubKeys of BTC/LTC.

This information is now provided as part of the handshake when the nodes connect.

Problem: Assume A and B (nodes). A connects to B. at the time A connects to B it's LND processes are down so A does not have PubKeys to share with B. Later the LNDs processes are up and A connects to them but B is unaware of Pub

[2018-09-22 15:06] sangaman commented on #513
Yeah, this falls under handshake state updates, which are currently supported by the p2p layer but are not being triggered yet. I believe I know what needs to be done for this, I'll handle it soon.

[2018-09-22 15:12] offerm commented on #513
Don't you think it is simpler to have this info in the swap request?

It is also somehow relevant to accepting orders from the user and from
peers.

On Sat, Sep 22, 2018 at 6:06 PM Daniel McNally <notifications@github.com>
wrote:

[2018-09-22 16:14] offerm opened #516 "Ugly error when running `npm run test` - no impact on results"
when running the tests there is an ugly error which has no impact in the test run.

[code]

[2018-09-23 01:41] sangaman commented on #513
It's probably a little bit simpler yes, but I think the handshake approach is worthwhile for a couple of reasons:

1. The lightning will be changing very rarely if ever, and when they do it will probably be while `xud` is offline I would guess.
2. There'd potentially be a lot of redundant data transmission with communicating the keys for each swap and it's not ideal for production use.
3. We might

[2018-09-24 16:02] #365 closed

[2018-09-24 16:18] #413 closed

[2018-09-24 16:18] #421 closed

[2018-09-24 16:18] #431 closed

[2018-09-24 20:11] sangaman commented on #516
Seeing this too intermittently, definitely something that would be nice to get rid of. I'm looking up the error.

[2018-09-25 05:51] sangaman commented on #516
I've figured out the issue, I'll open a PR to fix.

The problem is two fold:

1. The web proxy test is defaulting `initDb` to true, which is unnecessary
2. Part of the init db process adds the seed nodes to the database, which in turn creates outgoing connections to the the seed nodes. The connections are async, and frequently what happens is that the web proxy tests complete and call the `shutdow

[2018-09-25 05:53] offerm commented on #516
👍

On Tue, 25 Sep 2018 at 8:51 Daniel McNally <notifications@github.com> wrote:

[2018-09-25 14:13] kilrau commented on #479
What's the status on this one? @moshababo @sangaman

[2018-09-25 14:13] moshababo opened #527 "addcurrency cli command issue"
After #511 merged, `addcurrency` CLI command stopped working. The CLI is expecting an upper-case `swap_client` argument, while it's being applied on a camel-case enum.

[2018-09-25 14:39] kilrau commented on #513
Agree with Daniel, our goal is to have the swap protocol as lightweight as possible so we shouldn't go back to exchanging keys on swap. Fix it via handshake updates and that's it. I put this into the next milestone.

[2018-09-25 14:50] kilrau commented on #508
What you describe is all in:
https://github.com/ExchangeUnion/xud/issues/191
https://github.com/ExchangeUnion/xud/issues/472

closing this one.

[2018-09-25 14:50] kilrau commented on #472
Closed this one https://github.com/ExchangeUnion/xud/issues/508, you wanna take over? @offerm

[2018-09-25 14:58] kilrau commented on #161
Missing according to @offerm:

* Allow maker to reduce the quantity suggested by the taker's SWAP_REQUEST message. I suggest not to touch this until order book integration is done and there is a good feedback/visibility to the user.
* Timeouts on RPC calls (queryroutes, sendToRoutes, sendPayments, getinfo) are missing. We should add these and handle them.
* sanity - taker to check the r_preimage i

[2018-09-25 15:00] sangaman commented on #527
Good catch, although I definitely think we should take care of this by alpha.1 - don't want to have known bugs in releases if possible plus this is an easy fix.

[2018-09-25 15:06] kilrau commented on #161
https://github.com/ExchangeUnion/xud/pull/495 & https://github.com/ExchangeUnion/xud/issues/479 closes this one

[2018-09-25 16:59] kilrau commented on #472
@michael1011  and me will work on https://github.com/ExchangeUnion/xud/issues/191 first, can you help us with this one after? @offerm

[2018-09-25 17:00] kilrau commented on #508
And yes would be great if you could take over #472

[2018-09-25 17:00] #508 closed

[2018-09-25 17:02] kilrau opened #528 "Swap improvements"
Missing according to @offerm:

1. Allow maker to reduce the quantity suggested by the taker's SWAP_REQUEST message. I suggest not to touch this until order book integration is done and there is a good feedback/visibility to the user.
2. Timeouts on RPC calls (queryroutes, sendToRoutes, sendPayments, getinfo) are missing. We should add these and handle them.
3. sanity - taker to check the r_preimag

[2018-09-25 17:29] michael1011 opened #529 "Add API method to retrieve information from node"
If XUD is running in `disableMatching` mode the exchange (or whatever application integrates the API) matches the orders and also triggers swap executions. There are situations in which the reputation of the node could and should affect the behavior of the matching engine when deciding with whom to execute swaps.

Therefore XUD should expose a gRPC method that allows external applications to *get*

[2018-09-25 17:32] #398 closed

[2018-09-25 17:58] moshababo opened #530 "New high-level API summary"
This is a continuance to #123 and a summery to the wider task of implementing the new high-level API.
Current active issues: #123 (#500 PR open), #479, #145

API events/responses:
* peerOrder added / removed
* ownOrder added / removed
* internal match
* swap result

API methods:
* `subscribePeerOrders`: announces peerOrder added / removed events.
* `subscribeOwnOrders`: announces ownOrder added /

[2018-09-25 17:59] moshababo commented on #530
Open question: should we announce swap failures?

[2018-09-26 02:12] #478 closed

[2018-09-26 02:12] #506 closed

[2018-09-27 16:13] kilrau commented on #223
localID=global ID in matching mode makes sense to me, a PR of this can close this issue  @sangaman @moshababo

[2018-09-27 17:05] kilrau commented on #530
I can't come up with a real use case for this, so let's just put them in our general log. If we have this requirement from client side one day, we can add it to `subscribeSwaps` as a `failed` swap result event.

As per https://github.com/ExchangeUnion/xud/pull/500#issuecomment-425157125 this should be the new overview, pls check: @moshababo @sangaman

API events/responses:
* Order added / removed

[2018-09-28 10:34] kilrau commented on #527
Assigned @moshababo , but feel free to take care @sangaman @michael1011

[2018-09-28 10:42] kilrau commented on #479
Let us know if there are any issue scoming up during implementation @moshababo

[2018-09-28 10:47] kilrau commented on #433
@offerm which route you wanna go? Conner's suggestion to fix ltcd as well?

[2018-09-28 10:50] kilrau commented on #314
Alright, looks like we are covered. Nothing specified: IP + Port detected, if specified we'll use that.

[2018-09-28 10:50] #314 closed

[2018-09-28 10:55] kilrau commented on #403
Don't share em.

[2018-09-28 12:50] sangaman commented on #403
Can this be closed now that #496 has been merged?

[2018-09-28 13:21] moshababo opened #533 "rename cancelOrder as removeOrder"
https://github.com/ExchangeUnion/xud/pull/500/files#r220511799

Renaming should be applied to gRPC / CLI / `Service.ts`

[2018-09-28 13:30] sangaman commented on #434
Reopening this to implement `p2p.discover` config option to disable sending `GET_NODES` packets automatically to discover new nodes, also to add `p2p.detectExternalIp` to optionally turn off discovering and sharing our external ip address on startup.

[2018-09-28 13:47] moshababo opened #534 "Publish existing orders on subscribeAddedOrders"
All existing orders need to be published so the client can be fully synced with the order book state, in case he subscribed on a non-empty state.

https://github.com/ExchangeUnion/xud/pull/500#issuecomment-424957594

[2018-09-28 17:54] ImmanuelSegol commented on #527
Can I take this?

[2018-09-28 18:00] ImmanuelSegol commented on #471
Hi,
I don't know if it's relevant but you guys could perhaps do something similar to [universal app](https://github.com/spacemeshos/app). I have lots of experience with React and would love to help  :)

[2018-09-29 15:37] #123 closed

[2018-09-29 15:56] #498 closed

[2018-09-29 15:56] michael1011 commented on #457
Closed by #470

[2018-09-29 15:56] #457 closed

[2018-09-30 06:14] moshababo opened #539 "ownOrders are removed from queues after connection failure to peer"
### Background

`OrderBook` is listening on `peer.close` events to trigger `MatchingEngine.removePeerOrders` on the peer pubKey. If the peer was never successfully connected & handshaked, his pubKey is not available.  This could have gone unnoticed if not to another bug, on `MatchingEngine.removePeerOrders`, which cause it to delete all ownOrders from the queues if invoked with an undefined `peerP

[2018-09-30 09:49] moshababo opened #542 "Add p2p swaps tests (isolated from the swap clients)"
We should add p2p tests which will trigger swap procedures, isolated from the actual swap clients (which will be mocked). This will require some infrastructure work.
Let's discuss this before doing anything about it.

[2018-10-01 03:46] #475 closed

[2018-10-01 13:19] #454 closed

[2018-10-01 13:38] #533 closed

[2018-10-01 13:59] #513 closed

[2018-10-01 15:12] #516 closed

[2018-10-01 18:14] michael1011 opened #545 "Unban node via gRPC/CLI"
Basically the reversing the `ban` method:
- adding the reputation event `ManualUnban` and
- connecting to the node again

[2018-10-01 19:08] #336 closed

[2018-10-01 21:13] #487 closed

[2018-10-01 21:30] sangaman commented on #527
I'm handling this now since we want it fixed before the alpha.1 release.

[2018-10-01 21:50] sangaman opened #547 "Check that we don't already have an r_hash for swap requests"
Currently, we don't have any checks up front when handling a swap request to see if we currently have or ever had a swap for that r_hash. We definitely don't want to allow reuse of preimages or anything like that, so we should detect this and reject the swap.

[2018-10-01 21:54] sangaman opened #548 "Don't store rejected swaps"
Currently, we savea a SwapDeal from the maker side even when we reject the deal due to a reason like no route or no order availaibility. I think we should change this to only track swaps where the deal has at least been accepted first (whether it ultimately succeeds or not). The goal would be to prevent tracking useless data - in practice I could see it being perfectly normal for swaps to be frequ

[2018-10-01 21:55] sangaman opened #549 "Release order holds on failed swaps"
This issue is to track functionality that releases a hold on an order when an attempted swap for that order fails or times out. We should probably use the `swap.failed` event for this.

[2018-10-01 21:57] sangaman opened #550 "Partial swap acceptance"
This issue is to track functionality to allow for swap requests to be partially accepted (for example, when part of an order is on hold) and for the swap amounts to be recalculated when this is the case. Further more, we'll need to not send an `ORDER_INVALIDATION` packet for the the full order when only part of it is successfully swapped.

[2018-10-01 22:06] sangaman opened #551 "Minor swap refactoring/renaming"
Below is a list of minor and/or superficial refactorings to the swaps related code that I think would be desirable:

- Rename `SwapErrorPacket` to `SwapFailedPacket`. My thinking is that a swap failure is not always due to an "error" per se, it could just be rejected even when everything is functioning as expected. This also aligns with the `swap.failed` event name.
- On error/failure responses, s

[2018-10-01 22:11] sangaman opened #552 "Handle remove order request when order is on hold for pending swap"
With the possibility that an order is on hold for a pending swap, we need to handle the case when we receive a request to remove such an order from the order book. I'm thinking the best approach would probably be to hold off on removing that order until any holds are removed, but there are a few things to consider.

- Don't allow any new holds to be placed on an order that we are in the process of

[2018-10-02 02:12] sangaman commented on #471
@ImmanuelSegol That looks pretty cool. I don't expect that mobile support would be a priority fwiw, but it certainly wouldn't hurt and that looks like a good starting point.

[2018-10-02 21:35] sangaman opened #554 "Refactor swap clients to be generic, remove hardcoded btclnd/ltclnd"
This issue is to track refactoring code to make lnd swap clients generic and configurable. Currently we hardcode `btclnd` and `ltclnd` as the only supported networks, but longer term we'd need to support more and we don't want code changes for each one.

[2018-10-02 22:17] ImmanuelSegol commented on #545
I will take this :)

[2018-10-03 05:45] rsercano commented on #434
From @sangaman;

[2018-10-03 06:47] offerm commented on #548
Exactly. `there may be reasons to want to store rejected swaps`. This is why we should store them.

What can be a `good` reason for this?

As an exchange/admin, I would like to know about these failures, analyze them and reduce future failures.

Also, this sounds like an optimization and we should defer it to a later stage when we better understand the usage patterns and be sure that we need to op

[2018-10-03 07:14] ImmanuelSegol commented on #554
Can I take this?

[2018-10-03 17:10] sangaman commented on #548
I'm not talking about failures due to an error per se but rather swaps that were never attempted in the first place. In an environment where there is a lot of trading going on, I imagine it could be fairly common to get multiple swap requests for the same order in a short period of time, where we'd have to reject all but one. Although I believe with #495 swaps rejected due to an order on hold are

[2018-10-03 19:05] offerm commented on #548
I understand you.
Still, I think we should not remove this "potential noise" until it becomes "real noise". Let's see how things develop and keep in mind that we can always do this.
Doing it now does not give real value.
My 2 cents

[2018-10-04 15:34] sangaman opened #558 "xucli output enhancements [WIP]"
This issue is to track enhancements to the output from `xucli` to make it prettier and more user-friendly than the JSON outputs it's currently spitting out

A major point is the `getorders` output, which is currently a mess once you have more than a few orders. We should be displaying only key information and preferably in a table.

Generally speaking we'd want to convert epoch times into local da

[2018-10-04 17:59] sangaman commented on #534
Yeah I think this is a useful feature to have, I'm going to propose this for the next milestone. I think ideally whether to get back existing orders should be optional, with a boolean field in the request, although we can have it return existing orders by default.

[2018-10-04 18:01] sangaman commented on #433
Moving this to alpha.2 because it won't be ready for the alpha.1 tag. Still a top priority though I'd say, just not a simple one by any means.

[2018-10-04 18:02] sangaman commented on #114
Closing this and will open a separate issue for macaroons.

[2018-10-04 18:02] #114 closed

[2018-10-04 18:04] sangaman commented on #145
Still definitely a priority, but it won't be ready for alpha.1

[2018-10-04 18:16] sangaman opened #561 "Use macaroons for grpc authentication"
Currently there's no authentication on rpc calls. This issue tracks using macaroons for securing rpc calls. We'll need to generate macaroons on startup if none exist.

The most mature macaroons implementation for javascript appears to be https://github.com/nitram509/macaroons.js, however it has not been updated in over a year and there are apparently issues with its type definitions. We should con

[2018-10-04 18:23] sangaman opened #562 "Store swapdeals to database, remove from memory"
We want to persist swap results (whether successful or failed) to the database for historical/informational purposes. This will require a new table in the database. Probably not every property of a `SwapDeal` needs to be persisted, but certainly enough to know what the swap was for, how much, with who, when it completed, etc...

Once a result has been persisted, we can remove it from the collectio

[2018-10-04 18:30] sangaman commented on #423
The rpc subscription calls were totally revamped with #500 and passed my tests as part of that PR, so I'm closing this.

[2018-10-04 18:30] #423 closed

[2018-10-05 11:18] sangaman opened #565 "Track banned nodes in NodeList"
Right now when xud starts up, it does not track any nodes that have been previously banned. That means that we could theoretically accept a connection with a banned node, resulting in a uniqueness constraint violation when we try to add the banned node to the database.

Instead, when we read from the nodes table and come across a banned node, we should track it in a separate list of banned node pu

[2018-10-05 11:25] sangaman opened #566 "Refactor peer penalizing/banning logic"
Currently, there's logic in Peer.ts around penalizing and banning peers. When the score exceeds a threshold, it emits a `ban` event, which in turn triggers a manual ban. We should change this so the `Peer` object doesn't track scores or decide when to ban - we have that logic in Pool.ts and NodeList.ts. Instead, it should emit an event when a reputation event occurs, which in turn should trigger c

[2018-10-05 11:44] moshababo commented on #542
I marked it as top priority not due to code coverage, but because we sometimes can't test these things even manually.
@michael1011 also suggested to have simnet env automation instead, which might be good and quicker solution then writing mock server.

[2018-10-05 15:53] sangaman commented on #415
This error doesn't seem to be happening with recent changes, can we close it? @offerm

[2018-10-05 15:59] ImmanuelSegol commented on #562
I think I will give this a shot if that's ok.

[2018-10-05 16:01] sangaman commented on #562
Fine with me, thanks.

[2018-10-05 18:06] offerm commented on #415
Yep

On Fri, 5 Oct 2018 at 18:53 Daniel McNally <notifications@github.com> wrote:

[2018-10-05 18:06] #415 closed

[2018-10-05 21:32] ImmanuelSegol commented on #477
I will make a pr for this issue along with issue #562 I'm working on.

[2018-10-06 05:47] #527 closed

[2018-10-07 18:15] #434 closed

[2018-10-09 05:35] offerm commented on #488
This was fixed already.
Can be closed

[2018-10-09 05:53] sangaman opened #571 "Specify interfaces for listening for peers"
Currently xud listens on `0.0.0.0` for peers, but we will want to allow users to specify particular addresses/ports to listen on. `listen` in config is currently a boolean that indicates whether we're listening at all, but we should change it to a string array with interfaces to listen on. Any interface without a port should use `listenport`. The default value for `listen` should be `["0.0.0.0"]`,

[2018-10-09 05:55] sangaman opened #572 "Remove only part of a standing order when it is partly swapped"
Currently we treat all `swap.paid` events as fully filling a standing order and always remove that order. We should check if the order was only partially filled, and merely update the order if so.

[2018-10-09 05:59] sangaman opened #573 "Mark lnd as Disconnected when calls to it fail"
We ought to handle the case where calls to lnd fail, whether it be a single failure or some number of multiple consecutive failures. The reason for this is that when lnd goes down for any reason, we lose the ability to perform any swaps for that lnd's currency. If we continue to place orders and attempt swaps for any trading pairs involving that currency, we will cause many swap failures and peers

[2018-10-09 06:01] sangaman opened #574 "Don't write files to disk during automated tests"
Currently, xud will potentially write files to disk during automated tests, namely the node key file and tls.cert. We should ensure that the tests do not write any files, nor make any other persistent changes.

[2018-10-09 06:02] #488 closed

[2018-10-09 14:04] sangaman commented on #558
A suggestion from @offerm

[2018-10-09 16:41] #479 closed

[2018-10-09 22:39] #545 closed

[2018-10-10 12:38] sangaman commented on #161
The last item is:

That's being tracked in #562, so I'm closing this issue.

[2018-10-10 12:38] #161 closed

[2018-10-11 00:53] sangaman commented on #551
Another minor thing to change is switching `r_hash` and `r_preimage` to camel case `rHash` and `rPreimage` to be consistent with the project-wide variable naming. This is also consistent with how those variables are generally named internally in lnd, it's mainly the rpc layer where snake_case is used.

[2018-10-11 18:17] moshababo commented on #551
Sounds fine to me.

[2018-10-12 04:28] sangaman opened #582 "Option to stream all existing orders up front on SubscribeAddedOrders"
Currently, subscribing to added orders only notifies you of newly added orders. We should add a boolean flag to the SubscribeAddedOrdersRequest that specifies whether to return existing orders. When this is true, we should write all existing orders to the stream up front.

[2018-10-12 04:29] sangaman commented on #572
This was closed by #578.

[2018-10-12 04:29] #572 closed

[2018-10-12 07:08] offerm commented on #528
@sangaman @kilrau  any idea on this one
[code]

should we add -fee_limit to our setup?

[2018-10-12 07:15] kilrau commented on #528
I'd say so, yes. With a reasonable default (e.g. eclair has 3% of the payment amount)

[2018-10-16 13:18] erkarl commented on #547
Going to work on this one.

[2018-10-16 13:36] sangaman commented on #547
Great, I think it makes sense to merge this after #569 so that we can check archived deals along with active deals, but you can open the PR now and it shouldn't be too hard to adjust it afterwards.

[2018-10-16 14:10] ImmanuelSegol commented on #547
@erkarl I kinda solved this in #569 :(

[2018-10-16 14:13] erkarl commented on #547
@ImmanuelSegol No harm done. Thanks for letting me know. I'll take a look.

[2018-10-16 15:41] offerm commented on #407
@kilrau @sangaman is this still relevant?

[2018-10-16 15:42] offerm commented on #433
@sangaman what is missing on this? the test servers are using simnet and we can do too.

[2018-10-16 15:46] offerm commented on #472
Update
Continuation of v1:

done

done

in the making by @michael1011

Working on it

[2018-10-16 15:50] sangaman commented on #433
Let's discuss on the call.

[2018-10-16 16:21] sangaman commented on #407
I don't think so. I'm pretty satisfied with how things work currently as far as the swap protocol.

[2018-10-16 17:35] moshababo commented on #582
#534 duplication?

[2018-10-16 17:59] moshababo opened #587 "[Concept] xud to verify maker order availability"
When receiving a swap request, we need to verify that the maker ownOrder is still available. Latency delays between the exchange and xud might cause some stale orders from the exchange perspective to appear as active on xud, and so to trigger an undesirable swap execution.

To avoid this, we can make xud wait for the exchange approval before accepting swap requests.
I see this more necessary for t

[2018-10-16 18:07] sangaman commented on #582
Oops, my mistake I couldn't remember if it existed and couldn't find it.

[2018-10-16 18:07] #582 closed

[2018-10-16 18:20] erkarl commented on #242
Is this still up for grabs? If so, I'd like to work on it.

[2018-10-16 18:28] sangaman commented on #242
Yup, this would be a good one to work on.

[2018-10-17 06:12] sangaman opened #588 "Automated integration/simulation testing with lnd & multiple xuds"
This issue is to track setting up automated tests that spin up `btcd` & `ltcd` using either simnet or regtest networks, along with multiple `xud` instances each with its own pair of `lnd` instances for btc and ltc. The goal is to be able to simulate actual usage of `xud` and test full integration with external components and services. Currently, we cannot test order execution with swaps in an auto

[2018-10-17 16:56] #551 closed

[2018-10-18 02:18] sangaman commented on #587
Thanks. My feeling is that we should hold off on this feature for the following reasons:

1) It introduces a good deal of complexity, the exchange/client will need to create and maintain their own service that xud can query. This service will also need perfect up-to-date information on the status of all orders, which would be complicated in a multi-threaded environment.

2) If an exchange really w

[2018-10-18 03:02] #565 closed

[2018-10-18 03:58] #539 closed

[2018-10-20 20:20] offerm opened #593 "LND out of sync - no retry"
`lndbtc` and `lndltc` were out of sync when xud started.
got the right `error` messages but there was no retry.

[code]

[2018-10-22 15:09] erkarl commented on #558
Going to work on this one.

[2018-10-22 15:39] sangaman commented on #282
@ImmanuelSegol I think we should maybe discuss again whether this is necessary in light of recent changes. I'd lean towards this being unnecessary - that it's fine for clients to just use `SubscribeRemovedOrders` which will notify them in streaming mode when orders are removed due to a peer disconnecting. @moshababo thoughts?

[2018-10-22 17:56] moshababo commented on #282
@ImmanuelSegol Thanks for the initiative, but yes, I think this feature is unnecessary at the moment. We can revise this in the future.

[2018-10-22 17:56] #282 closed

[2018-10-23 07:07] moshababo commented on #588
I'm starting to work on this.

I think we should focus on this high-level integration tests to be run in a single machine, and thus not as a full network simulation. Let me know if you agree on this.

[2018-10-23 07:10] moshababo commented on #588
I'm going to start working on this soon.

I think we should focus on this high-level integration tests to be run on a single machine, and thus not as a full network simulation. Let me know if you agree on this.

[2018-10-23 07:15] moshababo commented on #588
We can obviously still call them simulation tests.

[2018-10-23 07:36] erkarl commented on #588
I like the idea of starting with a single machine to lower complexity.

[2018-10-23 18:48] sangaman opened #599 "Remove peer orders for dropped trading pairs"
As discussed in #585, when a peer drops support for a trading pair in a handshake update, we should drop all orders for that peer and trading pair locally.

[2018-10-24 15:19] kilrau commented on #562
Can this issue be closed? @sangaman

Do we store failures? @moshababo  Could lead to a bloated database in the long run. I'd put a limit on storing failed swaps, like e.g. only the last 1000 failed ones.

[2018-10-24 15:40] kilrau commented on #534
Important, but not realistic for alpha.2 which I just extended to 28th, moved to alpha.3

[2018-10-24 15:43] kilrau commented on #534
I'm thinking of returning existing order in the stream upfront as default as this sounds like what I'd want as an exchange and an option/boolean to switch it off.

[2018-10-24 15:45] kilrau commented on #528
Status? @offerm

[2018-10-24 15:53] kilrau commented on #477
Yes, I believe this should query the db @sangaman , hence dependent on https://github.com/ExchangeUnion/xud/issues/562 . But important for exchanges to see 'results' of their testing.

[2018-10-24 16:39] kilrau opened #601 "Meaningful failed / successful doesn't provide a useful response"
Missing info:
- historical matches
- failed swaps (maybe as `placeOrder` response)

Proposed Calls:
`listSwapDeals`
`listTrades`

[2018-10-24 16:49] #433 closed

[2018-10-24 16:51] kilrau commented on #352
@sangaman can be closed?

[2018-10-24 16:53] kilrau commented on #319
Add final https://hackmd.io/s/HyjL17Lsm (regtest version @offerm ) to Wiki and make sure the pieces are linked properly

[2018-10-24 16:59] #200 closed, assigned to itsbalamurali

[2018-10-24 17:03] kilrau commented on #178
increasing reputation = add positive reputation & potentially remove old neg reputation

clearly define positive & negative events

@michael1011 please link to events in code

[2018-10-24 17:04] #162 closed

[2018-10-24 17:05] #151 closed

[2018-10-24 22:28] sangaman commented on #601
We already have an issue for `ListSwapDeals`, then I think we should split this up into separate issues for storing successful trades and creating a `ListTrades` rpc call, as well as returning failed swaps in the `PlaceOrder` response. Mind if I create issues for those and close this in favor of those? I also don't think alpha.2 will be realistic unless we extend the date for that.

[2018-10-24 22:56] #593 closed

[2018-10-24 23:01] sangaman commented on #352
Yes, I believe this is fixed by #592. Closing.

[2018-10-24 23:01] #352 closed

[2018-10-25 01:49] sangaman commented on #562
@offerm was in favor of storing everything including failed swaps and I agreed, I think it's fine for now and eventually we can add scripts to prune old failed swaps from the database I figure.

[2018-10-25 02:32] sangaman commented on #178
#470 introduced positive score for successful swaps, I think we can close this.

[2018-10-25 15:29] offerm commented on #528
Suggest to move down in the milestones.

[2018-10-26 01:57] sangaman commented on #534
Yeah, having that be the default behavior would make sense actually. I'd be in favor.

[2018-10-26 07:58] kilrau commented on #528
Hmm ok, all of the bullet points in the issue description still open? @offerm

[2018-10-26 09:02] #242 closed

[2018-10-26 09:10] michael1011 commented on #178
@kilrau We have one positive event right now which is a [successful swap](https://github.com/ExchangeUnion/xud/pull/470/files#diff-e3b9c918367fab773a683447d6b0ed31R13).

I can't think of any other positive events right now so I agree with @sangaman to close this issue-

[2018-10-26 12:40] moshababo commented on #402
I think we have total 4 different approaches:

1. Manually query `GET_NODES` from peers

I don't think it's relevant. everything should be done automatically.

2. Schedule a periodic query `GET_ORDERS` from peers

Sounds like the easiest approach.

3. Share newly connected peers with others

Could be spammy, I would rather keep the push messaging limited as possible, and favor the request/response

[2018-10-26 12:41] moshababo commented on #401
Open issues:
* Advertise version #154: we're waiting with it for later stage.
* Reconnect to last successful address of a peer first #402: let's continue the discussion.

[2018-10-26 13:06] kilrau opened #604 "SWAP calculations"
@moshababo discovered:

I was looking at the swaps code for something, and there’s something in the currency/amount calculations that I don’t understand.
Considering i’m on pair `LTC/BTC` and the price is `0.01`. we have 2 scenarios:

1)

maker order: buy quantity 5
taker order: sell quantity 5

swap amounts:
maker: 5 LTC
taker: 0.05 BTC

* if the maker is `buy`, then he wants to buy LTC. so why h

[2018-10-26 16:34] kilrau commented on #601
ok, please go ahead create these and close here @sangaman

[2018-10-26 16:49] kilrau commented on #587
Unfortunately it's indeed a fact that exchanges currently don't have a "locking" mechanism for orders.

Let's assume we are in a scenario where an exchange integrated `xud` and has one `ownOrder` which was propagated to xud and the XU network.

Method a)
1. Swap request from XU network peer comes in
2. `xud` asks exchange to lock the order
2. Swap happens (preimage released by peer)
3. `xud` updat

[2018-10-26 17:12] kilrau commented on #562
Ok, so good to close here?

[2018-10-26 17:15] kilrau commented on #561
since it'll be breaking changes rather sooner than later? I put it into the next milestone for now, let me know if you'd push it one further @sangaman @offerm

[2018-10-26 17:20] kilrau commented on #558
Check https://sparkswap.com/img/top-fold-terminal.gif @erkarl

[2018-10-26 17:34] kilrau commented on #552
I'll take this one, related https://github.com/ExchangeUnion/xud/issues/587#issuecomment-433472493

[2018-10-26 17:39] kilrau commented on #549
Are you on this? @sangaman Realistic for `alpha.2`?

[2018-10-26 18:01] kilrau commented on #548
I think we can store more or less everything for now and at some point prune failed swaps after a certain time/amount. This is what this issue is about.

[2018-10-26 19:54] #178 closed

[2018-10-26 20:06] sangaman commented on #528
I believe they're all still open, but none particularly urgent as I see it.

[2018-10-26 20:19] #529 closed

[2018-10-26 20:51] sangaman commented on #561
Yeah that's true, I figure we should definitely support a `nomacaroons` mode to make testing easier but it's still breaking in that we'd need to add that arg for current behavior to continue working. I'll take a look at this next week.

[2018-10-26 20:57] offerm opened #606 "XUD does not connect to previously connected peers"
This was working in the past.

To reproduce:
- start a fresh XUD
- make sure it connected to test1,test2, test3 servers
- stop XUD
- restart XUD

it will not reconnect with these servers

Log has this:
[code]

[2018-10-26 21:16] sangaman commented on #606
I was able to reproduce and fix. It looks like an old bug actually, my best guess is that the test nodes were previously advertising listening addresses but are not currently. It should not matter, since we should be trying to reconnect to them with the last successful address which was not happening before the fix.

[2018-10-27 03:51] sangaman commented on #587
With method b) my concern is that we shouldn't back out from swaps after they've been accepted. On the other hand, I believe the swap would be almost certain to succeed by the time we're asked to release the preimage because the HTLCs are already in place.

Either way, I still am reluctant about any mechanism that confirms with the exchange before accepting or executing a swap.

[2018-10-27 05:51] sangaman opened #608 "Save all completed trades to database"
We should store a history of trades made through `xud`. It should use a new table in the database (`trades`) and add a row every time an order is filled. I figure this should not be applicable for `nomatching` mode.

Here's what I'm thinking for columns in this table:

- orderId
- localId
- pairId
- quantity
- price
- matchingOrderId (for the order this was traded against, I'd be open to a differe

[2018-10-27 05:51] #601 closed

[2018-10-27 05:54] sangaman opened #609 "Add failed swaps to placeOrder (buy/sell) response"
It might be useful to know whether a placed order attempted to swap with any peer orders but failed. Currently `placeOrder` only returns information about successful swaps and internal matches. We could make it also return failed swaps. I figure for each failed swap we'd want to know the `orderId` and maybe `quantity` and `peerPubKey`, maybe the error message for why the swap failed`? Comment if y

[2018-10-27 07:08] sangaman commented on #604
Thanks for catching and describing this, it's indeed a bug and it's possible for the amounts to get switched. I opened a PR to fix this and also a similar bug in the logic for deriving the `SwapResult` from a completed swap.

[2018-10-27 07:12] sangaman commented on #401
We should already have logic to reconnect to the last successful address of a peer per #496.

[2018-10-27 07:14] sangaman commented on #402
I also prefer request/response over pushing newly discovered peers. Periodically querying for new nodes I'd agree is probably the best way to go.

[2018-10-27 08:50] kilrau commented on #609
So instead of only persisting it in the db as per https://github.com/ExchangeUnion/xud/issues/562 you suggest also to return failed swap info in `placeOrder` sync until a swap succeeds, correct?

`orderID`, `pair`, `quantity`, `price`, `peerPubKey`, error message

[2018-10-27 08:55] kilrau commented on #562
What's the primary key? r_hash? @sangaman @offerm

[2018-10-27 09:03] kilrau commented on #608
Agree. Moved to `alpha.4` since indeed not relevant for `nomatching` mode which is our prio rn.

Instead of only pointing to one successful `r_hash` we could also point to `orderID` and thus link all failed + the successful swap so multiple rows in https://github.com/ExchangeUnion/xud/issues/562 what do you think? @sangaman

[2018-10-27 09:05] kilrau commented on #606
How exactly did you fix this? @sangaman

[2018-10-27 09:14] kilrau commented on #547
So as far as I understand @ImmanuelSegol https://github.com/ExchangeUnion/xud/blob/8540da03e95950fa67e2a60890fdd9f5dacf681e/lib/swaps/Swaps.ts#L81 saves hashes in `  private hashs = new Set<string>();` so now we only need to check against this when starting a new swap @erkarl

[2018-10-27 09:47] kilrau commented on #530
Is the overview still up-to-date? @moshababo @sangaman If not, let's do that here

[2018-10-27 09:48] kilrau commented on #528
Moved down to `alpha.4`

[2018-10-27 09:51] kilrau commented on #477
Do you need help on this one? @ImmanuelSegol

[2018-10-27 09:53] kilrau commented on #476
can you verify this is still happening? @offerm

[2018-10-27 10:47] kilrau commented on #402
Ok I agree. Summary of what is to be implemented in this issue:
* periodically query `GET_NODES` from our peers
* add timestamp to `GET_NODES` packet so that peer can respond with new/deleted peers AFTER this timestamp

Notes: (once per 24h, save timestamp of last successful `getNodes` response per peer`, include this in next query, if node was down and last timestampe per peer is > 24h, immediate

[2018-10-27 11:01] kilrau commented on #401
#154 -> `alpha.3`
#402 -> `alpha.4` (reconnect to last successful address is not part of it as @sangaman pointed out)

[2018-10-27 11:05] #275 closed

[2018-10-27 11:16] kilrau commented on #31
I believe this is covered by:
* https://github.com/ExchangeUnion/xud/issues/472
* https://github.com/ExchangeUnion/xud/issues/542
* https://github.com/ExchangeUnion/xud/issues/588

If you believe so too, please close this @moshababo

[2018-10-27 11:18] kilrau commented on #40
I think we are ready to do this now. Volunteers? @ImmanuelSegol @erkarl

[2018-10-27 11:31] kilrau commented on #119
Interested in continuing this? @ImmanuelSegol @erkarl

[2018-10-27 11:37] kilrau commented on #137
Just stumbled upon [this project,](https://github.com/improbable-eng/grpc-web) which seems well maintained and got streaming rpc's included @rsercano

[2018-10-27 11:39] kilrau commented on #148
@moshababo please add some details here or close this 👍

[2018-10-27 11:46] kilrau commented on #65
Closed in favor of https://github.com/ExchangeUnion/xud/issues/158

[2018-10-27 11:46] #65 closed

[2018-10-27 13:31] kilrau commented on #158
`xud` enables two levels of signing/encrypting:
1. Sign only: Sign all order packets, peer verifies authenticity with my public key
2. Sign & encrypt: Sign & encrypt order to verify authenticity and encrypt orders with clients `nodePubKey` to ensure order info can only be decrypted by white-listed peers

Notes:
*1.* is the **default** and signs all orders with the XUD's private key. This ensures t

[2018-10-27 13:36] kilrau commented on #341
This is (like) a prerequisite for https://github.com/ExchangeUnion/xud/issues/158

[2018-10-27 13:43] kilrau commented on #165
Duplicate. Closing in favor of https://github.com/ExchangeUnion/xud/issues/587

[2018-10-27 13:44] #165 closed

[2018-10-27 13:57] kilrau commented on #587
That's precisely why I suggested to remove the order from the exchange's order book exactly before releasing the preimage. It's the only moment we can be 99.99% sure that the swap will succeed. Only a network or other random error can be in the way.

Well I think we all agree that these situations will happen. Swaps succeed whereas the corresponding orders already got filled or cancelled internall

[2018-10-27 14:20] sangaman commented on #609
It would be for both the sync and streaming place order calls, but yeah otherwise that's right. Altho even if a swap never succeeds, we'd still want to return any swaps that failed.

[2018-10-27 14:49] sangaman commented on #608
Yes, altho we could already do that by querying the swapdeals table for a given orderId. In this case I don't think we'd want a foreign key constraint because we could have an orderId that doesn't exist in the swapdeals table, whereas a rHash would have to exist.

However, now that you bring it up, I'm thinking it would probably make sense from a relational point of view to have an `orders` table

[2018-10-27 15:06] sangaman commented on #606
I added a check to see if a node has a valid `lastAddress` when looking to connect to it, which can take the place of a listening address. You can see the details in the PR.

[2018-10-27 16:06] kilrau commented on #171
Covered by https://github.com/ExchangeUnion/xud/issues/528 "totalCltvDelta"

[2018-10-27 16:06] #171 closed

[2018-10-27 17:01] kilrau commented on #169
At a high level, my thoughts on penalizing are:
* we'll require staking & checking of stake on handshake to make creating new pubkeys expensive (https://github.com/ExchangeUnion/xud/issues/172)
* using the stake to actually be taken away as penalty will be extremely challenging if not impossible since we will have troubles to reach a consensus among `xud`'s because a lot of info is shared between

[2018-10-27 17:02] kilrau commented on #172
Staking will most likely happen on ETH, so actually running/connecting to an ETH full node and being able to check stakes of peers will be a requirement.

[2018-10-27 17:48] moshababo commented on #401
Yes, I fixed the title.

[2018-10-27 17:49] #31 closed

[2018-10-27 17:53] moshababo commented on #542
@kilrau It means that we could test our swaps logic, without requiring a fully deployed environment.

But yes, I think we should close this in favor of #588, which is probably a better approach (using BTCD/LND test instances instead of creating a mock for them).

[2018-10-27 17:53] #542 closed

[2018-10-27 21:31] sangaman commented on #547
Yes that's right, we still need the check for existing r_hash even after #569 is merged.

[2018-10-27 21:35] sangaman commented on #530
Looks up to date to me, the last piece missing is `nomatching` and `executeSwap` but that's almost done.

[2018-10-27 21:40] sangaman commented on #40
We have the code to create a new deposit address in lnd, still need a wrapper method to send coins in lnd but that is easy. Then we'd need wrapper rpc methods for these which also shouldn't be hard. I think this should be low priority, but maybe we should discuss whether we'd want `xud` to be the sole point of interaction that manages all the `lnd` instances entirely, or whether it's ok to let som

[2018-10-27 21:41] sangaman commented on #119
#357 took care of a lot of this, I think going forward we should actually focus on the approach outlined in #588, since a lot of the rpc methods require p2p connections and swap clients. I'd say this issue can probably be closed.

[2018-10-27 21:46] sangaman commented on #137
Looks cool, if I'm reading that right we could drop our need for a web proxy entirely?

[2018-10-27 21:46] ImmanuelSegol commented on #40
I would be happy to take this @kilrau

[2018-10-27 21:47] ImmanuelSegol commented on #608
Can I take this? @sangaman

[2018-10-28 11:11] offerm commented on #476
Don't see this problem any more.
I do see some errors but the tests are passing.

for example:
[code]

These errors are marked with red.

note: If I execute the tests when the setup is active (btcd, ltcd, lndx2, xud all running and connected) I get errors. If I stop XUD (leaving the other 4 processes running) and run the tests all is good.

@kilrau please consider if we should close it or handle i

[2018-10-28 15:14] sangaman commented on #476
It's a matter of preference I think. The errors are deliberate and expected. It would be easy to silence all errors, but the output might be nice to have for diagnosing unexpected errors. But I don't think it's a big deal, I'd you think the output should be silenced we can do that.

[2018-10-28 16:03] offerm commented on #587
The situation is also complicated for the Taker, not just for the Maker. When the taker start the swap it must block the same order from being executed on the exchange.

This discussion is one of the reasons why I think that an exchange will not echo all its orders to XUD. It is way too complicated for the exchange to manage. Instead, IMHO, I think that the exchange will issue buy/sell order for o

[2018-10-28 17:11] offerm opened #612 "Trading issue"
Guys,

Assume that I'm an exchange that just installed XUD.

See what I did.
Can you please help me to explain what happened?

At startup I'm connected to LNDs and to 3 peers and have 11 peer orders. all good.
[code]
Looking at the orders I see BUY orders and SELL orders.
**The sell orders are not sorted by price**
[code]
trying to sell 0.003 at market. Expecting to take the first 2 BUY orders and

[2018-10-28 17:36] #606 closed

[2018-10-29 10:29] kilrau commented on #40
I'd be pro `xud` being the sole point of interaction to reach a certain abstraction.
* only expose calls that matter, cleaner
* enables a much nicer CLI experience (compare https://sparkswap.com/docs/getting-started/first-use)
* enables us to switch/add support of different implementations like c-lightning

[2018-10-29 10:29] kilrau commented on #40
You got it @ImmanuelSegol

[2018-10-29 10:36] kilrau commented on #476
I think we can leave the output (to catch unexpected things inf future), but not handle it for now

[2018-10-29 10:36] #476 closed

[2018-10-29 12:39] kilrau commented on #612
Stumpled upon this independently and was just about to open an issue too, it's not about sorted/non sorted it's about order execution not being correct:
[code]

[2018-10-29 14:34] moshababo commented on #612
@kilrau your sell orders disappearance is similar to @offerm's, but the order placing response shows a bug. I'll fix it now.

[2018-10-29 14:45] offerm opened #613 "Trading issues, part #2"
Here is what I did:

The market order removed all peer sell order and become a buy order (which is very bad).
See the log below

[code]
admins-MacBook-Pro-2:xud-simnet admin$ xucli buy 0.0005 LTC/BTC market
{
  "internalMatchesList": [],
  "swapResultsList": []
}
[code]

Log file
[code]

[2018-10-29 14:48] moshababo commented on #613
I think this will be fixed by #614.

[2018-10-29 16:38] moshababo commented on #137
@kilrau we looked at this project in the beginning. the streaming web proxy support is a stand-alone Go project. We wanted to have it as a native feature in our JS project instead.
Before implementing, we should definitely look on their Go implementation.

[2018-10-29 19:58] sangaman commented on #608
@ImmanuelSegol Yes but maybe let me just make some database/structural changes first, then you can do the actual implementation of persisting trades, does that sound good to you?

[2018-10-29 20:11] sangaman commented on #612
I think we should keep the behavior, but more logging and returning swap failures on the grpc level might be helpful. I'm pretty sold that returning the swap failures is a good idea - we already have an issue for it - for logging we should already log the swap failures, but maybe we can also log something everytime we do `swapFailures.push` if that doesn't seem excessive, personally I'm on the fen

[2018-10-29 20:25] sangaman commented on #137
Oh I think that's right and I just had amnesia. Maybe first lets see how easy it is to handle streaming calls with our current approach, for all I know it might work already, I just haven't tried it yet.

[2018-10-29 20:36] offerm commented on #612
There are several issues here:
lets start:
@moshe, why the `market sell` order got into the book with price 0?

[2018-10-29 20:42] sangaman commented on #612
That's due to a bug in the `placeOrder` logic that reiterates with `discardRemaining` set to `false` after a swap fails. That means it wasn't discarding the remainder of the order is it should. It's fixed in #614.

[2018-10-29 21:06] moshababo opened #615 "Swaps security issue: currency/amount info"
In `OrderBook.handleSwapRequest`, the maker verifies his order availability, and accepts the deal. Further validation is applied on LND requests (`validateRequests`), based on the deal info. But the deal info was never validated on the maker side. It means that the maker is blindly accepting the taker currency/amount calculation in regards to the deal.

[2018-10-29 21:31] moshababo commented on #612
@offerm the same bug created many problems. The fix was merged, let's test again.

[2018-10-30 08:09] offerm commented on #612
Using the latest master:

started with 10 orders (5 buy, 5 sell)
executed:

Side note:
The error message for CLI is back
[code]

Impact:
1. nothing to the user - just the promopt
2. the first 3 sell orders disappeared.
3. log shows 9 swap attempts. price 1.1 - 2 times, price 1.11 - 3 times, price 1.12 - 4 times,  price 1.13 - 1 times.
3. log ends with
[code]
so I guess this is why price 1.13 was d

[2018-10-30 08:20] offerm opened #616 "not connected to peer after disconnect"
My node was up connected to 3 peers and have peer orders.

wifi down for 3 minutes, wifi back up.

peers are missing (no reconnect).

[2018-10-30 08:34] kilrau commented on #616
Maybe add logs @offerm

[2018-10-30 08:45] offerm commented on #616
Not really needed.

This is not a bug - we don't [YET] have the code that suppose to do it
(IMHO).

Log only shows the disconnects and that is it.

On Tue, Oct 30, 2018 at 10:34 AM Kilian Rausch ⚡️ <notifications@github.com>
wrote:

[2018-10-30 09:15] kilrau commented on #616
Hmm shouldn't https://github.com/ExchangeUnion/xud/pull/392 (https://github.com/ExchangeUnion/xud/issues/311) catch it where we defined a connection retry logic for a momentarily unavailable peer?

[2018-10-30 11:10] #145 closed

[2018-10-30 13:20] moshababo commented on #612
[code]
I opened #617.

--

We have 3 kind of results when placing an order:
* internal matches
* swap results
* remaining order

The output that you suggest also includes:
* swap failures (#609)
* match event (currently not published/logged)
* order removal event (currently not logged, published on a different endpoint)
* swap beginning event (currently not published/logged)

Out stream method out

[2018-10-30 14:56] sangaman commented on #612
[code]

I like this general format for the output of the cli, I'll create an issue for that specifically.

[2018-10-30 15:03] sangaman commented on #612
I'm not sure what the issue is with the retry logic? Retrying what exactly? Do you mean how we handle trying a different order when one order fails?

[2018-10-30 15:21] #604 closed

[2018-10-30 15:28] kilrau commented on #612
Good, I like the format too - supportive! We might even save some events and just state starting swap directly after match, no need for a particular event here.

[2018-10-30 15:42] kilrau opened #620 "Improved buy/sell output for xucli"
As per https://github.com/ExchangeUnion/xud/issues/612#issuecomment-434207811 we aim for the following output format:

[code]

Successful case:
[code]

[2018-10-30 15:42] kilrau commented on #612
EDIT: couldn't find your issue, so just added it @sangaman : https://github.com/ExchangeUnion/xud/issues/620

[2018-10-30 16:12] kilrau commented on #609
Solves parts of https://github.com/ExchangeUnion/xud/issues/620

[2018-10-30 16:15] sangaman commented on #620
This is an extension of #558, and a prerequisite is #609. I'll work on these since it seems like it'd be fairly helpful for our testing and simnet setup.

[2018-10-30 16:20] kilrau commented on #558
https://github.com/ExchangeUnion/xud/issues/620 takes care of the [described](https://github.com/ExchangeUnion/xud/issues/558#issuecomment-428205056) place buy/sell order output.

[2018-10-30 17:11] kilrau opened #621 "Prepare database for #608 and #562"
This prepares the database to support https://github.com/ExchangeUnion/xud/issues/562 & https://github.com/ExchangeUnion/xud/issues/608 so we don't have breaking changes later

[2018-10-30 17:13] kilrau commented on #613
Can you test again with addownorder branch? @offerm

[2018-10-30 17:18] #472 closed

[2018-10-30 17:22] ImmanuelSegol commented on #608
Yeah sure.

[2018-10-30 17:39] kilrau commented on #620
1. CLI will use output from grpc stream
2. placeOrder (buy/sell) SYNC: keep current events, add swap failure event -> @sangaman make sure only meaningful (results) events are in the SYNC response

[2018-10-31 07:07] offerm opened #622 "Limit Order (IOC)"
EDIT by @kilrau : we want IOC only for now: https://github.com/ExchangeUnion/xud/issues/622#issuecomment-557157547

I suggest to support FOK & IOC with limit  orders.

Use case:

with getorders I see a peer order that I wish to take.
since I never use market orders :-) I issued a limit order targeting the peer order.

The matching with the peer order failed for some reason (peer order does not exi

[2018-10-31 07:09] offerm commented on #613
Looks OK with #614 .

There is still the problem of retries. I will open a different issue for it.

Closing this one

[2018-10-31 07:09] #613 closed

[2018-10-31 11:37] kilrau commented on #622
... which we could take and simulate market orders if we wanted/needed to. Other thoughts? @sangaman @moshababo

[2018-10-31 12:34] moshababo commented on #622
Sounds good to me.

[2018-10-31 12:37] sangaman commented on #622
This would be simple enough to do, it's basically a limit order (with a price) where we set `discardRemaining` to true. It can be an optional flag on the `placeOrder` request.

[2018-10-31 13:35] moshababo commented on #616
@kilrau #392 is for the initial connection retries, not after disconnection. We talked before about re-connecting after a disconnection, but decided not to do so.

This specific disconnection happens because peer is stalling ping/pong response. It doesn't make sense to define re-connection from the side which closed the connection. Instead we can check
network connectivity before closing peers for

[2018-10-31 13:44] #562 closed

[2018-10-31 14:14] sangaman commented on #616
Would the idea then be to attempt a reconnection after receiving a `DISCONNECTING` packet? And I'm guessing the packet should specify that the reason for the disconnection is because our node became unresponsive?

[2018-10-31 14:23] sangaman commented on #620
Per our discussion on the weekly call I'm thinking of leaving out the "attempting swap" event because it does not exist on our grpc call. Maybe that could be for a future enhancement although I don't think it's really necessary as it has little to no value for anything but the cli, and even for the cli it is just cosmetic.

[2018-10-31 14:40] offerm commented on #616
Kind of inventing the wheel here, no?

See how this started, I had a wifi issue, not a disconnect by a remote peer.

IMHO, if I connected to a peer and disconnected, there should be a simple
retry mechanism that try to connect in a similar way we are doing when LND
disconnected.

Now, if the connection was rejected (reject package) by a peer there is no
need to try an reconnect.

IMHO, peer reject

[2018-10-31 14:52] sangaman commented on #616
I'm not 100% sure but as I understand it the TCP socket will not necessarily close if you lose wifi connectivity temporarily, but your peers will see that you have become unresponsive and disconnect from you. So the actual socket connection would be closed by the peer in this case. Correct me if I'm wrong.

[2018-10-31 15:07] offerm commented on #616
TCP socket will close when TCP layers notice it.  If you have a short drop
that is recovered quickly, TCP me recover without the peers notice.
If TCP detected the problem and fail to revoced the peer will not be able
to recover.

So, when see the error on the application level, it is a done deal.

On Wed, Oct 31, 2018 at 4:54 PM Daniel McNally <notifications@github.com>
wrote:

[2018-10-31 15:23] sangaman commented on #616
Thinking about this some more, your node would likewise see that pings are failing and would disconnect from the peer even if it is technically you that are having connectivity issues. So I'm thinking we wouldn't receive a `DISCONNECTING` packet in either case.

My question is, how are we going to tell the difference between ourselves going temporarily offline and a peer going offline? We can also

[2018-10-31 15:47] offerm commented on #616
Which disconnect packet do you expect to received?
When you disconnect it is final.
No need to look for the reason.

Just attempt to reconnect with the peer (if you created the connection or
if you know how to connect it (not using the temporaty port).

Just as LND is doing :-)

On Wed, Oct 31, 2018 at 5:29 PM Daniel McNally <notifications@github.com>
wrote:

[2018-10-31 15:59] sangaman commented on #616
We don't have a disconnection packet currently, it's just an issue/idea. The reason is if the peer intentionally disconnected with you, it's not really related to this topic.

I'd be fine with automatically attempting to reconnect if we outgoing connection information, seems like the simplest solution.

[2018-10-31 16:56] ImmanuelSegol commented on #477
@sangaman @kilrau What data from the swap deal should we return?

[2018-10-31 18:50] sangaman commented on #477
My inclination is to go with everything in the database.

[2018-10-31 18:51] sangaman commented on #477
I'd probably wait until #623 is merged, at which point I think we'll want to do a join on the new `orders` table. I'll provide more details soon.

[2018-11-01 06:46] sangaman commented on #615
I'll have a PR ready for this tomorrow.

[2018-11-01 08:18] moshababo commented on #616
@offerm
according to you’re suggestion, if i’m getting a socket close event, i’ll just try to reconnect. it means that the peer cannot chose to disconnect from me, because every time he tries to, i’m reconnecting.

@sangaman
If we can't detect our connectivity, we can't detect if packets are timing out due to stalling, and we can only assume it's due to loss of connectivity.

correct, and in this

[2018-11-01 10:58] offerm commented on #616
@moshababo
For socket close (TCP/IP), and disconnect due to timeouts and missing pings,  we for sure should try to reconnect.
if you want a peer to "reject a connection" that should be done by a dedicated packet on the XUD level.
If a peer is just stopping, we should try to reconnect until it is back up.

Only time when we are not trying to reconnect is after we got this `special purpose packet` t

[2018-11-01 22:40] sangaman commented on #615
FWIW I don't think this is a bug per se, more like functionality that is lacking. I brought this concern up in #359 , but we went with this oversimplified approach deliberately to get the basic functionality working sooner. Still, I'm thinking I should have created an issue for this right away so that we wouldn't lose track of it, it's certainly critical functionality.

[2018-11-02 15:31] kilrau commented on #616
* If a peer is just stopping, we should try to reconnect until it is back up agree with the same intervals from https://github.com/ExchangeUnion/xud/issues/311.
* Also agree on the `special purpose packet`.

Anything that speaks against this? @moshababo @sangaman

[2018-11-02 17:21] ImmanuelSegol commented on #566
@sangaman Should I add new `ReputationEvent` for:

- Unparsable peer message

- Invalid peer message

- Unknown peer message type

[2018-11-02 19:34] sangaman commented on #566
Yes, we have a lot of TODOs throughout the codebase where we should be penalizing peers, if you want to create events for those and make a reasonable guess for a score that would be great.

[2018-11-03 09:56] moshababo commented on #616
@offerm Is there something in what you’r suggesting which differs from what’s specified in #152, besides the latter being more general-purpose?

So the idea is:
* if peer is stalling responses, `xud` will send the #152 packet (for stalling), close the socket, and immediately attempt to reconnect (with all the retry logic from #311). It means that we're trying to reconnect after we actively closed

[2018-11-03 11:02] moshababo commented on #612
Can we close this? since we have #609 / #620

[2018-11-03 11:34] ImmanuelSegol commented on #159
@moshababo @sangaman Could you elaborate on this?

[2018-11-03 12:17] moshababo commented on #159
I guess our only viable solution is to switch to protobuf. I thought I already opened an issue in regards to that, but I guess I only raised that in the chat. It might be an overkill for us, but it's definitely more preferment, and will save us some of the data integrity checks (#157).

[2018-11-03 12:17] moshababo commented on #159
I guess our only viable option is to switch to protobuf. I thought I already opened an issue in regards to that, but I guess I only raised that in the chat. It might be an overkill for us, but it's definitely more preferment, and will save us some of the data integrity checks (#157).

[2018-11-05 06:13] offerm opened #636 "XUD without LND channels"
Need to handle the case when XUD is running without LND channels for BTC or LTC.

Today, The system allows orders to be entered and matching can be done (but fails).

The more generic case is `no capacity to allow the trade` - when the user enter an order, check if this order can technically be executed due to input/output capacity and balances. We should keep in mind that the situation is dynamic

[2018-11-05 06:57] offerm opened #637 "Amount held for swap is not released on swap error"
as part of `handleSwapRequest` we hold an amount.
This amount is not released if the swap failed.

[2018-11-05 13:56] kilrau commented on #240
Channels with balance below trade amount result in "<coin> <incoming/outgoing> channel balance not sufficient". Non-existing channels with "<coin> <incoming/outgoing> channel not existent". "Balance check" is actually an error message and occurs upon match with peer/swap attempt, channel balance is NOT checked immediately after entering an order as channel balances are very dynamic.

Error event v

[2018-11-05 13:59] kilrau commented on #636
Doesn't https://github.com/ExchangeUnion/xud/issues/240 capture this?

I believe entering and matching should be allowed and just failing needs to be made comprehensive. As you said channels are very dynamic and can be even topped up in future, thus we would want allow orders to enter the order book and be matched. A warning upon order entering sounds good though. All added in #240 . Check if this

[2018-11-05 15:41] moshababo commented on #612
@offerm you mean the swaps retries? if so, what's the question about it?

[2018-11-05 15:43] kilrau commented on #636
Enhanced #240 to capture all, closing this

[2018-11-05 15:43] #636 closed

[2018-11-05 16:18] offerm commented on #616
I don't see a need for stalling packet. Just close the connection and retry.

I would try to reconnect also after the last point. The time between reconnect attempt should reset only after successful handshake.

I wouldn't implement the #152 packet until the situation is stable.

[2018-11-05 16:50] kilrau opened #638 "Trading Test Cases (WIP)"
Execute `xucli buy 0.004 LTC/BTC 1.101`

on these 10 default sell orders in the `xud-simnet`:

[code]
[code]
BEFORE:
[code]
AFTER (as is):
[code]
Swap result indicates 0.001 succeeded, 0.003 remaining which is what happened in reality but
**Bug01**: NOT the case when looking into the order book after the swap. Both matching orders for in total 0.002 BTC were removed (even though one swap definitel

[2018-11-05 16:57] kilrau commented on #612
I don't want to make this issue more messy, here as a separate issue which this issue here should close: https://github.com/ExchangeUnion/xud/issues/638

[2018-11-05 18:03] kilrau commented on #616
We are in @offerm scenario from above. His laptop connected to one of our cloud servers. Wifi issues, connection breaks on tcp level. When he comes back online, I am having a hard time to imagine how he even gets the #152 packet if the connection was closed on tcp level. The stalling packet makes sense for some advanced use cases like "I'm going to ban you know because of reason XYZ" as described

[2018-11-05 18:53] sangaman commented on #391
I think we can close this, our current approach is more or less settled on only initiating swaps when we match while placing a new order in `xud` (and thus clearly the taker). I'm satisfied with this approach and don't see a need to change it anytime soon, so I'll close this unless there are any objections @moshababo @kilrau.

[2018-11-05 19:42] kilrau commented on #637
Related https://github.com/ExchangeUnion/xud/pull/626

[2018-11-05 19:51] kilrau commented on #391
Yep just gave it some thought again, don't see any reason to change the current behavior- good to close

[2018-11-05 20:21] offerm opened #639 "duplicate swap request (unneeded retries)"
I setup my xud to connect only to test1 server (where swap isn't properly configured).

This is what I did:

[code]

Checking the log you can see that some orders executed multiple times.

[xud.log](https://github.com/ExchangeUnion/xud/files/2550457/xud.log)

[2018-11-05 20:22] offerm commented on #612
Opened #639 for the retries.

Closing this one

[2018-11-05 20:22] #612 closed

[2018-11-06 12:31] moshababo commented on #638
Bug01: NOT the case when looking into the order book after the swap. Both matching orders for in total 0.002 BTC were removed (even though one swap definitely failed), and only 0.001 remaining order was added whereas it should 0.003.

* Both matching sell orders to be removed is fine is one of them failed in a swap, while the other succeed. is that the case?
* You're saying that your `remainingOrd

[2018-11-06 13:54] moshababo commented on #391
@kilrau why reopened?

[2018-11-06 14:46] moshababo commented on #616
@offerm

can you clarify this?

--

My assumption is that we don't know our network connectivity status. so if the socket got closed, I don't know whether it's because I was offline and stalling. If it's because I got banned, and i'll try to reconnect, it's a problem because we'll get a feedback loop.

So without #152 packet, I see it reasonable to implement only the first bullet from my suggestio

[2018-11-06 15:11] #391 closed

[2018-11-06 15:21] kilrau commented on #638
Yes I guess one swap succeeded, the other failed. And yes, removing both sell orders in this case is correct, sorry if that reads differently. What is NOT correct: 0.003 remaining order should be added to the order book, whereas only 0.001 get added.

Damn, yes of course. Ignore.

I am almost 100% sure I only executed 0.001 quantity since only one server in our test cloud with 0.001 quantity was a

[2018-11-06 15:36] offerm commented on #638
There were 2 swaps at print 1.1 and one swap at 1.101. This is why the calculation does not work out.

[2018-11-06 15:38] offerm commented on #638
@kilrau #637 will not solve it completely.

Holding is missing when initiating the swap deal.
matching engine does not check the  amount held when matching.
Amounts should be presented as part of order book

[2018-11-06 15:54] kilrau opened #640 "Hold amount fixes"
- Swap amount holding is missing when initiating the swap deal (taker)
- Matching engine does not check the amount held when matching
- Held amounts should be presented as part of order book e.g. in orange with added `(⇄)` or `(swapping)` after quantity

[2018-11-06 15:58] kilrau commented on #638
Ok: #637 + #640

[2018-11-06 16:09] sangaman commented on #640
There's no hold as the taker because the order has not entered the order book nor shared with peers yet. I don't think this is a bug, it's by design.

I'm not sure what you mean by your second point, is this still referring to the the taker `placeOrder` logic? We wait until a swap fails or succeeds already and only attempt another match/swap if one fails.

For the third point I think this would no

[2018-11-06 16:10] sangaman commented on #638
We may have to discuss this on the call today but there's no concept of putting orders on hold during the taker matching process.

[2018-11-06 17:36] kilrau commented on #340
Moved this to a much later milestone, not important in current stage

[2018-11-06 17:48] kilrau commented on #241
Agree on this. Closed.

[2018-11-06 17:48] #241 closed

[2018-11-06 17:50] sangaman opened #643 "Listorders CLI output - peerpubkey"
After #600, our `getorders` CLI output looks like this:

![image](https://user-images.githubusercontent.com/3440835/48082856-9e906100-e1c1-11e8-82f9-45a06ad67666.png)

I'm thinking it would be nice to show which peer the owner belongs to. We could probably repurpose the `Own Order` column for this. Maybe change the label to something like "Owner" or "Peer" and print the node's peer pub key for pee

[2018-11-06 17:51] kilrau commented on #240
How about this one? @erkarl

[2018-11-06 18:20] erkarl commented on #240
@kilrau I'll take a look!

[2018-11-06 18:28] sangaman opened #644 "Add hold to getorders response"
Per recent discussions, we want to have the `hold` property for orders retrieved from the `getorders` rpc call. This would need to be added to the `Order` protobuf message definition and then assigned a value in GrpcService.ts.

[2018-11-07 06:17] offerm commented on #643
@sangaman Initially, I thought that this is a great idea.  Problems that I see:
- do we have xud node alias support?
- will these aliases be used by the peers? can you trust the alias? will it give valuable information
- do you have room to show it?
- If you show host name if we have it
- not sure if IP address provides value.

After thinking about it more, and having a close look at the table, I

[2018-11-07 07:53] erkarl commented on #643
I'm really hesitant in regards to showing aliases. If they are like lnd's aliases they can't be trusted and just cause confusion.

a-b. Yes, definitely. That's something I left out of the original PR intentionally.
c-e. I imagine `getorders` with the current implementation will not be usuable in any production like environment because of too many orders. Maybe the default of `getorders` should be

[2018-11-07 08:57] kilrau commented on #223
Something for you? @ImmanuelSegol

[2018-11-07 09:00] kilrau commented on #158
Not priority for next milestone, moved to next

[2018-11-07 09:03] kilrau commented on #157
Do we still need this when we do (packet serialization)[https://github.com/ExchangeUnion/xud/issues/159#issuecomment-435583439]? @moshababo @sangaman

[2018-11-07 09:03] kilrau commented on #157
Moved to next milestone, not too critical

[2018-11-07 09:06] kilrau commented on #154
What do you think, should we do this now (after https://github.com/ExchangeUnion/xud/issues/152 & https://github.com/ExchangeUnion/xud/issues/616)? @moshababo @sangaman @offerm

[2018-11-07 09:31] offerm commented on #154
AFAIK this is still not urgent.

In any case, I would advertise a `P2P protocol level` (number) and not xud version. Xud may change many times without a breaking change in the P2P protocol .
I would consider a major version and a minor version. Major version must match. Minor version can be used to check if a specific feature is available by a peer.

This would make maintaining much easier.

my 2

[2018-11-07 09:36] kilrau commented on #622
Let me know what you think @offerm @moshababo @sangaman

**Summary**

`placeOrder` with flag `fok` (Limit Fill-or-Kill, make sure `fok` flag doesn't work with Market):
search order book for match of total quantity (no partial matching allowed)
    if match found & swap successful
        remove matched order as usual
    else cancel order and return discarded remaining order

`placeOrder` with fla

[2018-11-07 09:42] moshababo commented on #157
@kilrau we won't need to do most of this if we'll change to protobuf serialization (#159). but it's not a trivial change.

[2018-11-07 10:08] kilrau commented on #638
No orders get put on hold, amounts in the payment channels get put on hold (and released if failed). We will never put orders on-hold since this is incompatible with how order book exchanges currently work. Discussion (here)[https://github.com/ExchangeUnion/xud/issues/587].

[2018-11-07 11:01] kilrau commented on #152
Other reasons are stalling (peer became unresponsive, socket closed etc) or shutdown (`xucli shutdown`).

[2018-11-07 11:15] kilrau commented on #616
I agree on the necessity for #152 to implement this properly. Since handling TCP layer connectivity issues isn't focus currently, I suggest to do dependency #152 first and then pick up this one in the next milestone. In the meanwhile we try to find a consensus on what we expect from the implementation of this issue.

Summary as of @moshababo with some fixes:
* if peer is stalling responses, `xud`

[2018-11-07 11:19] kilrau commented on #608
Good to go for this one? @ImmanuelSegol

[2018-11-07 11:21] kilrau commented on #341
Moved to next milestone, not focus for now

[2018-11-07 11:28] kilrau commented on #561
@offerm anything to add from your side? Preferably we do this now since breaking changes and `alpha.3` should be the first version we distribute to some exchanges

[2018-11-07 11:33] kilrau commented on #558
How about a 'command preview' based on the alphabetically first (on first use of CLI session) or last used command?
![image](https://user-images.githubusercontent.com/19181985/48129236-2a20f500-e289-11e8-8467-0277971355f1.png)

[2018-11-07 11:44] kilrau commented on #534
All clear with this one? @ImmanuelSegol

[2018-11-07 11:49] kilrau commented on #530
Can be closed? @sangaman @moshababo

[2018-11-07 11:58] moshababo commented on #616
So the basic thing is that if the socket got closed but we didn't receive #152 - we reconnect (assume network issue). Otherwise if we did received the #152, we reconnect on specific cases.

Sounds fine to me.

[2018-11-07 12:03] moshababo commented on #616
For banning a node solely for outgoing connections, we can simply delete the node from our repository. But if we want to keep it there for historical data, we need to add a new banning mode. We can look into it before implementing though.

[2018-11-07 12:06] kilrau commented on #458
https://github.com/ExchangeUnion/xud/issues/616 describes some banning logic per peer, but not per IP address.

[2018-11-07 12:06] offerm commented on #561
I'm not sure about the need. I think in most cases the RPC will be used from a local machine and the access to the macaroons file will be automatic by looking for the XUD working directory.

Having said that, I don't see it as an issue to have it now.

Suggest to support `nomacaroons` option and make it the default until the swap-resolver /simnet is ready for macaroon usage.

[2018-11-07 12:09] kilrau commented on #223
`localId` is already optional, but momentarily got it's own UUID is generated. This issue is about setting it equal to the `globalId` UUID. Something for you? @erkarl

[2018-11-07 12:11] #119 closed

[2018-11-07 12:14] offerm commented on #638
OK. Need more time on this one to better understand the root cause.

It might be the fact the the matching engine is not using a `hold` when matching.

On the other hand, as I understand, the matching engine should never match a peer order with and existing own order, is this correct @moshababo ?

Regardless, I will dive into it and find the reason

[2018-11-07 12:18] kilrau commented on #154
There can be breaking changes in a lot of places. P2P protocol, swap protocol, order data formats etc.

Instead of thinking what could be breaking and define version numbers for all of them, I'd still go with the `xud` version and we just set it as not compatible if one of the above has breaking changes. Other best practices from your experience? @offerm @moshababo @sangaman

Since breaking change

[2018-11-07 13:37] sangaman commented on #486
Yeah after thinking of this some I am leaning towards option B, there is little downside there and it seems like it could be a nice feature.

[2018-11-07 13:42] sangaman commented on #643
Ok, maybe leave the alias aside for now, it's true that it's not implemented (but I'm thinking it would be nice to have locally specified aliases, made a comment on that issue).

For now, what about just showing the peer pub key or `Own` or `Local` for own orders? Later it can possibly be enhanced to show aliases.

I'll create a separate issue for the other points raised since I think they are tan

[2018-11-07 13:51] sangaman opened #647 "Sort getorders cli output"
We should sort the orders in the `getorders` cli output according to price, best bids/asks at the top. When two orders have the same price, the order with the older creation time should be listed first.

[2018-11-07 13:56] sangaman opened #648 "Market depth CLI command"
This is an offshoot of #643. @offerm said:

I agree with d that if we do want a market depth command from the cli, it should be separate from `getorders`. I figure the new `getmarketdepth` command could take a parameter to specify precision - we could group prices of 0.871 and 0.869 for example.

I would consider this an enhancement and not high priority, but perhaps a tool for individual traders

[2018-11-07 14:00] sangaman commented on #558
Off the top of my head I don't know how that would be done, but if it's doable then it would be nice for sure.

[2018-11-07 14:48] sangaman commented on #638
This is correct. I rechecked the code and I'm not seeing how this could happen.

[2018-11-07 15:22] kilrau opened #649 "Order add, remove, cancel -> Log"
add a log line every time an order is added or removed or cancelled

[2018-11-07 15:35] offerm commented on #649
or matched. or reduced.

In general add debug entry everytime there is an order change.

[2018-11-07 15:37] offerm commented on #638
So, here is what going on in #638:

The maker (nodeA) created 5 buy orders and 5 sell orders

The taker (nodeB)  is sending `xucli sell 0.004 LTC/BTC 0.895` aiming at the maker's `buy 0.001 LTC/BTC  0.9` (part of the 10 orders).

There is a match for 0.001 (swap) and a reminder order of 0.003 is created on NodeB and added to order book.

The reminder order is sent to node A and added to the order

[2018-11-07 16:43] kilrau commented on #561
Hmm not sure if `nomacaroons` as default makes sense since once we switch to default it will break things. @sangaman ?

[2018-11-08 00:50] sangaman commented on #154
I agree with Kilian, that we don't need a separate protocol version because we aren't looking for exact matches on version, just minimum requirements. So if version 3 is supported, we will accept a connection with version 4 given that version 4 might not have breaking p2p changes. However if a version does have breaking p2p changes, it should have a higher minimum version requirement for itself.

[2018-11-08 03:15] sangaman commented on #643
Another thought is that if we do display the peer pub key, it need not be the whole thing. First 8-10 characters should be plenty.

[2018-11-08 06:59] sangaman commented on #649
We actually have logging for when individual orders are added and removed/reduced/canceled, but not much for when orders are matched. I'm working on that.

[2018-11-08 11:38] kilrau commented on #643
Agree

[2018-11-08 12:36] kilrau commented on #638
Understood. Thanks for the comprehensive summary! As I see some small changes on https://github.com/ExchangeUnion/xud/pull/626 then merge, release and we should be able to test this again @offerm @sangaman

[2018-11-08 14:12] offerm commented on #561
@kilrau nomacaroons is our current setup, right?

switching to macarons is the breaking change.

My suggestion is to add macaron support while keeping current defalt (nomacaroon), check it, switch to macaroons on simnet, and when everything is working, make it the default.

[2018-11-08 14:22] kilrau commented on #561
Ok then. Let's do it like that.

[2018-11-08 15:37] erkarl commented on #223
@kilrau possibly - would be nice to clean this up sooner rather than later.

[2018-11-08 15:41] erkarl commented on #558
I'd push this under future improvements/someday/nice to have.

[2018-11-08 15:52] kilrau commented on #223
go for it!

[2018-11-08 18:32] sangaman commented on #223
I was actually just thinking about this last night and was going to change it today, I definitely think this would be nice to have and it should be easy to do. Please go ahead if you get a chance.

[2018-11-08 22:33] #549 closed

[2018-11-08 22:50] #615 closed

[2018-11-09 02:53] #621 closed

[2018-11-09 06:08] offerm opened #652 "DB migration script needed"
listen ports didn't open.
got this error in log

[code]

Impact: all sim-net nodes are down.

[2018-11-09 08:29] erkarl commented on #652
Deleting the database `xud.db` worked for me. There was a breaking database change without migration.

[2018-11-09 08:33] kilrau commented on #649
and when order invalidation message was sent, received, processed (https://github.com/ExchangeUnion/xud/pull/626#discussion_r232150920)

[2018-11-09 08:35] offerm commented on #652
Even that is a lot of work. I have at least 5 machines where this should be done.
Also, I'm not sure what the impact of this is on the cloud servers. I don't want to configure the sim-net again.

[2018-11-09 08:38] erkarl commented on #652
I think we should introduce migrations in the near future to prevent situations like these.

[2018-11-09 10:08] offerm commented on #652
So, I solved it manually by removeing the `xud.db` on all instances and restart.

Will change the title too.

[2018-11-09 10:28] offerm commented on #638
So, after #626 installed, the command is working it should.  It is still very confusing to the user:
- the user see a swap of 0.001 at 1.1 and remaining order of 0.003 at 1.101
- checking getorders will not show the reminder order (since it will trade agains the bot new orders)
- after trading the 4 0.001 orders, the bot will issue another sell order so from the user point of view nothing changed.

[2018-11-09 13:46] offerm opened #653 "Held amount not released if taker doesn't follow the swap protocol"
One a swap agreed between the taker and the maker, the maker is holding the agreed amount for the swap.

In case of a swap error, the amount is being release #637 and available for trading.

However, if the taker is not starting the swap and is not sending a swap error  the amount will be kept on hold by the maker until a restart of the maker.

[2018-11-09 13:47] offerm commented on #637
This one looks good now and closing.

Followup issue at #653

[2018-11-09 13:47] #637 closed

[2018-11-09 13:50] offerm commented on #640
#1 - agreed.
#2 - no issue for now.
#3 - lets wait and see if this is needed.

Closing

[2018-11-09 13:51] sangaman commented on #649
We already have that for the most part re: order invalidation. We log [when the packet is received and processed](https://github.com/ExchangeUnion/xud/blob/3868681741bada5ac39166152f14530ee3873f3a/lib/p2p/Pool.ts#L490) and when an [order is removed or reduced for any reason](https://github.com/ExchangeUnion/xud/blob/3868681741bada5ac39166152f14530ee3873f3a/lib/orderbook/TradingPair.ts#L206).

We a

[2018-11-09 13:55] offerm opened #654 "Parallel taking of orders & retry after failures"
Consider the case when a taker order (market or limit)  is matched with multiple orders. As of today, we execute the first match, wait for result, execute the next match etc.

Why all these matches not executed in parallel?

This is not just performance improvement issue. When the first swap fails the orderbook may be completely different  compared to what it was when we planned the swaps. It migh

[2018-11-09 13:57] offerm commented on #649
I think we need a debug pring every time we are making a change.

So, sending invalidation is not a change. reducing the quantity as a result of invalidation is a change.

[2018-11-09 14:02] sangaman commented on #649
That makes sense, but we do log the result of the invalidation currently.

I'm also thinking we can log a single debug line when we broadcast an order invalidation packet, which only takes a single line and still clearly shows that the packet was sent.

[2018-11-09 14:08] sangaman commented on #649
I am thinking it's probably worth changing the log message when we receive an order invalidation packet though so it's more clear, I'll open a PR that does that along with the other changes in this issue soon.

[2018-11-09 14:35] offerm commented on #639
`buy 0.004 LTC/BTC market` executed like this
first match:
0.001@1.10
0.0015@1.11
0.0015@1.12
failed!
second match:
0.0005@1.12
0.0025@1.13
0.001@1.14
failed!
3rd match:
0.002 @ 1.14
failed!
no more matches

when 0.001@1.10 (first order) failed, we removed that order from the order book. I assume this was on purpose since that peer order can't be traded and is just a noise.
Buy if this is the case

[2018-11-09 15:04] offerm opened #656 "swapResultsList improvements"
price is missing from the swapResultsList.

Consider also to add the preimage or remove the rhash.

Should we have role here? isn't it always zero?

[code]

[2018-11-09 15:31] sangaman commented on #654
Good idea. I think the current method is simple but definitely not ideal for the reasons you mentioned.

An easy but still not ideal solution would be to begin and await all the swaps from the first iteration in parallel and then start a second round of swaps after all of them finish. That would be a few lines of code and maybe a goo intermediate step.

Best would be to start them all in parallel

[2018-11-10 05:00] sangaman commented on #653
I figure the best solution would be to set a timeout on swaps that are accepted but never executed, right? At that point we'd fail the swap and reuse the existing logic to release the hold.

[2018-11-10 05:11] sangaman commented on #639
It looks like the root cause here is that if we match part of a peer order, try to swap with it, and then fail, we aren't removing the remainder of the peer order (only the part we tried to swap). Then when we repeat the matching logic for the failed amount, we match again with the same error. Does that sound right to you?

I think the solution is to address your first bullet point and remove the

[2018-11-10 05:16] sangaman commented on #652
Sorry I just saw this, yes it's due to breaking changes in the database structure. I'm hoping there shouldn't be any more for a while, and yes it would be nice to automatically upgrade/migrate in the future, particularly when there are more users.

[2018-11-10 05:37] sangaman commented on #638
We have an issue to sort the `getorders` table by price. As for displaying the time of the order, my feeling is it's not important information to a user who's just trying to see what orders are out there, but you can see `createdAt` for each order in the json output. Does that work for you?

It's not unusual for the same order to be "removed" multiple times, since each time could just be removing

[2018-11-10 05:39] sangaman commented on #561
Yeah I was also planning on starting with `nomacaroons` as defaulting to true.

[2018-11-10 10:33] kilrau commented on #652
I was aware because we discussed about it, but the db PRs were not listed in the "BREAKING CHANGES" section in the `alpha.3` changelog. Something to pay attention to. And maybe we can adjust the commit template and force to add a "How to deal with it" section for breaking changes.  Agree that scripts etc. are not worth the effort since most likely not reusable.

Anyhow, no drama - all internal sti

[2018-11-10 11:08] kilrau commented on #653
Agree, timeouts are the thing to do (Sidenote: Also will do away with the punishing idea in favor of timeouts, more in an upcoming tech paper PR).

More thoughts on timeouts:
* Let's assume we have trade timeout from accepting a dealRequest to preimage release of 10s
* Collaboratively cancelling a trade (after reaching timeout) can be done any time during the trade. Even when HTLC route is complet

[2018-11-10 11:35] kilrau commented on #652
Can be closed? @offerm

[2018-11-10 11:39] kilrau commented on #654
Agreed, and great that you bring this up!

Who's interested in taking this? @erkarl @offerm @michael1101

[2018-11-10 12:14] kilrau commented on #656
Yes, wanted to open an issue for this too!

Adding preimage: yes, but why remove r_hash

Yep, I think we can remove this (always taker).

[2018-11-10 12:43] kilrau commented on #639
Agree with you both, let's remove the entire order

Agree with @sangaman , don't understand why we would do that. It could happen  that another 3rd peer is outrunning us in 99% of the time, but one time  we'll succeed to fill an  order. It won't do us much harm to the extend we spend time trying to fill orders of this peer and not others which are more likely to succeed. So definitely not just rem

[2018-11-10 13:36] moshababo commented on #148
Sorry, I missed this one.

I was referring here to nodes which didn't send any packets. It's mostly for detecting stagnant nodes which have no order book activity.

[2018-11-10 14:35] offerm commented on #649
@sangaman, be aware that the reason I haven't see the invalidation log message is that I looked at the taker's log file. The taker is excluded from the invalidation message.

[2018-11-11 05:46] offerm commented on #639
@kilrau the discussion is not about rejected dealRequest. It is about a swap failure after the deal was agreed with the peer and the amount was held by the peer. providing that the taker is acting reasonably fast once a deal agreed,  the only "error" has to do with actual swap configuration and routing.

In such a case, if we get an error from the `executeswap` and we decide to remove the part of

[2018-11-11 05:47] offerm commented on #656
@kilrau I wrote

note the `or`. If we add the preimage, we should not remove the rhash.

[2018-11-11 06:02] offerm commented on #654
When implementing the swap module, we worked hard to reduce one packet from the communication, remember?

Here, a taker order may be matched with multiple orders from the same maker (can even be for the same price). Even if we do all these trades in parallel it involves 4 XUD packets and 16 LND packets   for each swap.
If we combine all the orders from the same peer into one dealRequest and agree

[2018-11-11 06:06] offerm commented on #652
This one can be closed.

Suggest to have an issue for migration script.

@sangaman each change of the database should bring with it the code needed for migration,

[2018-11-11 06:44] offerm commented on #638
@sangaman `createdAt` is not a fine solution. I explained the motivation above. I want to make sure that this is not the same trade as I saw before (and no, I don't want to remember the ID....).
The problem with `createdAt`is its format. If it was a string datetime format it could be a solution. I also think it should get into the table as it gives information on how static are the orders.

`order

[2018-11-11 08:07] kilrau commented on #656
Summary @ImmanuelSegol (also let us know your opinion):
* add price
* add preimage
* remove role

[2018-11-11 08:10] kilrau commented on #654
Great addon and yup this is how it should be done!

[2018-11-11 08:12] #652 closed

[2018-11-11 09:28] kilrau opened #660 "[Concept] Enforce short Timeouts for HTLCs (Free Options Problem)"
This issue is to track discussion around the concept on how to thoroughly enforce short timeouts (seconds, not minutes or hours) and to hold & release amounts in the HTLCs with these. In payment channels.

Let's assume we have trade timeout from accepting a dealRequest to preimage release of 10s. We need to solve:
* https://github.com/ExchangeUnion/xud/issues/653: Collaboratively or  unilaterally

[2018-11-11 10:37] kilrau opened #661 "Define & implement behavior for different kind of swap errors"
This issue is about a swap failure after the deal was agreed with the peer and the amount was held by the peer. Providing that the taker is acting reasonably fast once a deal agreed, the only "error" has to do with actual swap configuration and routing.

In such a case, if we get an error from the executeswap and we decide to remove the part of the peer order we tried to swap, we should ask why we

[2018-11-11 10:41] kilrau commented on #639
Good point @offerm , we & I should think about this, since it needs to be defined more clearly, I separated it out in a new issue: https://github.com/ExchangeUnion/xud/issues/661

Let's keep this one here plain and simple about "removing the entire order" in case of a generic swap failure.

[2018-11-11 10:52] kilrau commented on #638
We all agree with you on the importance of the CLI (!) @offerm and let's continue open issues for improving it!

Maybe let's start with "change the bot to be more dynamic with new orders" in a way, that once an order is completely filled, the bot issues a new order e.g. 1% above/below the previous order. This will clear things a lot to not mistake it with the "same order". Can you do that?

[2018-11-11 12:49] ImmanuelSegol commented on #654
@kilrau if no one takes this I will be happy to :)

[2018-11-11 20:58] sangaman commented on #649
@offerm Yes that's true, that's intentional though as we don't send an order invalidation to the peer that matched our order (because they will have already removed it from the order book during matching). The issue is that we don't have logging when orders are removed due to matching, but I addressed that in #662.

[2018-11-11 22:59] sangaman commented on #660
If a swap fails because the payment fails, the HTLCs should be failed with nothing locked up. HTLCs being delayed should typically mean that the recipient or a node along the route is misbehaving.

I don't see the use case to collaboratively cancel a trade - once it's accepted then we attempt the swap immediately. If the swap is delayed, it's probably because the other party is not being responsiv

[2018-11-11 23:04] sangaman commented on #638
It would be quite easy to add a `createdAtDate` field or something to the JSON output which is the `toLocaleTimeString` of `createdAt`, if that works for you I can open an issue. FWIW the cli for `lnd` is printing all time stamps as epochs as far as I know.

[2018-11-11 23:10] sangaman commented on #656
Adding the price makes sense, but what's the value in adding the preimage? It wouldn't hurt but I don't know how it would be useful.

The role indeed can always be determined based on whether it's a swap result from `placeOrder` (always taker) or from `subscribeSwaps` (always maker). So we can remove it but it'd be nice to add some comments explaining that clearly in the proto definition.

[2018-11-11 23:16] sangaman commented on #661
I think it makes sense to disconnect from a peer if we get an error indicating that something is improperly setup, unknown payment hash or no route for example. If we don't, we will probably wind up banning them very quickly if we keep matching with them and failing swaps. This way, we only score one negative reputation event and then give the peer a chance to correct the issue and reconnect to us

[2018-11-11 23:46] #566 closed

[2018-11-12 00:18] sangaman commented on #240
I'm sorry I hadn't looked at this issue in a while, do we really want to *require* a direct channel with sufficient balance for swaps? I figure that as long as we can find a route, we should be good to proceed.

[2018-11-12 06:30] offerm commented on #656
r_hash and preimage should be together. Both included or both excluded.

SubscribeSwap is working only on the maker side?

Here again we confuse the CLI level with with the RPC calls/objects. The
point here is that there is no value to should the `role` as part of
placeorder CLI command since it will always be 'taker`.
IMHO This simple change should be done on the CLI level and not on the
backend

[2018-11-12 06:36] offerm commented on #638
No need to change the RPC layer for it.
showing the data as date string has to do with presentation layer.
It should be done on the CLI level.

On Mon, Nov 12, 2018 at 1:04 AM Daniel McNally <notifications@github.com>
wrote:

[2018-11-12 06:42] offerm commented on #654
Daniel,

Consider that the taker order is matched with 3 different maker orders.
How many communications we will do between the peers:
for each orders:
- 2 packets on XUD (deal request, response)
- 4 packets on LNDBTC (setup the HTLC)
- 4 packets on LNDLTC (setup the HTLC)
- 4 packets on LNDLTC (resolve the HTLC)
- 4 packets on LNDBTC (resolve the HTLC
- 1 packet on XUD (error/complete)

19 packet

[2018-11-12 09:39] erkarl commented on #240
@sangaman agreed. That's what the current implementation is doing, right?

@kilrau do we also really require the channel & channelbalance checks upon placing the order? Upon implementing #650 I got the feeling that it would be redundant. We're verifying that the route with sufficient balance exists before starting the swap anyway.

Having channel & channelbalance checks upon placing the order woul

[2018-11-12 11:17] kilrau commented on #654
You got it @ImmanuelSegol 🥇

Scope:
* making swap requests in parallel if an order matches more than 1 peerOrder
* if among the matched peerOrders there are more than 1 of the same peer (`nodePubKey`), combine these `dealRequest`s into one.

Keep us posted about any issues on the way, especially with the last bullet point as we should try to avoid breaking changes in the `dealRequest` packet.

[2018-11-12 11:55] kilrau commented on #148
Interesting idea, I think we should think one step further when `xud` is operated by individuals too .We have to clearly define what counts as "activity", there might be nodes online only watching (receiving orders) and  filling my maker orders every now and then. Still they are valuable "customers" to me as maker. Here an appropriate timeout would be rather weeks then hours. Not sure about this o

[2018-11-12 12:12] sangaman commented on #656
Yes this is how we agreed to approach it (otherwise it would duplicate info that we get in the `placeOrder` response) and is stated in the comments for the rpc method.

I'm not confusing anything, I just think the same reasons why we might not want role in the cli output also apply to why we might not want it in the api response. Either way works tho, it's a minor/cosmetic change and I was just sh

[2018-11-12 12:33] sangaman commented on #638
Yes I didn't say to change the RPC layer, the cli can just add that field to the JSON output that it prints to console.

[2018-11-12 12:35] sangaman commented on #240
I think right now we only check for a route when deciding whether to accept a deal but I believe in #650 you're adding the check before we initiate a deal as well which is good I think.

[2018-11-12 12:41] kilrau commented on #240
We don't require a direct channel, a route is fine - sry if this was not clear. We check if the **balance** of OUR channel with the next peer is sufficient, no matter if the next peer is the final destination or not. We obviously can't check anything after the first hop anyways. @sangaman @kilrau

I'd suggest to do it, but only print a warning/hint as I mentioned [above](https://github.com/Exchang

[2018-11-12 12:44] sangaman commented on #654
I wasn't thinking about batching the actual LND payments behind the scenes (just the xud packets), but I'm going to move that to a separate issue because it's not exactly related to making swaps in parallel.

[2018-11-12 12:58] sangaman opened #664 "Batching swaps"
This is an offshoot of discussion in #654. From @offerm

I think that the benefit of batching packets on the xud side alone is minimal, given that it doesn't change the number of trips between peers a swap must make before being executed. Batching on the lnd side might be a different story, although I'm also not sure there because we're still able to setup HTLCs for multiple swaps in parallel.

Wo

[2018-11-12 16:55] kilrau commented on #656
Agree and let's include it for now for testing purposes of outside testers.

I would also be interested if this is the case. @sangaman

That's correct, but it's fine - Daniel already agreed on removing it.

[2018-11-12 17:54] kilrau commented on #656
Regarding `subscribeSwaps` , we always try to discuss these things in a group, multiple reviews of PRs - it's never to put on one ;)

Let's re-open the discussion about `subscribeSwaps` in nomatching mode from what we know today. Main calls are:

I suggest we offer the same SYNC + ASYNC way to update about a swap result as we offer for `placeOrder`. Meaning `executeSwap` can be called SYNC and del

[2018-11-12 18:45] sangaman commented on #656
The rpc subscription methods were discussed a ton (see #123 and #500). If we want to discuss more or about `executeSwap` that's fine but I don't think it should be in this issue because it's unrelated and will make the discussion harder to follow. In short I don't see the need for the changes and I think it would add complexity.

[2018-11-12 18:49] kilrau opened #666 "Matching mode: check "hold" on internal match"
As discussed in Slack, this issue is about implementing a check if an `ownOrder` is on hold when matching it with another `ownOrder`.

[2018-11-13 17:09] #640 closed

[2018-11-13 17:30] erkarl commented on #240
@kilrau @sangaman

As discussed during the call:
I've been trying to figure out how to implement the channel balance sanity checks upon `placeOrder`, but haven't found a good solution, yet. One idea that I had was that this feature would be for CLI `buy/sell` only in order to provide users feedback.

[2018-11-13 17:32] kilrau commented on #240
Ok how would it work if it's CLI only. As @sangaman  said, it needs to pull channel info from LND & Co

[2018-11-13 17:33] #639 closed

[2018-11-13 17:34] erkarl commented on #240
@kilrau the `buy/sell` command would internally call xud's `channelbalance` command and break the execution if the balance doesn't exist or warn the user if there's not enough local balance.

[2018-11-13 17:34] kilrau commented on #661
Let's continue here to list swap errors and proposed behavior each @offerm @sangaman

[2018-11-13 17:40] kilrau commented on #240
Would that significantly delay the CLI response?

[2018-11-13 17:47] sangaman opened #670 "Add currencyReceived and currencySent to SwapResult rpc message"
Currently the `SwapResult` grpc message includes `amountReceived` and `amountSent` but no indication of what currency was received and which was sent. Previously it would have been possible to determine this based on `pairId` and whether the quantity was negative (sell) or positive (buy), but since we changed how that worked to make `quantity` always positive, it's not possible without looking up

[2018-11-13 17:53] sangaman commented on #661
As a corollary to this, I was thinking about extending the `SwapFailureReason` enum we have to cover all the possible reasons a swap can fail. Right now we only set a `string` error message on swaps when they fail/error. We can keep that for details on the error (like the error message returned from `lnd`), but it would also be nice to have a clearly defined reason for the failure where we can eas

[2018-11-13 17:59] #644 closed

[2018-11-13 18:32] sangaman opened #671 "Comprehensive SwapFailureReason"
This is partly an offshoot of #661 (and would be good to implement before that PR is solved). Right now we only set a string error message on swaps when they fail/error. We can keep that for details on the error (like the error message returned from lnd), but it would also be nice to have a clearly defined reason for the failure where we can easily do something like `if (swapDeal.failureReason ===

[2018-11-13 18:41] kilrau commented on #671
Sounds good and sounds like this should be the first thing todo? @offerm ?

[2018-11-13 18:41] #291 closed

[2018-11-13 19:17] kilrau commented on #670
This looks relatively small - this or next milestone?

[2018-11-13 19:21] erkarl commented on #240
It depends on what we consider significant. It's a tradeoff between UX and performance.
`channelBalance: 2.356ms` using my local environment (your milage may vary). For humans it doesn't really matter.

If the CLI is used programatically (in which case they should really be using gRPC instead) then ~2ms might make a big difference.

[2018-11-13 20:01] sangaman commented on #240
What Karl says makes sense, it wouldn't be too hard to just call `channelbalance` and do a quick comparison. I have a couple of concerns though:

1. The check doesn't assure us of very much, sufficient channel balance is no guarantee that we'd actually have a route, nor that we have sufficient incoming capacity to receive the other side of the swap.

2. I'm not sure prompting `y/n` if an order can

[2018-11-13 20:03] sangaman commented on #670
Yeah it's small, but I think lets leave it for next milestone because I want to implement it after #669 is merged.

[2018-11-13 20:10] sangaman commented on #671
Oh sorry I meant to assign to myself - I actually already have some code written for this (from when I was working on #627). It's nothing much so offer can do it if he's looking for something, but I already have some of the changes in mind.

[2018-11-13 20:20] sangaman commented on #573
Yes, we probably need further discussion on the afterthought of periodically pinging `lnd` to make sure it's working, but the first part of disabling the LndClient if calls to `lnd` fail due to connectivity errors or anything we don't expect to recover from automatically can be worked.

[2018-11-13 20:32] sangaman commented on #661
I'm thinking here too, disconnecting from a peer might be too drastic even in case of an unexpected swap failure because it might only be an issue with a particular trading pair. If we have 10 trading pairs active, we don't want to kill trading on the other 9. Then again, we also don't want to keep accepting orders for the trading pair that failed.

We could update our handshake with the peer and

[2018-11-14 05:37] #547 closed

[2018-11-14 07:02] erkarl commented on #240
@sangaman

1. True. It would just ensure that the channel exists and that there's enough *outbound* balance (only 1 side of the swap).

3. I'm now leaning towards this approach as well. Correctly done sanity checks along with the reputation system should eventually make the orderbook quite reliable.

[2018-11-14 07:33] erkarl commented on #661
I agree on the disconnecting part. No need to disable the other 9 trading pairs. I think we need to rethink the reputation/banning system a little to add support for disabling/banning trading pair.

I'd keep it simple for re-enabling the pair by just using an increasing timeout.

[2018-11-14 08:56] erkarl commented on #648
The issue itself is pretty clear to me. Question is, do we want it in alpha5?

[2018-11-14 16:36] sangaman commented on #661
Re-enable the pair after some time has elapsed? That's fine I think, but it would be nice to have a way to check if swaps are working before we wind up with another failed swap. That's why I'm thinking something like 1 satoshi test swaps might be useful, perhaps even as part of the initial handshake. That's tangential to this issue but if it seems potentially worthwhile I can open a separate issue

[2018-11-14 16:50] sangaman commented on #648
For me it would would just be a low priority enhancement, not urgent at all but if it's something that would be interesting to work on then go for it.

[2018-11-14 17:08] offerm commented on #661
How about a test swap on every new order ?

On Wed, 14 Nov 2018 at 18:36 Daniel McNally <notifications@github.com>
wrote:

[2018-11-14 17:17] sangaman commented on #661
@offerm I'll respond and share my thoughts in a separate issue later today.

[2018-11-14 20:08] moshababo commented on #588
I opened a new golang repo for the tests, with the initial commit PR. Lets continue the discussions there.

https://github.com/ExchangeUnion/xud-simulation

[2018-11-14 20:08] #588 closed

[2018-11-14 22:13] programarivm opened #673 "docker_xud_1 exited with code 1"
Hi, I can't get the docker containers running as shown next.

`docker-compose up -d`:

[code]

`docker ps -a`:

[code]

[2018-11-14 22:39] programarivm commented on #673
I wonder if it'd make sense to install the `npm` packages through the containers, kind of like this:

[code]

And then run:
[code]

[2018-11-14 23:31] programarivm commented on #673
https://github.com/ExchangeUnion/xud-wiki/pull/2

[2018-11-14 23:31] #673 closed

[2018-11-15 07:57] kilrau commented on #240
Ok , let's leave the CLI check (and prompt) out then. Thanks for your feedback!

[2018-11-15 08:16] erkarl opened #674 "CLI - buy/sell fails due to grpcOrder.setHold"
Using latest master (03b8cd4f3f9f327f1444a2c9a142bfd8875f19cf) `xucli buy/sell` commands error with the following output:
[code]

Caused by: #645

CC @ImmanuelSegol @sangaman

[2018-11-15 11:59] kilrau commented on #648
Low prio for current stage, correct. Moved it to `alpha.6`. If you end up being free, do it tho @erkarl

[2018-11-15 15:08] erkarl commented on #648
I just finished initial PoC for this.

So the output to the table would be:

PRECISION=3
[code]

PRECISION=2
[code]

PRECISION=1
[code]

[2018-11-15 17:14] erkarl opened #675 "Sanity checks before adding to orderbook"
Started as a result of #240 discussion.

### High level specs
* before `placeOrder` add `orderSanityChecks`

`orderSanityChecks` should verify that:
* inbound capacity to execute the order exists
* outbound capacity to execute the order exists

if either of the above checks fails - ERROR!

[2018-11-15 17:15] erkarl commented on #240
Opened #675 for the second part.

[2018-11-15 17:16] #240 closed

[2018-11-15 19:53] sangaman opened #676 "Sanity test swaps"
This is an offshoot from discussion is #661. We might want to do a test swap (1 satoshi for 1 satoshi, or maybe even 1 msat for 1 msat if possible) for each trading pair that is active with a peer (or maybe two test swaps, with each side sending and receiving both pairs). This will verify that routes exist and lnd is properly set up on both sides, and rule out a lot of the problems that might caus

[2018-11-15 20:17] sangaman commented on #675
We could also do this on *peer* orders potentially, so that we check if capacity exists before we add it to our orderbook. In both cases, I think it makes sense to save the capacity in memory (cached in other words) , and only recalculate it after it gets old, maybe 10 minutes? I'm thinking that doing this every time we place an order will introduce too much of a delay - we really want the order p

[2018-11-15 20:43] #152 closed

[2018-11-15 21:49] ImmanuelSegol commented on #674
@erkarl It works for me on master branch.

[2018-11-15 22:14] sangaman commented on #674
Sorry I just saw this. `xucli buy` is working for me as well, can't reproduce. @erkarl, did you make sure you compiled after getting the latest from master?

[2018-11-15 22:33] ImmanuelSegol opened #677 "new RPC - ListTrades"
We should have an RPC method to return all trades from the database.

Should be implemented after #608 is merged.

[2018-11-16 03:52] sangaman commented on #677
I'm not so sure about *all* trades - that would quickly become a ton of data and I'm not sure all of it is needed. Listing recent trades makes sense, but I think for crunching long term data we should look at some reporting that works outside of `xud` itself (which shouldn't be a priority for now).

[2018-11-16 04:34] #223 closed

[2018-11-16 04:44] sangaman commented on #550
Reopening this as there is still needed logic for partially accepting a swap and for rematching any portion of a swap request that is not accepted.

[2018-11-16 05:54] #620 closed

[2018-11-16 07:43] erkarl commented on #674
@ImmanuelSegol @sangaman

Turning it off and on again worked. I was using `dev:watch` which I assumed would copy `lib/proto` to `dist/proto`.

Sorry for the false alarm.

[2018-11-16 07:43] #674 closed

[2018-11-16 09:34] #608 closed

[2018-11-16 12:00] kilrau commented on #648
Neat!

Nor sure if we need different precision levels though, I'd go with 3 decimals and cut if longer. Compare e.g. https://www.kraken.com/charts

[2018-11-16 12:48] kilrau opened #680 "Caching Channel Balance Thresholds"
We want to cache the following values:
`<coin>_channel_min_in` (default 15% of total channel capacity, all <coin> channels aggregated)
`<coin>_channel_min_out` (default 15% of total channel capacity, all <coin> channels aggregated)

**This issue is just about caching the value**, we'll take care of rebalancing & other actions like [sending alerts](https://github.com/ExchangeUnion/xud/issues/864) i

[2018-11-16 12:48] kilrau commented on #675
Cache channel balances in memory and then check this value on `placeOrder` sounds good! Since this is an independent job (not affecting the `placeOrder` performance) I think we can target 1 min updates (unless there is a reason not to @sangaman @erkarl ), looking a bit into the future where channel balances change very fast when trading volume goes in one direction.

Since we want to support AMPs

[2018-11-16 12:52] kilrau commented on #680
Since both parties of a channel will reach the threshold at the same time (assuming both use the default), there needs to be a negotiation who takes over re-balancing/splicing.

[2018-11-16 13:39] kilrau opened #681 "gRPC+CLI renaming "list"/"get" cleanup"
This issue is about renaming `list`/`get` calls in a consistent manner. I know we all have our feelings about this and especially all the renaming. Brought that up because I believe it's still fixable now. Please leave comments.

Motivation: Let's analyze it from a new dev/CLI user perspective: it looks inconsistent how we use `get` and `list` e.g. `getOrders` and `listTrades`. Especially on CLI u

[2018-11-16 13:43] kilrau commented on #677
Definitely not *all* trades. Also I checked several accounts I have with exchanges: it's usually 'order book' and 'orders' (which is **my** closed and open orders). But I don't think any of us is up for another renaming.

Suggestion: `listTrades` comes in two sections: `Open` and `Closed`. Default should limit to the last e.g. 15, `all` flag gets all and like Daniel said  `reporting` is not our fo

[2018-11-16 14:40] kilrau commented on #676
Nice! So for the LTC/BTC pair we would swap:
* 1 Satoshi for 1 Satoshi
* 1 Litoshi for 1 Litoshi

during the handshake and upon success all continues as of now?

How about a failure? We'd need a feature to disable a certain trading pair with a peer.

[2018-11-16 14:48] kilrau commented on #661
I like the test swap idea (https://github.com/ExchangeUnion/xud/issues/676#issuecomment-439413320) since this catches tons of errors we don't even know about.  Any other opinions? @moshababo @erkarl @michael1011 ?

[2018-11-16 15:51] moshababo commented on #587
@kilrau it seems like the discussions you started on Slack was a continuance to this. Should I close this?

[2018-11-16 16:59] kilrau commented on #587
Let's leave it open for now

[2018-11-16 21:16] offerm commented on #676
By such check we can learn that there is a BTC route from me to peer and there is an LTC route from the peer to me.
We should also check the reverse direction LTC, BTC.

Once we do that we are sure about routing and we are sure about resolver setup.

This is a very good start as it will handle the situation we have with xud1 which is not setup properly.

What will be missing is capacity check.

Al

[2018-11-17 11:29] kilrau commented on #677
Related: https://github.com/ExchangeUnion/xud/issues/681

[2018-11-17 11:55] kilrau commented on #676
The proposal was to swap 1 satoshi for 1 satoshi and 1 litoshi for 1 litoshi to test the setup. Question: can we currently even support this? Resolver wouldn't be involved? @offerm
We could also do the more realistic 1 satoshi for 1 litoshi and back 1 litoshi for 1 satoshi where the resolver definitely will get involved BUT since we are dealing with 2 different assets here we'd have to make sure t

[2018-11-17 12:05] kilrau commented on #656
Taking the `subscibeSwap` discussion out, this issue is ready to go @ImmanuelSegol : https://github.com/ExchangeUnion/xud/issues/656#issuecomment-437651171

[2018-11-17 12:07] kilrau commented on #653
What do you guys think? Something for you? @erkarl

First steps leaving the happy swap flow :)

[2018-11-17 13:19] offerm commented on #676
I don't think we currently support BTC to BTC swap.  Nothing is missing on the resolver side but XUD is not ready for it (I think).
If you just want to enhance the handshake logic to include sending 1 sat this can be done easily but I'm not sure what the value of this is.

I was thinking about trying a swap for real. So when I accept a connection, I can play the role of a taker and try to swap LTC

[2018-11-17 13:32] offerm commented on #638
Is there a way to see everything happened to an order? `getOrder`?

[2018-11-18 09:51] offerm commented on #622
FOK can be tricky with XUD.

To properly support it we need all the swaps to use the same preimage and
the taker should release the preimage only if and when he got the payment
from the maker for all the swaps initiated by taker.

IOC and AON can be easier to implement.

We can redefine FOK in a way that it must be matched with a single maker
order. This may create a situation in which the match w

[2018-11-18 12:11] kilrau commented on #661
Actually test swaps doesn't eliminate the need for dealing with different kind of swap errors differently. It just makes swap errors less likely to appear. So I'd keep this issue open to define swap error + behavior. @sangaman @offerm

[2018-11-18 12:12] kilrau commented on #676
Oh, controlled failing of the swap indeed would be the best option! Just have to take care HOW we let the swap fail. E.g. a wrong rate could result in a negative reputation event at some point. Also knowing this, the maker could just accept the rate and exploit the situation by letting the swap succeed. I'd prefer a safer way to gracefully cancel the trade right before pre-image release.

We want

[2018-11-18 12:47] kilrau commented on #622
FOK: I already defined it in the way you described for the reason you described (https://github.com/ExchangeUnion/xud/issues/622#issuecomment-436562651: `no partial matching allowed` means match with one order or none.

Addition to your reason: we could theoretically only support partial matches with the **same taker** anyways, but not with different takers since they all would need to agree on us

[2018-11-18 13:01] offerm commented on #622
Why the same preImage can't be used for multiple makers? Should not be a problem since we have a single taker and multiple makers.

[2018-11-18 13:08] kilrau commented on #573
Please prepare the code to include pings to raiden and other swap nodes, not only LND. @ImmanuelSegol

[2018-11-18 13:11] kilrau opened #684 "What exactly to do when lnd or raiden is disconnected"
Prerequisite: https://github.com/ExchangeUnion/xud/issues/573

This issue is about answering the question: What should we do if we `xud` identifies via #573  that it is not properly connected to LND?

Current opinions:
a) disconnect from all peers
Good: easy
Bad: doesn't differentiate between e.g. LND and Raiden
b) Throw an error through gRPC and revoke all trading pairs with swap protocol LND. Al

[2018-11-18 13:12] kilrau commented on #676
Made it a [separate issue](https://github.com/ExchangeUnion/xud/issues/684). I wouldn't want to just disconnect if LND fails because we still have raiden and others in future.

[2018-11-18 14:20] kilrau commented on #552
Only applicable for matching mode.

Your suggestion sounds good. Would definitely go for a different error message, sth along the lines "order currently swapping, order will be automatically removed if swap doesn't succeed".

[2018-11-18 14:33] kilrau commented on #458
Clear what to do here? @sangaman

[2018-11-18 14:38] kilrau commented on #402
Any new ideas on how to query deltas of new nodes only NOT using timestamps? @moshababo @sangaman

[2018-11-18 14:40] kilrau commented on #401
Only #154 & #402 are left, won't need this overview issue anymore. Closing.

[2018-11-18 14:40] #401 closed

[2018-11-18 14:46] kilrau commented on #157
https://github.com/ExchangeUnion/xud/issues/159 is a requirement

[2018-11-18 14:46] kilrau commented on #159
Let's go for this this milestone!

[2018-11-18 15:18] kilrau commented on #106
Waiting for mainnet release. Asked Lefteris to keep us in the loop on the HTLC design, so we can help to make them compatible with ln.

[2018-11-18 15:19] kilrau commented on #174
Waiting for Raiden swaps (https://github.com/ExchangeUnion/xud/issues/106)

[2018-11-18 16:48] kilrau commented on #660
Agreed.

They don't have to? What other options do they have?

Let me quote from CJPs paper on incentives to delay a trade if there are **no** enforced timeouts:
• After incoming X are locked in, Maker can delay locking in outgoing Y. Just
before Taker's incoming HTLC time-out is expected, Maker decides:
- The value of X has increased w.r.t. Y -> lock in the outgoing Y.
- The value of X has decrea

[2018-11-18 16:49] kilrau commented on #660
Updated scope of this issue:
from when do we regard one sided "committed" to a trade" and how can we take action if one side times-out and doesn't cooperate on gracefully cancelling the trade

[2018-11-18 16:56] kilrau commented on #587
We'll move our discussion here to keep it transparent. Current status of proposals:

[2018-11-18 21:23] offerm opened #685 "streamOrders - missing timestamp"
CLI streamorders is missing the timestamp for each event.
Best if the time stamp will be the event timestamp and not the stream's data timestamp.
It would be great if we have a similar time stamp as the log so we can easily find the event in the log.
Time stamp should include milliseconds.

[2018-11-18 21:24] offerm opened #686 "Enhance log to include milliseconds"
Enhance log output to inlcude milliseconds in each printing.

Today we only should the time up to the seconds.

[2018-11-18 21:39] offerm opened #687 "streamOrders - wait for XUD"
Enhance streamorders CLI in the following ways:

a. allow it to start before `xud`. `streamorders` should wait for `xud` to start and not issue an error. It is OK to issue a warn/info for waiting for XUD.

b. print a line upon connection

c. upon termination of `xud`  or any other RPC error - reconnect to `xud` (wait if `xud` is not available.

d. upon connection to xud - print existing orders.

W

[2018-11-18 21:40] offerm opened #688 "streamOrders - missing swap information"
if `streamorders` is running and my node acts as the taker, swap information is not printed.

Fix that.

[2018-11-18 21:49] offerm opened #689 "New CLI - ListOrderHistory"
I see a new for a new cli `getorder` which accept orderId as a mandatory parameter.

The CLI should list all events related to the order since entered until fully removed from the orderbook.

The output of the CLI should allow us to understand what had happend with the order similar to this:
https://github.com/ExchangeUnion/xud/issues/638#issuecomment-436665439

#677 and #477 don't provide a good

[2018-11-18 21:52] offerm opened #690 "placeorder enhancements"
place order should be enhanced to show all events from order entry until order is entered to the book as ownorder.

we should always present the orderId (even if no own order created).

[2018-11-18 21:59] offerm commented on #664
@sangaman please consider parallel swap between different peers and parallel swaps for orders of a peer.
Also the use of the same rHash for all orders of the same peer.

This is somehow related to capacity checking,

Suggest you describe how you plan to handle this so we can discuss.

[2018-11-18 22:19] offerm commented on #660
They can leave the HTLC panding and continue using the channel. Only when the channel is running out of capacity there will be a need for closing it. HTLC may stay pending due to the peer LND disconnected. In such case, it is better to wait for the peer's LND to come back and close the HTLC and not force close the channel.

Once the maker accepted the swap by sending back the P2P packet, the parti

[2018-11-18 23:44] sangaman commented on #690
What specifically do you have in mind besides #609 (failed swap events)? That would then cover all matches, swaps, and failed swaps, plus any remaining quantity that gets added to the order book.

[2018-11-19 00:00] sangaman commented on #681
I've voiced my opinion in related issues but I'll say again.

"List" definitely does not make sense for fetching single objects. So we definitely should not have `ListInfo` for example, but also not `ListNodeInfo` for a single node.

Using "list" for lists and "get" for single objects is pretty standard I think and consistent with lnd as well as the [bitcoind API](https://en.bitcoin.it/wiki/Origin

[2018-11-19 00:09] sangaman commented on #664
I'm not quite sure. Do you happen to know if lnd would have any issues handling multiple payments that use the same preimage? If so, we might need to batch then to handle things like all-or-nothing orders. Otherwise, I'm thinking there's not much of a benefit from batching swaps at all and that this should not be a priority.

If you're not sure I can do some research.

[2018-11-19 01:33] sangaman commented on #458
Yes but it's not on my short list of things to do, I think pushing it back to a further milestone makes sense.

[2018-11-19 19:45] kilrau opened #693 "Implement the behavior for #152 disconnect package "banned""
This is an offshoot of #152 and implements the behavior for disconnect package "banned"

* if we're getting the #152 packet for being banned instead of `HELLO` on connection attempt, socket gets closed by peer and we stop connecting to the peer (ban/disable outgoing connections to this node). If peer successfully connects to us again, we delete the in-memory entry.
* if peer doesn't send #152 or `

[2018-11-19 20:09] sangaman commented on #693
If we dont get any response when connecting to a peer (2nd bullet point), I think it makes to sense to keep retrying as we do currently. It could be due to a transient system or network issue.

If we get a disconnecting packet that tells us we are banned, we should stop trying to reconnect, and I think probably update the node instance in the database to not attempt to reconnect on restart (new db

[2018-11-20 00:48] sangaman commented on #402
Thinking about this again I don't have any bright ideas. I'm thinking that for now, it'd be ok just to query for everything. It's not a lot of data to transmit or anything, and we're not dealing with very large numbers of nodes yet. So I can implement just the periodic queries, and it can be improved later perhaps.

[2018-11-20 03:36] sangaman commented on #159
I'm personally not exactly sure how I'd go about implementing this with protobuf, but if you have an approach in mind then I'd say go for it and let's see how it works.

I do think we'd need to either use delimiters (like we're doing now) or send the size of the message before each message. See "Streaming Multiple Messages" here https://developers.google.com/protocol-buffers/docs/techniques?csw=1.

[2018-11-20 03:51] sangaman commented on #159
A simple option would be to gzip messages over a certain size with [zlib](https://nodejs.org/api/zlib.html#zlib_convenience_methods).

I'm also reading that the performance benefits of protobuf over JSON are not that great when messages need to be converted from and to JSON anyway as is the case for `xud`: https://auth0.com/blog/beating-json-performance-with-protobuf/.

[2018-11-20 03:55] sangaman commented on #550
I'll handle the remaining part.

[2018-11-20 04:11] sangaman commented on #684
We shouldn't disconnect from peers, as losing connectivity to lnd only means that one currency is impacted, so I think the better route is to temporarily disable all affected trading pairs. That would update the handshake with our peers to let them know we aren't supporting that pair (which in turn would make them drop all our orders for that pair) and would fail any rpc calls to place an order (o

[2018-11-20 04:16] sangaman commented on #676
I was thinking of swapping the smallest amount of one currency for another, a true cross-chain swap. If we can do swaps of the same currency without making it more complicated that would be fine too, better even.

What's your concern with doing it as part of the handshake? What alternative do you have in mind? I think handshake makes sense because that's when peers advertise the pairs they support

[2018-11-20 04:18] sangaman commented on #573
I'd recommend opening a PR just for the lnd side of  things first.

[2018-11-20 09:20] moshababo commented on #159
In regards to the last article, i'm not sure I understand why messages need to be converted from/to JSON on JS runtime - JSON is just the string representation, and if i'm going from binary to plain JS object (and vise versa), why do I need JSON?
Also, the benchmarks for HTTP endpoints, so that's a bit different from our use-case.

We can indeed introduce gzip, but the main downside with JSON (bes

[2018-11-20 12:14] kilrau opened #694 "ExecuteSwap -> remove peerPubKey"
This call shouldn't require any peerPubKey since exchanges order gets mapped with XU `oderID` which has all info including the peerPubKey. Remove, not optional.

[2018-11-20 13:02] moshababo commented on #694
We recently refactored (#589) the peer orders to be grouped by `peerPubKey`. So this would require scanning all the orders, or maintaining separate map (not a good idea).

[2018-11-20 13:55] offerm commented on #690
This wha I see today:

[code]

I don't see the matches (it was matched against 2 orders) and I don't see the failure. I also don't see that the peer orders is removed from the book or that the quantity reduced.

If I do that :

[code]

I even  don't see my order ID.

[2018-11-20 16:00] sangaman commented on #688
I don't think it's guessing, the results for swaps you initiate are returned when you initiate a swap via `PlaceOrder` or `ExecuteSwap` - and the description of the `SubscribeSwaps` call starts with `Subscribes to completed swaps that are initiated by a remote peer.`

I still am not really seeing the need for this, but if we do go with it I'd rather see this as an optional flag that can be set on

[2018-11-20 16:04] sangaman commented on #690
The failed swap events are being handled in #609 as I said. Is there a successful match/swap that you expected to see that wasn't there? Or was the 2nd match the failed one?

We can return the orderId even when fully matched, that's not a problem. If we just want to make this issue about returning that orderId, then after this and #609 is solved it sounds like you'll have everything you're looking

[2018-11-20 16:47] sangaman commented on #694
I was thinking of scanning all orders, which shouldn't be that bad. Calling `has` on all the peer order maps should be fast, I believe it's a constant time operation.

I was thinking of maybe having `peerpubkey` be an optional parameter to skip the lookup, but maybe it's just a source for possible confusion. Or we could drop peerpubkey from the cli, and keep it on the actual grpc call.

[2018-11-20 16:49] sangaman commented on #159
That makes sense. Although even with protobuf, we'd still want some validation to ensure certain properties are assigned values (and valid ones) right? I believe protobuf doesn't have "required" fields.

Definitely give protobuf a try, I think it'd be great if we can get it to work, but not a problem if we can't.

[2018-11-20 17:10] kilrau commented on #664
https://github.com/ExchangeUnion/xud/issues/622

[2018-11-20 19:19] kilrau commented on #471
As discussed, a GUI might not be the right for our target group of technical traders, hence check https://www.npmjs.com/package/ccxt compatibility (check how sparkswap did it)

[2018-11-21 13:09] moshababo opened #698 "connection retries not working"
Looks like we have a problem with the connection retries -
When connecting to a node, we try various addresses. On the first address, the node **expected** public key is being added to `pendingOutgoingConnections`. if connection fails, it should be removed from there, but the current code is doing it only if handshake has completed. If not, we don't have the public key, but we should use the expec

[2018-11-21 17:01] offerm opened #699 "xucli 'shutdown' doesn't shut down xud process"
xucli shutdown does not bring the process down and does not close the active peer connections.

[2018-11-22 16:38] #319 closed

[2018-11-23 05:59] sangaman commented on #699
Can you provide more details/steps to reproduce? If I start up xud, connect to peers, and then run `xucli shutdown` it does end the process. Do you see different?

[2018-11-23 06:02] offerm commented on #699
Yes. Will try to generate a log

On Fri, 23 Nov 2018 at 7:59 Daniel McNally <notifications@github.com> wrote:

[2018-11-23 06:05] sangaman commented on #699
Thanks, I do see at least one thing that could keep us from ending the process (the peer reconnection timers) so that might be the issue here.

[2018-11-23 06:10] offerm commented on #699
This is what I find in the log:

11/23/2018, 6:05:52 AM [GLOBAL] info: XUD is shutting down
11/23/2018, 6:05:52 AM [RPC] info: gRPC Web API proxy stopped listening

Easy to reproduce on test1.xud
~

[2018-11-23 06:18] offerm commented on #699
You need to have a peer connected to the node to see the problem.

[2018-11-23 06:19] offerm commented on #699
Also note that it is not working also with master.

[2018-11-23 06:33] offerm commented on #699
Not solved. Suggest you start by reproducing the problem.

[2018-11-23 06:40] sangaman commented on #699
Ok I'll have to revisit tomorrow. It's not as simple as having a peer connected as my first try to reproduce did not have this issue even with peers connected. Can you share the full log including all peers you connected to? Are you just starting xud and then shutting down, or doing anything else in between?

[2018-11-24 21:10] programarivm opened #703 "webproxy tests: api/v1/nodeinfo/?node_pub_key=foo returns 500"
I just added a ddtd test for the webproxy in https://github.com/ExchangeUnion/xud/pull/700

    node node_modules/.bin/mocha -r ts-node/register test/webproxy/nodeinfo/HttpStatus422.spec.ts

Output obtained:
[code]
This is because a `422` status code should be returned when requesting `api/v1/nodeinfo/?node_pub_key=foo`.

[2018-11-24 21:58] programarivm commented on #703
Closed. Sorry about this, just updated the url to `http://localhost:${config.webproxy.port}/${endpoint}/foo` instead of `http://localhost:${config.webproxy.port}/${endpoint}/?node_pub_key=foo` and the webproxy responds as expected with `404`.